/*

  LOCAL NAVIGATION
  - also known as 'subnav' to some, this is the navigation panel unique to each product vertical

*/


.localnavigation {
  @extend .clearfix;
  background-color: $container-blue-darkest-bg-color;
  width: 100%;
  padding: 0;
  height: px_to_em(48, 16);
  overflow: hidden;

  &.-expanded {
    height: auto;
  }

  &.affix{
    @include breakpoint($breakpoint-2) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10000;
    }
  }

  .icon-wrapper-left{
    float: left;
    .icon-medium{
      font-size: 20px;
      line-height: 16px;
    }
  }

  .icon-expanded, .icon-x{
    float: right;
    margin: 2px 0 0 5px;
  }
}

.localnavigation__wrapper {
  @extend .container;
  @extend .clearfix;

  &.-mobile {
    display: none;
    @include breakpoint($breakpoint-2) {
      display: inherit;
    }

    #back-button{
      display: none;  
    }
    .localnavigation__right .localnavigation__button:nth-of-type(2) {
      display: none;
    }
  }

  &.-nonmobile {
    display: none;
    @include breakpoint($breakpoint-2-flip) { 
      display: inherit; 
    }
  } 
}

.localnavigation__left {
  @extend .fl;
  @extend .cw;

  // only needed for sports
  @if ($product != "sports") {
    display: none;
  }
}

.localnavigation__right {
  @extend .fr;
  @extend .cw;

  // only needed for sports
  @if ($product != "sports") { 
    display: none;
  }

  .localnavigation__button {
    margin-left: px_to_em(4, 12);
    margin-right: 0;
  }
}

.localnavigation__nonmobile {
  @extend .fl;
  padding: px_to_em(4, 16) px_to_em(80, 16) px_to_em(4, 16) 0;
  position: relative;
  width: 100%;
}

.localnavigation__column-dropdown {
  padding: 0 px_to_em(4, 12);
}

.localnavigation__button {
  @extend .button-clear;
  margin: px_to_em(8, 12) px_to_em(4, 12) px_to_em(8, 12) 0;
  padding: px_to_em(8, 12) px_to_em(8, 12) px_to_em(8, 12) ;
  height: px_to_em(32, 12);
  font-weight: normal;
  color: $header-text-color;

  &.-active {
    background-color: $button-blue-dark-bg-color; // Todo[TV] Logic is mot implemented , tha class -active needs to be applied //
    color: $header-text-active-color;
    cursor: default;
  }
  &.-expanded {
    height: px_to_em(40, 12);
    margin-bottom: 0;
    padding-bottom: px_to_em(16, 12);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $container-blue-darkest-bg-color;
  }
  &.-option {
    color: $mercury;
  }

  &.-primary{
    background-color: $button-blue-dark-bg-color;
    position: relative;
    &:hover {
      background-color: $button-blue-dark-hover-bg-color;
      color: $text-white-color;
    }
    &.-active {
      background: none;
    }
  }
}

.localnavigation-dropdown {
  @extend .panel;
  @include box-shadow(0 8px 0 0 $transparency-black-light-color);
  z-index: 1;
  border: 0;
  padding: px_to_em(12, 12) px_to_em(4, 12);
  overflow-x: scroll;
  display: none;
  width: 100%;
  left: 0; 
  right: 0;

  &.mobile-only {
    display: none;
    z-index: 1000;
    @include box-shadow(0 8px 0 0 $transparency-black-light-color);
    &:not(.mobile-context-nav) {
      height: auto;
    }
  }

  &.-no-scroll { overflow: hidden; }

  &.-expanded {
    display: block;
  }
}

.localnavigation__button-dropdown {
  @extend .localnavigation__button;
  text-align: left;
  margin: px_to_em(4, 12) 0;
  color: $mercury;
  white-space: nowrap;
  width: auto;
  width: calc(50% - 0.6666666em);
  float: left;
  @include breakpoint($breakpoint-6) {
    width: px_to_em(150, 12);
  }
  &.navMatches-visible {
    display: inline-block;
  }
}

.localnavigation__button-nonmobile {
  @extend .localnavigation__button-dropdown;
  color: $header-text-color;
  margin: px_to_em(4, 12) px_to_em(4, 12) px_to_em(4, 12) 0;
  > .gaming-icon { 
    font-size: 16px; 
    position: relative;
    top: -1px;
  }
  > .capitalize { 
    position: relative;
    top: -3px;
  }
}

.localnavigation__button-showmore {
  @extend .localnavigation__button-nonmobile;
  width: auto;
  position: absolute;
  right: 0;
  top: px_to_em(4, 12);
  margin-right: 0;
}

.localnavigation_inner-dropdown {
  nav:not(.mobile-context-nav) & {
    height: auto;
  }

  > section {
    height: 100%;
    overflow: hidden;
  }

  .localnavigation__button-dropdown { margin: 0.33333em; }
}