


/*

  NAVIGATION
  - Various navigation menu and toolbar

*/

nav {

  /* TODO: Product Vertical Navigation */
  &.-products{
    a{

    }
  }

  /* TODO: Sports local navigation */
  &.-sports-local{
    a{
      i{

      }
    }
  }

  /* TODO: Games local navigation */
  &.-games-local{
    a{
      i{

      }
    }
  }

  /* TODO: Account Menu */
  &.-account{
    a{
      i{

      }
    }
  }

  &.sidebar {
    @include breakpoint($breakpoint-2) {
      display: none;
    }

    @include span(px_to_em(85, 12)); // susy mixin
    margin-top: 1.500em; // 24px

    .sidebar__group {

      @include span(px_to_em(85, 12) - gutter() - gutter()); // susy mixin

      padding:0;

      &.affix-top {
      }

      &.affix {
        position: fixed;
        top:1.5em;
      }

      &.affix-bottom {
        position: fixed;
      }
    }

    ul {
      font-size: 12px;

      li {
        position: relative;
        .badge {
          width: auto;
          position: absolute;
          top: px_to_em(4, 12);
          left: px_to_em(4, 12);
        }


        a {

          i {
            display: block;
          }
        }
      }
    }

    &.-toolbar{
      li {
        background-color: $container-blue-dark-bg-color; //@TODO[el] - Not sure this is the correct blue
        border-radius: 5px 0 0 5px;
        margin: 1px 0;
        @include transition(background-color linear $fastAnim);
        text-align: center;

        &:hover{
          background-color: lighten($container-blue-dark-bg-color,20%);
        }

        a{
          color: #fff;
          display: block;
          padding: 10px 0;

          i{
            margin-bottom: 2px;
            width: 100%;
          }
        }

        section {
          display: none;
        }

      }
    }

    &.-contextual {

      li {
        text-align: center;

        a {
          color: $text-black-color; // use for hover below
          display: block;
          font-weight: bold;
          padding: 8px 0;
          background-color: $Athens-Gray;
          @include border-radius(0 4px 4px 0);
          margin-bottom: 1px;

          &:hover {
            background-color: $container-gray-bg-color;
            color:lighten($mine-shaft, 20%); // use colour above
          }

        }

        i{
          font-size: 16px;
          margin-bottom: 2px;
          width: 100%;

          &.icon-highlights {
            color: #005266;
          }
          &.icon-meetings {
            color: #568000;
          }
          &.icon-competitions {
            color: #568000;
          }
          &.icon-calendar {
            color: #0d7d94;
          }
          &.icon-coupons {
            color: #9a83b5;
          }
          &.icon-specials {
            color: #d65a77;
          }
          &.icon-in-play {
            color: #e58422;
          }
          &.icon-whtv {
            color: #758fa8;
          }
          &.icon-promotions {
            color: #009480;
          }
          &.icon-results {
            color: #a86d32;
          }

        }

        &.-active {
          border-right: 0;
          border-top: 0;
          background-color: $container-blue-bg-color;
          @include border-radius(0 4px 4px 0);


          a{
            background-color: $container-blue-bg-color;
            border-radius: 3px;
            color: #fff;
            margin: 1px 0;

            i {
              color: #fafafa;
            }

            &:hover {
              background-color: $container-blue-bg-color;
            }
          }

        }
      }
    }

  }

}

// Resolution for issue SBK-809.
// Sidebars (-contextual, -toolbar) overlaps on page content when betslip is open or close and Sidebars are positioned "fixed" (.affix, .affix-bottom)
body[data-panel-open=''] .sidebar {
  .affix, .affix-bottom {
    margin-bottom: 0px;
  }
}
body[data-panel-open='right'] .sidebar {
  .affix, .affix-bottom {
    margin-bottom: 1px;
  }
}