/*

  OVERLAYS
  - modal overlays and other lightboxes

*/

.overlay {
  &.-modal {
    background-color: $transparency-black-dark-color;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
  }

  // these control the various iframes that can (currently) be loaded
  iframe {
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
  }

  .-register,
  .-deposit,
  .-transfer,
  .-withdraw,
  .-reverseWithdraw {
    $width: 996px;
    $height: 550px;

    height: $height;
    margin-top: -($height / 2);
    margin-left: -($width / 2);
    width: $width;
  }
}