article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0;
}
nav ul,
nav ol,
ul,
ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hidden {
  display: none;
  visibility: hidden;
}
.invisible {
  visibility: hidden;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
}
.breakword {
  word-wrap: break-word;
}
.normal-wrap {
  word-wrap: normal;
}
.inherit-wrap {
  word-wrap: auto;
}
@keyframes pulsate {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    -webkit-opacity: 0.25;
    -moz-opacity: 0.25;
    opacity: 0.25;
    filter: alpha(opacity=25);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  50% {
    -webkit-opacity: 0.25;
    -moz-opacity: 0.25;
    opacity: 0.25;
    filter: alpha(opacity=25);
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
html {
  background: #d9dee4;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: Arial, Helvetica, HelveticaNeue, sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  color: black;
  margin: 0 auto;
}
body {
  max-width: 996px;
  margin: auto;
}
main {
  vertical-align: top;
  width: 100%;
  clear: both;
  *zoom: 1;
}
main:before,
main:after {
  display: table;
  content: "";
}
main:after {
  clear: both;
}
main.highlights {
  display: table;
}
#market-collections.comp-view {
  min-width: 155px;
  display: table-cell;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#market-collections.comp-view > ul > li > span {
  color: #576E80;
  display: block;
  padding: 0.4em;
}
#event-container {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#event-container abbr {
  color: transparent;
}
#event-container.events {
  display: block;
  float: left;
}
#event-container.events > header {
  margin-top: 1em;
  padding-bottom: .5em !important;
}
#event-container.events > header h1 {
  margin: 0;
}
#mainHPColumn1,
#mainHPColumn2 {
  float: none;
  width: auto;
  display: table-cell;
  vertical-align: top;
}
#mainHPColumn1 {
  width: 100%;
}
#mainHPColumn2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
section#rhs {
  padding: .5em 0 0 .5em;
  display: table-cell;
  vertical-align: top;
  min-width: 330px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
div#contentB {
  margin: 50px auto 0;
  float: none;
}
#SiteFooter {
  background-color: #213846;
  background-image: -moz-linear-gradient(top,#425F6F,#213846);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#425F6F),to(#213846));
  background-image: -webkit-linear-gradient(top,#425F6F,#213846);
  background-image: -o-linear-gradient(top,#425F6F,#213846);
  background-image: linear-gradient(to bottom,#425F6F,#213846);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff425f6f', endColorstr='#ff213846', GradientType=0);
}
.footerLinksA {
  padding-right: 16px;
}
@font-face {
  font-family: 'WHIconFont';
  src: url('../../fonts/WHIconFont/WHIconFont-webfont.eot');
  src: url('../../fonts/WHIconFont/WHIconFont-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/WHIconFont/WHIconFont-webfont.woff') format('woff'), url('../../fonts/WHIconFont/WHIconFont-webfont.ttf') format('truetype'), url('../../fonts/WHIconFont/WHIconFont-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'WHIconFont';
  font-weight: normal;
  font-style: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
.icon-large:before {
  vertical-align: middle;
  font-size: 1.3333333333333em;
}
.btn [class^="icon-"],
.btn [class*=" icon-"],
.nav-tabs [class^="icon-"],
.nav-tabs [class*=" icon-"] {
  line-height: .9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large:before,
li .icon-large:before {
  width: 1.875em;
}
ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -0.8em;
}
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .8em;
}
ul.icons li .icon-large:before,
ul.icons li .icon-large:before {
  vertical-align: initial;
}
.icon-home:before {
  content: "\e000";
}
.icon-newspaper:before {
  content: "\e002";
}
.icon-film:before {
  content: "\e003";
}
.icon-clubs:before {
  content: "\e004";
}
.icon-diamonds:before {
  content: "\e005";
}
.icon-spades:before {
  content: "\e006";
}
.icon-pictures:before {
  content: "\e007";
}
.icon-new:before {
  content: "\e008";
}
.icon-support:before {
  content: "\e009";
}
.icon-tag:before {
  content: "\e00a";
}
.icon-folder:before {
  content: "\e00b";
}
.icon-compass:before {
  content: "\e00f";
}
.icon-history:before {
  content: "\e010";
}
.icon-clock:before {
  content: "\e012";
}
.icon-undo:before {
  content: "\e015";
}
.icon-redo:before {
  content: "\e016";
}
.icon-forward:before {
  content: "\e017";
}
.icon-reply:before {
  content: "\e018";
}
.icon-comments:before {
  content: "\e019";
}
.icon-comments-2:before {
  content: "\e01a";
}
.icon-busy:before {
  content: "\e01c";
}
.icon-loading:before {
  content: "\e01d";
}
.icon-key:before {
  content: "\e022";
}
.icon-wrench:before {
  content: "\e025";
}
.icon-cog:before {
  content: "\e026";
}
.icon-bars:before {
  content: "\e028";
}
.icon-gift:before {
  content: "\e029";
}
.icon-meter-slow:before {
  content: "\e02a";
}
.icon-fire:before {
  content: "\e02b";
}
.icon-remove:before {
  content: "\e02c";
}
.icon-power:before {
  content: "\e02d";
}
.icon-bookmark:before {
  content: "\e031";
}
.icon-bookmark-2:before {
  content: "\e032";
}
.icon-star:before {
  content: "\e033";
}
.icon-star-2:before {
  content: "\e034";
}
.icon-heart:before {
  content: "\e035";
}
.icon-heart-2:before {
  content: "\e036";
}
.icon-thumbs-up:before {
  content: "\e037";
}
.icon-thumbs-down:before {
  content: "\e038";
}
.icon-happy:before {
  content: "\e039";
}
.icon-smiley:before {
  content: "\e03a";
}
.icon-neutral:before {
  content: "\e03b";
}
.icon-plus:before {
  content: "\e03c";
}
.icon-minus:before {
  content: "\e03d";
}
.icon-checkmark:before {
  content: "\e041";
}
.icon-minus-2:before {
  content: "\e042";
}
.icon-plus-2:before {
  content: "\e043";
}
.icon-enter:before {
  content: "\e044";
}
.icon-exit:before {
  content: "\e045";
}
.icon-menu:before {
  content: "\e052";
}
.icon-backspace:before {
  content: "\e053";
}
.icon-backspace-2:before {
  content: "\e054";
}
.icon-tab:before {
  content: "\e056";
}
.icon-checkbox:before {
  content: "\e057";
}
.icon-checkbox-unchecked:before {
  content: "\e058";
}
.icon-checkbox-partial:before {
  content: "\e059";
}
.icon-radio-checked:before {
  content: "\e05a";
}
.icon-radio-unchecked:before {
  content: "\e05b";
}
.icon-paragraph-left:before {
  content: "\e05c";
}
.icon-paragraph-center:before {
  content: "\e05d";
}
.icon-paragraph-right:before {
  content: "\e05e";
}
.icon-paragraph-justify:before {
  content: "\e05f";
}
.icon-new-tab:before {
  content: "\e061";
}
.icon-share:before {
  content: "\e063";
}
.icon-gplus:before {
  content: "\e064";
}
.icon-facebook:before {
  content: "\e065";
}
.icon-twitter:before {
  content: "\e066";
}
.icon-youtube:before {
  content: "\e067";
}
.icon-youtube-2:before {
  content: "\e068";
}
.icon-android:before {
  content: "\e06a";
}
.icon-apple:before {
  content: "\e06b";
}
.icon-windows:before {
  content: "\e06c";
}
.icon-switch:before {
  content: "\e06d";
}
.icon-earth:before {
  content: "\e06e";
}
.icon-tennis:before {
  content: "\e085";
}
.icon-basketball:before {
  content: "\e086";
}
.icon-baseball:before {
  content: "\e087";
}
.icon-americanfootball:before {
  content: "\e088";
}
.icon-volleyball:before {
  content: "\e089";
}
.icon-australianrules:before {
  content: "\e08a";
}
.icon-darts:before {
  content: "\e08b";
}
.icon-pool:before {
  content: "\e08c";
}
.icon-golf:before {
  content: "\e08d";
}
.icon-icehockey:before {
  content: "\e08e";
}
.icon-handball:before {
  content: "\e08f";
}
.icon-football:before {
  content: "\e084";
}
.icon-star-3:before {
  content: "\e001";
}
.icon-diary:before {
  content: "\e092";
}
.icon-credit-card:before {
  content: "\e093";
}
.icon-list:before {
  content: "\e094";
}
.icon-grid:before {
  content: "\e095";
}
.icon-grid-view:before {
  content: "\e01b";
}
.icon-clipboard:before {
  content: "\e023";
}
.icon-clipboard-2:before {
  content: "\e024";
}
.icon-pencil:before {
  content: "\e097";
}
.icon-wrench-2:before {
  content: "\e098";
}
.icon-floppy:before {
  content: "\e09a";
}
.icon-paperclip:before {
  content: "\e09b";
}
.icon-volume:before {
  content: "\e09c";
}
.icon-volume-2:before {
  content: "\e09d";
}
.icon-flag:before {
  content: "\e09e";
}
.icon-eye:before {
  content: "\e02e";
}
.icon-mic:before {
  content: "\e030";
}
.icon-calendar:before {
  content: "\e0a2";
}
.icon-bookmark-3:before {
  content: "\e0a3";
}
.icon-gift-2:before {
  content: "\e091";
}
.icon-cone:before {
  content: "\e0a5";
}
.icon-alarm:before {
  content: "\e0a6";
}
.icon-location:before {
  content: "\e00e";
}
.icon-mail:before {
  content: "\e0a9";
}
.icon-play:before {
  content: "\e013";
}
.icon-pause:before {
  content: "\e014";
}
.icon-stop:before {
  content: "\e0aa";
}
.icon-bars-2:before {
  content: "\e09f";
}
.icon-checkmark-2:before {
  content: "\e0a0";
}
.icon-x:before {
  content: "\e0ab";
}
.icon-briefcase:before {
  content: "\e00c";
}
.icon-camera:before {
  content: "\e011";
}
.icon-user:before {
  content: "\e00d";
}
.icon-cricket:before {
  content: "\e0ad";
}
.icon-boxing:before {
  content: "\e0ae";
}
.icon-greyhounds:before {
  content: "\e0af";
}
.icon-horseracing:before {
  content: "\e090";
}
.icon-motorbikes:before {
  content: "\e0b0";
}
.icon-tv:before {
  content: "\e0b1";
}
.icon-virtualworld:before {
  content: "\e0b2";
}
.icon-lotteries:before {
  content: "\e0b3";
}
.icon-financials:before {
  content: "\e0b4";
}
.icon-ufcmma:before {
  content: "\e0b5";
}
.icon-politics:before {
  content: "\e0b6";
}
.icon-cycling:before {
  content: "\e0b7";
}
.icon-snooker:before {
  content: "\e096";
}
.icon-rugbyunion:before {
  content: "\e0b8";
}
.icon-rugbyleague:before {
  content: "\e0b9";
}
.icon-read-more:before {
  content: "\e083";
}
.icon-info:before {
  content: "\e0a1";
}
.icon-fullscreen:before {
  content: "\e0ba";
}
.icon-fullscreen-exit:before {
  content: "\e0bb";
}
.icon-mobile:before {
  content: "\e0a4";
}
.icon-share-2:before {
  content: "\e060";
}
.icon-drawer:before {
  content: "\e01e";
}
.icon-results:before {
  content: "\e02f";
}
.icon-competitions:before {
  content: "\e03e";
}
.icon-inplay:before {
  content: "\e03f";
}
.icon-coupons:before {
  content: "\e040";
}
.icon-games:before {
  content: "\e055";
}
.icon-notifications:before {
  content: "\e062";
}
.icon-tips:before {
  content: "\e069";
}
.icon-search:before {
  content: "\e06f";
}
.icon-help:before {
  content: "\e01f";
}
.icon-pending:before {
  content: "\e020";
}
.icon-transfer:before {
  content: "\e021";
}
.icon-accountdetails:before {
  content: "\e071";
}
.icon-visa:before {
  content: "\e070";
}
.icon-mastercard:before {
  content: "\e072";
}
.icon-maestro:before {
  content: "\e073";
}
.icon-paypal:before {
  content: "\e074";
}
.icon-skrill:before {
  content: "\e075";
}
.icon-ukash:before {
  content: "\e076";
}
.icon-gamcare:before {
  content: "\e077";
}
.icon-over18:before {
  content: "\e078";
}
.icon-wall:before {
  content: "\e079";
}
.icon-tshirt:before {
  content: "\e07a";
}
.icon-chevronright:before {
  content: "\e046";
}
.icon-athletics:before {
  content: "\e047";
}
.icon-chevronleft:before {
  content: "\e048";
}
.icon-expanded:before {
  content: "\e049";
}
.icon-collapsed:before {
  content: "\e04a";
}
.icon-arrowright:before {
  content: "\e04b";
}
.icon-arrowleft:before {
  content: "\e04c";
}
.icon-betslip:before {
  content: "\e04d";
}
.icon-star-4:before {
  content: "\e04f";
}
.icon-locked:before {
  content: "\e050";
}
.icon-chart:before {
  content: "\e04e";
}
.icon-diary-2:before {
  content: "\e027";
}
.icon-leaderboards:before {
  content: "\e051";
}
.icon-livescores:before {
  content: "\e07b";
}
.icon-whtv:before {
  content: "\e07c";
}
.icon-opta:before {
  content: "\e07d";
}
.icon-footballpitch:before {
  content: "\e07e";
}
.icon-corner:before {
  content: "\e07f";
}
.icon-penalty:before {
  content: "\e080";
}
.icon-visa {
  padding-right: 2.2em;
}
.icon-mastercard {
  padding: 0 4.8em 0 .2em;
}
.icon-maestro {
  padding: 0 4.5em 0 .2em;
}
.icon-whtv {
  padding: 0 .8em 0 .2em;
}
.icon-paypal {
  padding: 0 3.2em 0 .4em;
  position: relative;
  top: .15em;
  -webkit-transform: scale(1.35);
  -moz-transform: scale(1.35);
  -ms-transform: scale(1.35);
  -o-transform: scale(1.35);
  transform: scale(1.35);
}
.icon-skrill {
  padding: 0 1.9em 0 .5em;
  position: relative;
  top: .1em;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
.icon-ukash {
  padding: 0 1.6em 0 .5em;
  position: relative;
  top: -0.2em;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -ms-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
}
.icon-opta {
  padding-right: 1.1em;
  position: relative;
  top: .2em;
}
#mainHPColumn1 h1,
#mainHPColumn1 h2,
#mainHPColumn1 h3,
#mainHPColumn1 h4,
#mainHPColumn1 h5,
#mainHPColumn1 h6 {
  text-rendering: optimizeLegibility;
  margin-bottom: 0.25em;
}
#mainHPColumn1 h1 {
  max-width: 30em;
}
#mainHPColumn1 p,
#mainHPColumn1 dl,
#mainHPColumn1 address {
  margin-bottom: 1em;
  line-height: 1em;
}
small {
  font-size: 11px;
  font-size: 1.1rem;
}
a small {
  color: #23496d;
}
p.nomarkets {
  font-size: 11px;
  font-size: 1.1rem;
  color: #576e80;
}
h1 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 18px;
  font-size: 1.8rem;
}
main h1 {
  max-width: 60%;
}
h1,
h2 {
  margin: .83em 0 0;
}
h3 {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
}
h4 {
  color: #126b9e;
  margin: 0;
}
a {
  text-decoration: none;
  color: #333333;
}
a:visited {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: #333333;
}
a:focus {
  outline: thin dotted;
  color: #333333;
}
a:hover,
a:active {
  outline: 0;
}
button[data-odds] {
  background-color: #d9dee4;
  color: #333333;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  position: relative;
  min-height: 2.3em;
  min-width: 5em;
}
button[data-odds]:after {
  content: attr(data-odds);
}
button[data-odds][data-player]:before,
button[data-odds][data-player]:after {
  font-size: 11px;
  font-size: 1.1rem;
}
button[data-odds][data-player]:before {
  content: attr(data-player);
  float: left;
  font-weight: normal;
  color: #333333;
  overflow: hidden;
  max-width: 85%;
}
button[data-odds][data-player]:after {
  float: right;
  margin-right: 0.8em;
}
.top-label button[data-odds][data-player] {
  height: 2.9em;
}
.top-label button[data-odds][data-player]:before,
.top-label button[data-odds][data-player]:after {
  float: none;
  text-align: center;
  font-weight: bold;
  display: block;
  margin-right: 0.8em;
}
.top-label button[data-odds][data-player]:after {
  font-size: 11px;
  font-size: 1.1rem;
}
button[data-odds]:hover {
  background: #dce1e6;
}
button[data-odds]:active {
  background: #d0d6de;
}
button[data-odds].active {
  background: #0da2e6 !important;
  color: white !important;
}
button[data-odds].active span,
button[data-odds].active label,
button[data-odds].active:after,
button[data-odds].active:before {
  color: white !important;
}
button[data-odds].disabled {
  color: #a2a2a2 !important;
}
button[data-odds].disabled[data-player]:before {
  color: #a2a2a2 !important;
}
.x1 button[data-odds]:before {
  max-width: 91%;
}
span button[data-odds]:before {
  content: attr(data-outcome);
}
span[data-outcome] {
  font-weight: normal;
  position: absolute;
  color: #7e90a2;
  font-size: 11px;
  font-size: 1.1rem;
}
span[data-outcome]:before {
  content: attr(data-outcome);
}
span[data-outcome][data-outcome] {
  left: .5em;
}
span[data-odds-change] {
  position: absolute;
  right: 0.3em;
  top: .5em;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: normal;
}
span[data-odds-change][data-odds-change="up"] {
  color: #1bc11b;
}
span[data-odds-change][data-odds-change="down"] {
  color: #ba0808;
  margin-top: 2px;
}
span[data-odds-change][data-odds-change="simple-up"] {
  width: 1.2em;
  height: 1em;
  top: 0.6em;
  background: transparent url('../../img/live-arrow-up.gif') no-repeat 4px;
}
span[data-odds-change][data-odds-change="simple-down"] {
  width: 1.2em;
  height: 1em;
  top: 0.8em;
  background: transparent url('../../img/live-arrow-down.gif') no-repeat 4px;
}
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-bottom: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1em;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  background-color: #d9dee4;
  border: 1px solid #bbc4cf;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  *margin-left: .3em;
}
.btn:visited,
.btn:hover {
  color: #333333;
  text-decoration: none;
}
.btn.btn-green {
  background: #73a607;
  border-color: #73a607;
  color: white;
}
.btn.btn-green:visited,
.btn.btn-green:hover {
  background: #7db508;
}
.btn.btn-blue {
  background: #0da2e6;
  border-color: #0da2e6;
  color: white;
}
.btn.btn-blue:visited,
.btn.btn-blue:hover {
  background: #11abf2;
}
input[type="submit"].btn:hover {
  border-color: 1px solid #bbc4cf;
}
.btn:first-child {
  *margin-left: 0;
}
label {
  font-size: 11px;
  font-size: 1.1rem;
  color: #333333;
}
#comp-nav {
  background: white;
  border-bottom: 1px solid gainsboro;
  padding: .5em;
  position: relative;
}
#comp-nav li {
  width: 49%;
  float: left;
  height: 2.8em;
  margin-top: .5em;
  border-bottom: 1px dashed gainsboro;
}
#comp-nav li.last {
  border: none;
}
#comp-nav li:nth-of-type(even) {
  float: right;
}
#comp-nav ul {
  display: table;
  width: 100%;
  margin: 0;
  padding-bottom: 0.125em;
}
#comp-nav > a {
  display: none;
  visibility: hidden;
}
#comp-nav i {
  color: black;
}
#comp-nav label,
#comp-nav a {
  cursor: pointer;
  padding: 0.25em 0 0 .2em;
  color: #126b9e;
  font-weight: bold;
}
#comp-nav label.active,
#comp-nav a.active {
  color: #0a3c59;
}
.nav-options {
  font-size: 11px;
  font-size: 1.1rem;
  color: #576e80;
  position: relative;
  z-index: 9;
}
.nav-options span {
  font-style: italic;
  margin-right: .5em;
}
.nav-options a {
  color: #576e80;
}
.nav-options a.active {
  color: black;
  font-weight: bold;
}
.nav-options a:not(:last-child):after {
  content: ' | ';
}
#comp-nav .nav-options {
  position: absolute;
  right: .5em;
  top: -1.8em;
}
#event-container .nav-options {
  position: absolute;
  right: .5em;
  bottom: .3em;
}
#event-container .nav-options .active {
  color: #23496d;
}
.nav-options#odds-format {
  float: right;
}
#breadcrumbs {
  float: left;
  font-size: 11px;
  font-size: 1.1rem;
  max-width: 60%;
}
#breadcrumbs span,
#breadcrumbs ol {
  display: inline;
}
#breadcrumbs span {
  font-weight: bold;
}
#breadcrumbs ol {
  padding: 0;
}
#breadcrumbs li {
  display: inline;
}
#breadcrumbs li:not(:last-of-type):after {
  font-family: 'WHIconFont';
  font-size: 7px;
  margin: 0 .25em 0 .5em;
  content: "  \e04b ";
  position: relative;
  top: -1px;
}
#breadcrumbs li:last-of-type a {
  font-weight: bold;
}
#breadcrumbs a {
  color: #126b9e;
}
nav.context-nav ul {
  border-bottom: 1px solid gainsboro;
  *zoom: 1;
}
nav.context-nav ul:before,
nav.context-nav ul:after {
  display: table;
  content: "";
}
nav.context-nav ul:after {
  clear: both;
}
nav.context-nav a {
  font-size: 11px;
  font-size: 1.1rem;
  display: block;
  float: left;
  margin: 0 .5em;
  padding: 0.75em .5em 0;
  position: relative;
  bottom: -0.1em;
  background: #4f98c2;
  color: white;
  border: 1px solid white;
  border-bottom: none;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  height: 2em;
}
nav.context-nav a.active {
  height: 2.1em;
  background: white;
  color: black;
  border: 1px solid #4f98c2;
  border-bottom: none;
}
#market-collections,
#back-to-comp {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#market-collections a,
#back-to-comp a {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.75em;
  background: #e4e5e6;
  border-bottom: none;
}
#market-collections a:hover,
#back-to-comp a:hover {
  -webkit-transition: background-color .6s;
  -moz-transition: background-color .6s;
  -ms-transition: background-color .6s;
  -o-transition: background-color .6s;
  transition: background-color .6s;
  background: #f1f2f2;
}
#market-collections a:active,
#back-to-comp a:active {
  -webkit-transition: background-color .05s;
  -moz-transition: background-color .05s;
  -ms-transition: background-color .05s;
  -o-transition: background-color .05s;
  transition: background-color .05s;
  background: #e0e1e2;
}
#market-collections a.active,
#back-to-comp a.active {
  font-weight: bold;
  color: #23496d;
}
#market-collections > ul,
#back-to-comp > ul {
  background: white;
}
#market-collections > ul ul a,
#back-to-comp > ul ul a {
  font-size: 11px;
  font-size: 1.1rem;
  border-bottom: 1px dotted gainsboro;
  margin-bottom: 1px;
  background: transparent;
}
#market-collections > ul ul a:hover,
#back-to-comp > ul ul a:hover {
  background: inherit;
}
#market-collections > ul ul a.active,
#back-to-comp > ul ul a.active {
  border-left: 3px solid #23496d;
  color: #23496d;
}
#market-collections i,
#back-to-comp i {
  position: absolute;
  right: .5em;
  top: 1.3em;
  font-size: 0.85em;
  -webkit-opacity: .7;
  -moz-opacity: .7;
  opacity: .7;
  filter: alpha(opacity=70);
}
#market-collections.comp-view,
#back-to-comp {
  padding-right: .5em;
}
#market-collections.comp-view > ul > li > a,
#back-to-comp > ul > li > a {
  background: #e4e5e6;
  border-bottom: 1px solid white;
  position: relative;
}
#market-collections.event-view {
  padding: 0 0 0.25em;
}
#market-collections.event-view ul {
  *zoom: 1;
}
#market-collections.event-view ul:before,
#market-collections.event-view ul:after {
  display: table;
  content: "";
}
#market-collections.event-view ul:after {
  clear: both;
}
#market-collections.event-view a {
  text-align: center;
}
#market-collections.event-view li {
  width: 25%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: .25em;
}
#market-collections.event-view li:nth-of-type(4n) {
  padding-right: 0;
}
#market-collections.event-view li:nth-of-type(4n+1) {
  padding-left: 0;
}
#market-collections.event-view a {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.75em;
  background: #e4e5e6;
  margin-right: .5em;
  height: 3.8em;
  display: table;
  width: 100%;
}
#market-collections.event-view a:hover {
  -webkit-transition: background-color .6s;
  -moz-transition: background-color .6s;
  -ms-transition: background-color .6s;
  -o-transition: background-color .6s;
  transition: background-color .6s;
  background: #f1f2f2;
}
#market-collections.event-view a:active {
  -webkit-transition: background-color .05s;
  -moz-transition: background-color .05s;
  -ms-transition: background-color .05s;
  -o-transition: background-color .05s;
  transition: background-color .05s;
  background: #e0e1e2;
}
#market-collections.event-view a.active {
  font-weight: bold;
  color: #23496d;
}
#market-collections.event-view a.active {
  background: #e9eaeb;
  background: #4f98c2;
  color: white;
}
#market-collections.event-view a > div {
  display: table-cell;
  vertical-align: middle;
}
#back-to-comp h2 {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  visibility: hidden;
}
#market-tabs {
  *zoom: 1;
  background: white;
  margin-top: 2px;
  border-bottom: 1px solid white;
}
#market-tabs:before,
#market-tabs:after {
  display: table;
  content: "";
}
#market-tabs:after {
  clear: both;
}
#market-tabs a {
  background: transparent;
  border-bottom: 2px solid #e4e5e6;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  width: 50%;
  float: left;
  text-align: center;
  white-space: nowrap;
  color: #576e80;
}
#market-tabs a.active {
  background: #e4e5e6;
}
#navigation-wrapper {
  padding: .5em;
  background: white;
}
.banner {
  position: relative;
  z-index: 1;
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em;
  margin-bottom: 1em;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 230px;
  min-width: 210px;
}
.banner:before,
.banner:after {
  display: table;
  content: "";
}
.banner:after {
  clear: both;
}
.banner > header {
  background: rgba(255,255,255,0.8);
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 22em;
  padding: .5em;
}
.banner > img {
  max-width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  z-index: -1;
}
.banner aside {
  float: right;
  color: white;
}
.banner button[data-odds] {
  float: right;
}
.banner li {
  display: list-item;
}
.banner ul {
  list-style: disc;
}
.banner.left header {
  float: left;
}
.banner.left aside {
  float: right;
  text-align: right;
}
.banner.left [data-odds] {
  float: right;
}
.banner.right header {
  float: right;
}
.banner.right aside {
  float: left;
}
.banner.right [data-odds] {
  float: left;
}
.banner.green [data-info] li {
  color: #009900;
}
.banner.green [data-odds] {
  background: #009900;
  color: white;
}
.banner.col-4 header,
.banner.col-5 header,
.banner.col-6 header,
.banner.col-7 header {
  width: 100%;
  max-width: none;
}
.banner.col-4 aside,
.banner.col-5 aside,
.banner.col-6 aside,
.banner.col-7 aside {
  margin-top: 0.75em;
}
.banner.col-4 [data-odds],
.banner.col-5 [data-odds] {
  display: block;
  float: none;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 19em;
}
.event-info {
  font-size: 11px;
  font-size: 1.1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 14em;
  padding: .5em;
  z-index: 2;
}
.event-info img {
  max-width: 87%;
  margin-bottom: 0.75em;
}
.event-info .event-title {
  display: block;
}
.event-info time {
  color: white;
}
.event-info .bet-number {
  color: #4f98c2;
}
.teaser-info {
  font-size: 11px;
  font-size: 1.1rem;
  padding-bottom: 0.75em;
}
.teaser-info [data-info] {
  margin-bottom: .5em;
}
.teaser-info [data-info]:before {
  content: 'attr(data-info):';
  font-weight: bold;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  min-width: 9em;
  font-size: 11px;
  font-size: 1.1rem;
}
.teaser-info [data-info] li {
  display: inline;
  margin-right: .5em;
  font-weight: bold;
}
.teaser-info output {
  font-size: 12px;
  font-size: 1.2rem;
}
.feature,
.sub-feature {
  clear: both;
  max-width: 644px;
  margin: 1.5em 0 0;
  padding: .5em;
  border: 1px solid gainsboro;
}
.feature header,
.sub-feature header {
  padding: .5em;
  margin-bottom: .5em;
}
.feature header p,
.feature header a,
.sub-feature header p,
.sub-feature header a {
  font-size: 11px;
  font-size: 1.1rem;
}
.feature a:link,
.sub-feature a:link {
  text-decoration: underline;
}
.feature h2,
.feature h4,
.sub-feature h2,
.sub-feature h4 {
  display: inline;
  color: inherit;
}
.feature h2:after,
.sub-feature h2:after {
  content: ' | ';
  font-weight: normal;
}
.feature p.copy,
.feature p.info,
.sub-feature p.copy,
.sub-feature p.info {
  margin: 0;
  color: #333;
}
.feature li,
.sub-feature li {
  display: list-item;
}
.feature ul,
.sub-feature ul {
  list-style: disc;
}
.feature .betting-block li,
.sub-feature .betting-block li {
  width: 100%;
}
.feature .betting-block li:first-of-type,
.sub-feature .betting-block li:first-of-type {
  padding-top: 0;
}
.feature .betting-block li:last-of-type,
.sub-feature .betting-block li:last-of-type {
  padding-bottom: 0;
}
.feature button[data-odds],
.sub-feature button[data-odds] {
  max-width: none;
  width: 100%;
  margin: .25em 0;
}
.feature button[data-odds] span[data-odds-change],
.sub-feature button[data-odds] span[data-odds-change] {
  right: 0.3em;
}
.feature button[data-odds] label,
.sub-feature button[data-odds] label {
  float: left;
  max-width: 80%;
  text-align: left;
  white-space: pre-wrap;
}
.feature button[data-odds]:after,
.feature button[data-odds]:before,
.sub-feature button[data-odds]:after,
.sub-feature button[data-odds]:before {
  float: right;
  font-size: 11px;
  font-size: 1.1rem;
  margin-right: 0.8em;
}
.feature a.more,
.sub-feature a.more {
  font-size: 11px;
  font-size: 1.1rem;
}
.feature banner-event,
.sub-feature banner-event {
  *zoom: 1;
}
.feature banner-event:before,
.feature banner-event:after,
.sub-feature banner-event:before,
.sub-feature banner-event:after {
  display: table;
  content: "";
}
.feature banner-event:after,
.sub-feature banner-event:after {
  clear: both;
}
.feature banner-event a,
.sub-feature banner-event a {
  font-size: 11px;
  font-size: 1.1rem;
}
.feature h3.market-name,
.sub-feature h3.market-name {
  color: white;
  text-decoration: none;
  text-align: left;
  font-weight: bold;
  display: block;
  position: relative;
  padding-bottom: 0.2em;
}
.feature h3.market-name a,
.sub-feature h3.market-name a {
  text-decoration: none;
}
.feature a.view-all,
.sub-feature a.view-all {
  display: block;
  clear: both;
  padding-top: .25em;
  text-align: left;
  font-size: 11px;
  font-size: 1.1rem;
}
.feature {
  z-index: 1;
  border: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-border-radius: .75em;
  -moz-border-radius: .75em;
  border-radius: .75em;
  color: white;
}
.feature a,
.feature a:visited,
.feature a:hover {
  color: inherit;
}
.feature .media img {
  max-width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.feature .media a {
  display: block;
}
.feature header {
  padding: .5em .5em 0;
}
.feature .heading {
  padding-bottom: .5em;
}
.feature .anystretch {
  -webkit-border-radius: .75em;
  -moz-border-radius: .75em;
  border-radius: .75em;
}
.sub-feature,
.feature .body {
  display: table;
  width: 100%;
}
.sub-feature > *,
.feature .body > * {
  display: table-cell;
  vertical-align: top;
  width: 33.333333333333%;
  padding: .5em;
  text-align: center;
}
.sub-feature.x2 > *,
.feature .body.x2 > * {
  width: 50%;
}
.sub-feature > * {
  display: block;
  float: left;
}
.sub-feature .media {
  float: left;
}
.sub-feature .body-copy {
  font-size: 11px;
  font-size: 1.1rem;
  text-align: left;
  width: 70%;
}
.sub-feature .body-copy img {
  margin-right: .5em;
}
.sub-feature .betting-block {
  overflow: hidden;
  width: 30%;
}
.scoreboard {
  background: black;
  color: white;
  clear: both;
  height: 184px;
  padding: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.scoreboard .left-block {
  width: 100%;
  float: left;
  padding-right: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.scoreboard .left-block.no-full-width {
  width: 60%;
}
.scoreboard .right-block {
  display: none;
  width: 40%;
  float: right;
  padding-left: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.scoreboard header,
.scoreboard footer,
.scoreboard .score-boxes,
.scoreboard .live-commentary {
  display: block;
  clear: both;
}
.scoreboard h2 {
  color: white;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4rem;
  margin-top: 0;
  float: left;
}
.scoreboard h2 strong {
  color: #ffd504;
  font-weight: bold;
}
.scoreboard a {
  color: white;
}
.scoreboard a:hover {
  color: white;
}
.scoreboard i {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0 0.25em;
}
.scoreboard .radio {
  float: right;
  text-decoration: underline;
}
.scoreboard .score-box {
  float: left;
  padding: 1em 2em;
  text-align: center;
}
.scoreboard .score-box strong {
  display: block;
  margin-bottom: .5em;
}
.scoreboard .score {
  background: #ffd504;
  background-color: #ffd504;
  background-image: -moz-linear-gradient(top,#fff7d0,#ffd504);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff7d0),to(#ffd504));
  background-image: -webkit-linear-gradient(top,#fff7d0,#ffd504);
  background-image: -o-linear-gradient(top,#fff7d0,#ffd504);
  background-image: linear-gradient(to bottom,#fff7d0,#ffd504);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffef7d0', endColorstr='#ffffd504', GradientType=0);
  color: black;
  font-size: 31px;
  font-size: 3.1rem;
  font-weight: bold;
  padding: .15em .25em;
}
.scoreboard .live-commentary {
  float: left;
  margin-top: 1.6em;
  padding: .5em 0 0 0;
  font-size: 11px;
  font-size: 1.1rem;
  background: #333333;
  border-top: 1px solid rgba(255,255,255,0.9);
  border-bottom: 1px solid rgba(255,255,255,0.9);
  clear: both;
  max-width: none;
  width: 100%;
}
.scoreboard .live-commentary i,
.scoreboard .live-commentary p {
  display: inline-block;
}
.scoreboard .live-commentary i {
  position: relative;
  top: 2px;
}
.scoreboard .live-commentary p {
  line-height: 0.5em !important;
  margin: 5px 0;
}
.scoreboard .streaming {
  height: 100%;
  text-align: center;
}
.scoreboard .streaming .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.scoreboard .streaming .box {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  border: 1px solid rgba(255,255,255,0.3);
  transition: border-color 1s;
}
.scoreboard .streaming #video-stream {
  position: absolute;
}
.scoreboard .streaming .logged-out-text {
  display: none;
  position: relative;
  font-size: 12px;
  padding: 2em;
}
.scoreboard .streaming .center-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.most-popular .event header {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.most-popular [data-odds] {
  float: right;
  min-width: 8em;
  margin-top: .5em;
}
.top-coupons .event {
  border: none;
}
.center-aligned {
  text-align: center;
}
.left-aligned {
  text-align: left;
}
.right-aligned {
  text-align: right;
}
.through-link {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(79,152,194,0.4);
  font-weight: bold;
  color: #333333;
}
.through-link i {
  font-size: .8em;
  padding-left: 1em;
}
.through-link:hover {
  border-color: rgba(79,152,194,0.6);
}
.through-link.right {
  float: right;
}
time {
  font-size: 11px;
  font-size: 1.1rem;
  color: #23496d;
}
time span {
  color: #333333;
}
a#cards-timer-link {
  float: right;
  padding: 0;
}
a.toggle > header {
  background: #23496d;
  position: relative;
  padding: 0.75em;
  padding-right: 5em;
  color: white;
  font-weight: bold;
}
a.toggle > header i {
  font-size: 12px;
  font-size: 1.2rem;
  float: right;
  margin-top: 0.25em;
  position: absolute;
  display: inline;
  right: 0.8em;
  top: 0.8em;
}
a.toggle > header i.icon-collapsed {
  right: 1em;
  top: 0.6em;
}
.comp-container,
#in-play-now,
.market-container {
  background: white;
  padding-bottom: 1px;
  clear: both;
}
.comp-container h3,
#in-play-now h3,
.market-container h3 {
  padding: .5em 0.25em;
  padding-bottom: 0;
  color: #333333;
}
.comp-container p,
#in-play-now p,
.market-container p {
  padding: 0 .5em .5em;
}
.comp-container > a > header,
#in-play-now > a > header,
.market-container > a > header {
  background: #23496d;
  position: relative;
  padding: 0.75em .5em;
  padding-right: 5em;
  color: white;
  font-weight: bold;
}
.comp-container > a > header i,
#in-play-now > a > header i,
.market-container > a > header i {
  font-size: 12px;
  font-size: 1.2rem;
  float: right;
  margin-top: 0.25em;
  position: absolute;
  display: inline;
  right: 0.8em;
  top: 0.8em;
}
.comp-container > a > header i.icon-collapsed,
#in-play-now > a > header i.icon-collapsed,
.market-container > a > header i.icon-collapsed {
  right: 1em;
  top: 0.6em;
}
.comp-container .wrapper p,
#in-play-now .wrapper p,
.market-container .wrapper p {
  font-style: italic;
  color: #23496d;
}
.comp-container > header,
#in-play-now > header,
.market-container > header {
  padding: .5em .5em .25em;
}
.market-container:last-of-type {
  border-bottom: 1px solid gainsboro;
}
.event-container > header,
#event-container > header,
#market-collections > header,
#back-to-comp > header,
main > header {
  padding: 0 .5em;
  position: relative;
  margin-bottom: 1px;
  border-bottom: 2px solid #4f98c2;
  *zoom: 1;
}
.event-container > header:before,
.event-container > header:after,
#event-container > header:before,
#event-container > header:after,
#market-collections > header:before,
#market-collections > header:after,
#back-to-comp > header:before,
#back-to-comp > header:after,
main > header:before,
main > header:after {
  display: table;
  content: "";
}
.event-container > header:after,
#event-container > header:after,
#market-collections > header:after,
#back-to-comp > header:after,
main > header:after {
  clear: both;
}
.event-container > header span,
#event-container > header span,
#market-collections > header span,
#back-to-comp > header span,
main > header span {
  font-style: italic;
  margin-left: .5em;
}
.event-container h2,
#event-container h2 {
  max-width: 60%;
}
.event-container h3,
#event-container h3 {
  padding: .5em 0.25em 0;
}
.event-container h3:first-of-type,
#event-container h3:first-of-type {
  color: #333333;
}
.event-container h3:not(:first-of-type),
#event-container h3:not(:first-of-type) {
  color: #878c90;
}
.event-container-through-link {
  padding-bottom: 3.5em;
}
#event-container {
  position: relative;
}
.bottom-anchor {
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
}
.match-highlights .comp-container .wrapper {
  padding: 0;
}
.match-highlights header ~ header {
  padding-bottom: .5em;
}
#match-highlights-events {
  background: white;
}
nav.info-extra {
  float: right;
}
nav.info-extra ul {
  padding-right: .25em;
}
nav.info-extra ul > li {
  display: inline;
}
nav.info-extra a {
  margin-left: .2em;
}
nav.info-extra a img {
  vertical-align: middle;
}
footer.blurb {
  text-align: center;
  background: #f3f4f6;
  min-height: 14px;
  padding: 4px 8px 4px 8px;
}
.event footer.blurb p,
.events footer.blurb p {
  background: #f3f4f6;
  min-height: 14px;
  padding: 4px;
  font-style: normal;
  color: #333333;
  font-size: 8pt;
  padding: 0px;
  margin: 0px !important;
  line-height: 1.4em !important;
}
i.icon-tv {
  background: #ffd504;
  color: black;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: .2em .15em 0 .2em;
}
.matches .filterSelection .active {
  background-color: blue;
  color: white;
}
ul.betting-block {
  list-style: none;
  list-style-type: none;
}
ul.betting-block li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}
.banner ul.betting-block {
  text-align: left;
  font-size: 11px;
  font-size: 1.1rem;
  width: 100%;
  *zoom: 1;
}
.banner ul.betting-block li {
  float: none;
  width: 100%;
}
.banner ul.betting-block header {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding-bottom: .5em;
}
.banner ul.betting-block span {
  color: #414141;
}
.banner ul.betting-block:before,
.banner ul.betting-block:after {
  display: table;
  content: "";
}
.banner ul.betting-block:after {
  clear: both;
}
div.body ul.betting-block {
  display: block;
  float: right;
  margin: 0;
  padding: 0;
  width: 100%;
}
div.body ul.betting-block li {
  float: left;
}
div.body ul.betting-block button {
  max-width: none;
}
ul.inline {
  white-space: nowrap;
  text-align: center;
}
ul.inline label,
ul.inline button {
  display: block;
  width: 100%;
}
ul.inline.x1 {
  display: block;
  *zoom: 1;
}
ul.inline.x1:before,
ul.inline.x1:after {
  display: table;
  content: "";
}
ul.inline.x1:after {
  clear: both;
}
ul.inline.x1 li {
  display: block;
  width: 100%;
  padding-bottom: .5em;
  padding-left: 0;
}
ul.inline.x2 {
  display: block;
  *zoom: 1;
}
ul.inline.x2:before,
ul.inline.x2:after {
  display: table;
  content: "";
}
ul.inline.x2:after {
  clear: both;
}
ul.inline.x2 li {
  float: left;
  width: 50%;
  padding: .25em .25em .5em;
}
ul.inline.x2 li:nth-of-type(2n+1) {
  clear: left;
  padding-left: 0;
}
ul.inline.x2 label {
  margin-top: -0.5em;
}
ul.inline.x3 {
  *zoom: 1;
  display: block;
  width: 100%;
}
ul.inline.x3:before,
ul.inline.x3:after {
  display: table;
  content: "";
}
ul.inline.x3:after {
  clear: both;
}
ul.inline.x3 li {
  float: left;
  width: 33.333333333333%;
  padding: .25em .25em .5em;
}
ul.inline.x3 li:nth-of-type(3n+1) {
  clear: left;
  padding-left: 0;
}
ul.inline.x3 li:empty {
  display: none;
}
ul.column li {
  float: left;
}
ul.column button {
  width: 100%;
}
ul.column.x2 {
  *zoom: 1;
}
ul.column.x2:before,
ul.column.x2:after {
  display: table;
  content: "";
}
ul.column.x2:after {
  clear: both;
}
ul.column.x2 > li {
  width: 50%;
  float: left;
}
ul.column.x2 > li:first-of-type ul {
  padding-right: .25em;
}
ul.column.x2 > li:last-of-type ul {
  padding-left: .25em;
}
ul.column.x2 > li li {
  width: 100%;
  padding: 0;
}
ul.column.x2 > li li:not(:last-of-type) {
  padding-bottom: .5em;
}
ul.column.x2 > li ul {
  *zoom: 1;
}
ul.column.x2 > li ul:before,
ul.column.x2 > li ul:after {
  display: table;
  content: "";
}
ul.column.x2 > li ul:after {
  clear: both;
}
ul.column.x3 {
  *zoom: 1;
}
ul.column.x3:before,
ul.column.x3:after {
  display: table;
  content: "";
}
ul.column.x3:after {
  clear: both;
}
ul.column.x3 > li {
  width: 33.333333333333%;
  padding: 0 .25em;
}
ul.column.x3 > li:first-of-type {
  padding-left: 0;
}
ul.column.x3 > li:last-of-type {
  padding-right: 0;
}
ul.column.x3 > li li {
  width: 100%;
  padding: .25em 0;
}
.row {
  display: block;
  width: 100%;
  margin: 0 -0%;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.col-1 {
  display: inline;
  float: left;
  width: 8.3333333333333%;
  margin: 0 0%;
}
.col-2 {
  display: inline;
  float: left;
  width: 16.666666666667%;
  margin: 0 0%;
}
.col-3 {
  display: inline;
  float: left;
  width: 25%;
  margin: 0 0%;
}
.col-4 {
  display: inline;
  float: left;
  width: 33.333333333333%;
  margin: 0 0%;
}
.col-5 {
  display: inline;
  float: left;
  width: 41.666666666667%;
  margin: 0 0%;
}
.col-6 {
  display: inline;
  float: left;
  width: 50%;
  margin: 0 0%;
}
.col-7 {
  display: inline;
  float: left;
  width: 58.333333333333%;
  margin: 0 0%;
}
.col-8 {
  display: inline;
  float: left;
  width: 66.666666666667%;
  margin: 0 0%;
}
.col-9 {
  display: inline;
  float: left;
  width: 75%;
  margin: 0 0%;
}
.col-10 {
  display: inline;
  float: left;
  width: 83.333333333333%;
  margin: 0 0%;
}
.col-11 {
  display: inline;
  float: left;
  width: 91.666666666667%;
  margin: 0 0%;
}
.col-12 {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
}
.push-1 {
  margin-left: 8.3333333333333%;
}
.push-2 {
  margin-left: 16.666666666667%;
}
.push-3 {
  margin-left: 25%;
}
.push-4 {
  margin-left: 33.333333333333%;
}
.push-5 {
  margin-left: 41.666666666667%;
}
.push-6 {
  margin-left: 50%;
}
.push-7 {
  margin-left: 58.333333333333%;
}
.push-8 {
  margin-left: 66.666666666667%;
}
.push-9 {
  margin-left: 75%;
}
.push-10 {
  margin-left: 83.333333333333%;
}
.push-11 {
  margin-left: 91.666666666667%;
}
.push-1 {
  margin-left: 100%;
}
.pull-1 {
  margin-right: 8.3333333333333%;
}
.pull-2 {
  margin-right: 16.666666666667%;
}
.pull-3 {
  margin-right: 25%;
}
.pull-4 {
  margin-right: 33.333333333333%;
}
.pull-5 {
  margin-right: 41.666666666667%;
}
.pull-6 {
  margin-right: 50%;
}
.pull-7 {
  margin-right: 58.333333333333%;
}
.pull-8 {
  margin-right: 66.666666666667%;
}
.pull-9 {
  margin-right: 75%;
}
.pull-10 {
  margin-right: 83.333333333333%;
}
.pull-11 {
  margin-right: 91.666666666667%;
}
.pull-1 {
  margin-right: 100%;
}
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 502;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 503;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.mfp-align-top .mfp-container:before {
  display: none;
}
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 505;
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}
.mfp-ajax-cur {
  cursor: progress;
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.mfp-loading.mfp-figure {
  display: none;
}
.mfp-hide {
  display: none !important;
}
.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 504;
}
.mfp-preloader a {
  color: #cccccc;
}
.mfp-preloader a:hover {
  color: white;
}
.mfp-s-ready .mfp-preloader {
  display: none;
}
.mfp-s-error .mfp-content {
  display: none;
}
button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 506;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}
.mfp-close:active {
  top: 1px;
}
.mfp-close-btn-in .mfp-close {
  color: #333333;
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px;
}
.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.mfp-arrow:active {
  margin-top: -54px;
}
.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}
.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: solid transparent;
}
.mfp-arrow:after,
.mfp-arrow .mfp-a {
  opacity: 0.8;
  border-top-width: 12px;
  border-bottom-width: 12px;
  top: 8px;
}
.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 20px;
  border-bottom-width: 20px;
}
.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 12px solid black;
  left: 5px;
}
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  border-right: 20px solid white;
}
.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 12px solid black;
  left: 3px;
}
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 20px solid white;
}
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 996px;
}
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
  background: black;
}
.mfp-iframe-holder .mfp-close {
  top: -40px;
}
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
}
.mfp-figure {
  line-height: 0;
}
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-break: break-word;
  padding-right: 36px;
}
.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.mfp-image-holder .mfp-content {
  max-width: 100%;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}
@media screen and (max-width: 800px) and (orientation: landscape),screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0,0,0,0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0,0,0,0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
}
@media all and (max-width: 800px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.mfp-ie7 .mfp-img {
  padding: 0;
}
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}
.mfp-ie7 .mfp-container {
  padding: 0;
}
.mfp-ie7 .mfp-content {
  padding-top: 44px;
}
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}
#productsNav li.sports {
  border-left: 1px solid white !important;
}
#productsNav li.sports a {
  background: #01517b url(http://whdn.williamhill.com/core/ob/static/cust/images/en/productTabOnRight.jpg?ver=af71c5db6e468d1ad6b07f60d058b50f) bottom repeat-x;
  color: #ffffff;
  height: 1.4em;
  padding: 5px 0 5px 0;
  border-bottom: none;
}
#productsNav ul {
  font-size: 1.1em;
}
#productsNav ul li {
  height: 2.05em;
}
#contentCenter {
  padding: 0 !important;
}
#subNav {
  margin: 0px 7px 0 6px;
  border: none !important;
}
#SubNavTabs {
  width: 657px;
}
#mainNavHolder {
  margin: 0 7px -2px 6px;
}
#contentHolder {
  background-color: #ffffff;
  margin: 0px 7px 0 6px;
}
#mainHPColumn1,
#mainHPColumn2 {
  padding: 6px;
}
#searchBlock {
  right: 7px;
}
main.highlights {
  width: 100% !important;
}
.caretfix {
  display: none;
  overflow: auto;
}
.event {
  border-bottom: 1px solid #ddd;
  padding: .75em .5em;
  clear: both;
}
.event:nth-of-type(odd) {
  background: white;
}
.event:nth-of-type(even) {
  background: #f5f5f5;
}
.event header nav {
  float: right;
}
.event header a {
  display: block;
  float: left;
}
.event header a span {
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: normal;
}
.event.inline {
  border-bottom: 1px solid whitesmoke;
}
.event.inline header {
  float: left;
  clear: both;
}
.event.inline header + ul.betting-block {
  border: none;
  float: right;
  min-width: 60%;
}
.event.inline header + ul.betting-block label {
  margin: 0;
}
.event.inline header + ul.betting-block.x3 {
  display: block;
  width: auto;
}
.event.inline header + ul.betting-block.x3 li {
  display: block;
  float: left;
  width: 33.333333333333%;
}
.event.inline.two {
  padding-bottom: .5em;
}
.event h4 + h5 {
  margin-top: -0.5em;
}
.event > ul {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.single-event {
  padding: .75em .5em;
}
div.body {
  *zoom: 1;
  clear: both;
  padding: .4em 0 0;
}
div.body:before,
div.body:after {
  display: table;
  content: "";
}
div.body:after {
  clear: both;
}
div.body span.in-play-scores {
  display: block;
  float: left;
  min-height: 2.2em;
  line-height: 2.2em;
  min-width: 2.9em;
  text-align: center;
}
div.body span.in-play-scores:first-of-type {
  margin-right: .25em;
}
div.body span.in-play-scores:only-of-type {
  width: 7.3em;
}
div.body span.in-play-scores + ul.betting-block {
  width: 84.5%;
}
div.body time {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 2.2em;
  line-height: 2.2em;
  line-height: 2.4em;
  max-width: 6em;
  overflow: visible;
}
div.body time + ul.betting-block {
  width: 86%;
}
div.area-livescore {
  overflow: visible;
  display: block;
  float: left;
  clear: left;
  padding: .25em 0;
}
div.area-livescore span,
div.area-livescore time {
  margin: 0;
  display: inline-block;
}
div.area-livescore span.in-play-scores {
  background-color: #ffd504;
  color: black;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
div.area-livescore time,
div.area-livescore span.status {
  color: black;
}
div.area-livescore.pending {
  max-width: 18%;
}
div.area-livescore.pending time {
  padding: 0 .5em;
}
div.area-livescore.pending + ul.betting-block {
  width: 81%;
}
.event header div.area-livescore {
  padding: 0;
}
.event header div.area-livescore span {
  font-size: 11px;
  font-size: 1.1rem;
  height: 1.3em;
  line-height: 1.3em;
  padding: 0 .5em;
  margin-right: .5em;
}
.body div.area-livescore {
  margin: 0;
  float: left;
}
.body div.area-livescore span {
  font-size: 12px;
  font-size: 1.2rem;
  height: 2.2em;
  line-height: 2.2em;
  padding: 0 .5em;
}
div.area-livescore + ul.betting-block li {
  padding-top: 0;
}
