[class^="icon-"],
[class*=" icon-"] {
  font-family: WHIconFont;
  font-style: normal;
  font-weight: normal;
}
.btn.dropdown-toggle [class^="icon-"],
.btn.dropdown-toggle [class*=" icon-"] {
  line-height: 1.4em;
}
.icon-large {
  font-size: 1.3333em;
}
.icon-home {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e000&nbsp;');
}
.icon-newspaper {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e002&nbsp;');
}
.icon-film {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e003&nbsp;');
}
.icon-clubs {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e004&nbsp;');
}
.icon-diamonds {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e005&nbsp;');
}
.icon-spades {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e006&nbsp;');
}
.icon-pictures {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e007&nbsp;');
}
.icon-new {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e008&nbsp;');
}
.icon-support {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e009&nbsp;');
}
.icon-tag {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e00a&nbsp;');
}
.icon-folder {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e00b&nbsp;');
}
.icon-compass {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e00f&nbsp;');
}
.icon-history {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e010&nbsp;');
}
.icon-clock {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e012&nbsp;');
}
.icon-undo {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e015&nbsp;');
}
.icon-redo {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e016&nbsp;');
}
.icon-forward {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e017&nbsp;');
}
.icon-reply {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e018&nbsp;');
}
.icon-comments {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e019&nbsp;');
}
.icon-comments-2 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e01a&nbsp;');
}
.icon-busy {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e01c&nbsp;');
}
.icon-loading {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e01d&nbsp;');
}
.icon-key {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e022&nbsp;');
}
.icon-wrench {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e025&nbsp;');
}
.icon-cog {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e026&nbsp;');
}
.icon-bars {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e028&nbsp;');
}
.icon-gift {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e029&nbsp;');
}
.icon-meter-slow {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e02a&nbsp;');
}
.icon-fire {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e02b&nbsp;');
}
.icon-remove {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e02c&nbsp;');
}
.icon-power {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e02d&nbsp;');
}
.icon-bookmark {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e031&nbsp;');
}
.icon-bookmark-2 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e032&nbsp;');
}
.icon-star {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e033&nbsp;');
}
.icon-star-2 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e034&nbsp;');
}
.icon-heart {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e035&nbsp;');
}
.icon-heart-2 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e036&nbsp;');
}
.icon-thumbs-up {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e037&nbsp;');
}
.icon-thumbs-down {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e038&nbsp;');
}
.icon-happy {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e039&nbsp;');
}
.icon-smiley {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e03a&nbsp;');
}
.icon-neutral {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e03b&nbsp;');
}
.icon-plus {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e03c&nbsp;');
}
.icon-minus {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e03d&nbsp;');
}
.icon-checkmark {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e041&nbsp;');
}
.icon-minus-2 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e042&nbsp;');
}
.icon-plus-2 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e043&nbsp;');
}
.icon-enter {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e044&nbsp;');
}
.icon-exit {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e045&nbsp;');
}
.icon-menu {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e052&nbsp;');
}
.icon-backspace {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e053&nbsp;');
}
.icon-backspace-2 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e054&nbsp;');
}
.icon-tab {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e056&nbsp;');
}
.icon-checkbox {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e057&nbsp;');
}
.icon-checkbox-unchecked {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e058&nbsp;');
}
.icon-checkbox-partial {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e059&nbsp;');
}
.icon-radio-checked {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e05a&nbsp;');
}
.icon-radio-unchecked {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e05b&nbsp;');
}
.icon-paragraph-left {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e05c&nbsp;');
}
.icon-paragraph-center {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e05d&nbsp;');
}
.icon-paragraph-right {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e05e&nbsp;');
}
.icon-paragraph-justify {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e05f&nbsp;');
}
.icon-new-tab {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e061&nbsp;');
}
.icon-share {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e063&nbsp;');
}
.icon-gplus {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e064&nbsp;');
}
.icon-facebook {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e065&nbsp;');
}
.icon-twitter {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e066&nbsp;');
}
.icon-youtube {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e067&nbsp;');
}
.icon-youtube-2 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e068&nbsp;');
}
.icon-android {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e06a&nbsp;');
}
.icon-apple {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e06b&nbsp;');
}
.icon-windows {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e06c&nbsp;');
}
.icon-switch {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e06d&nbsp;');
}
.icon-earth {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e06e&nbsp;');
}
.icon-tennis {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e085&nbsp;');
}
.icon-basketball {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e086&nbsp;');
}
.icon-baseball {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e087&nbsp;');
}
.icon-americanfootball {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e088&nbsp;');
}
.icon-volleyball {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e089&nbsp;');
}
.icon-australianrules {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e08a&nbsp;');
}
.icon-darts {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e08b&nbsp;');
}
.icon-pool {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e08c&nbsp;');
}
.icon-golf {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e08d&nbsp;');
}
.icon-icehockey {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e08e&nbsp;');
}
.icon-handball {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e08f&nbsp;');
}
.icon-football {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e084&nbsp;');
}
.icon-star-3 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e001&nbsp;');
}
.icon-diary {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e092&nbsp;');
}
.icon-credit-card {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e093&nbsp;');
}
.icon-list {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e094&nbsp;');
}
.icon-grid {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e095&nbsp;');
}
.icon-grid-view {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e01b&nbsp;');
}
.icon-clipboard {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e023&nbsp;');
}
.icon-clipboard-2 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e024&nbsp;');
}
.icon-pencil {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e097&nbsp;');
}
.icon-wrench-2 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e098&nbsp;');
}
.icon-floppy {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e09a&nbsp;');
}
.icon-paperclip {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e09b&nbsp;');
}
.icon-volume {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e09c&nbsp;');
}
.icon-volume-2 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e09d&nbsp;');
}
.icon-flag {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e09e&nbsp;');
}
.icon-eye {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e02e&nbsp;');
}
.icon-mic {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e030&nbsp;');
}
.icon-calendar {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0a2&nbsp;');
}
.icon-bookmark-3 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0a3&nbsp;');
}
.icon-gift-2 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e091&nbsp;');
}
.icon-cone {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0a5&nbsp;');
}
.icon-alarm {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0a6&nbsp;');
}
.icon-location {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e00e&nbsp;');
}
.icon-mail {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0a9&nbsp;');
}
.icon-play {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e013&nbsp;');
}
.icon-pause {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e014&nbsp;');
}
.icon-stop {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0aa&nbsp;');
}
.icon-bars-2 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e09f&nbsp;');
}
.icon-checkmark-2 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0a0&nbsp;');
}
.icon-x {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0ab&nbsp;');
}
.icon-briefcase {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e00c&nbsp;');
}
.icon-camera {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e011&nbsp;');
}
.icon-user {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e00d&nbsp;');
}
.icon-cricket {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0ad&nbsp;');
}
.icon-boxing {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0ae&nbsp;');
}
.icon-greyhounds {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0af&nbsp;');
}
.icon-horseracing {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e090&nbsp;');
}
.icon-motorbikes {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0b0&nbsp;');
}
.icon-tv {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0b1&nbsp;');
}
.icon-virtualworld {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0b2&nbsp;');
}
.icon-lotteries {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0b3&nbsp;');
}
.icon-financials {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0b4&nbsp;');
}
.icon-ufcmma {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0b5&nbsp;');
}
.icon-politics {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0b6&nbsp;');
}
.icon-cycling {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0b7&nbsp;');
}
.icon-snooker {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e096&nbsp;');
}
.icon-rugbyunion {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0b8&nbsp;');
}
.icon-rugbyleague {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0b9&nbsp;');
}
.icon-read-more {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e083&nbsp;');
}
.icon-info {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0a1&nbsp;');
}
.icon-fullscreen {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0ba&nbsp;');
}
.icon-fullscreen-exit {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0bb&nbsp;');
}
.icon-mobile {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e0a4&nbsp;');
}
.icon-share-2 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e060&nbsp;');
}
.icon-drawer {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e01e&nbsp;');
}
.icon-results {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e02f&nbsp;');
}
.icon-competitions {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e03e&nbsp;');
}
.icon-inplay {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e03f&nbsp;');
}
.icon-coupons {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e040&nbsp;');
}
.icon-games {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e055&nbsp;');
}
.icon-notifications {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e062&nbsp;');
}
.icon-tips {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e069&nbsp;');
}
.icon-search {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e06f&nbsp;');
}
.icon-help {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e01f&nbsp;');
}
.icon-pending {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e020&nbsp;');
}
.icon-transfer {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e021&nbsp;');
}
.icon-accountdetails {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e071&nbsp;');
}
.icon-visa {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e070&nbsp;');
}
.icon-mastercard {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e072&nbsp;');
}
.icon-maestro {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e073&nbsp;');
}
.icon-paypal {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e074&nbsp;');
}
.icon-skrill {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e075&nbsp;');
}
.icon-ukash {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e076&nbsp;');
}
.icon-gamcare {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e077&nbsp;');
}
.icon-over18 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e078&nbsp;');
}
.icon-wall {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e079&nbsp;');
}
.icon-tshirt {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e07a&nbsp;');
}
.icon-chevronright {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e046&nbsp;');
}
.icon-athletics {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e047&nbsp;');
}
.icon-chevronleft {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e048&nbsp;');
}
.icon-expanded {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e049&nbsp;');
}
.icon-collapsed {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e04a&nbsp;');
}
.icon-arrowright {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e04b&nbsp;');
}
.icon-arrowleft {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e04c&nbsp;');
}
.icon-betslip {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e04d&nbsp;');
}
.icon-star-4 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e04f&nbsp;');
}
.icon-locked {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e050&nbsp;');
}
.icon-chart {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e04e&nbsp;');
}
.icon-diary-2 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e027&nbsp;');
}
.icon-leaderboards {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e051&nbsp;');
}
.icon-livescores {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e07b&nbsp;');
}
.icon-whtv {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e07c&nbsp;');
}
.icon-opta {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e07d&nbsp;');
}
.icon-footballpitch {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e07e&nbsp;');
}
.icon-corner {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e07f&nbsp;');
}
.icon-penalty {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e080&nbsp;');
}
