/*

  FILTERS
  - The various filters

*/

.filter {
  background-color: $container-bg-color;
  border-bottom: 1px dotted $border-light-gray-color;
  height: 40px; //emIt(40); //TODO[cm] emIt issue
  overflow: visible;
  position: relative;
  width: 100%;

  .arrow-left, .arrow-right {
    color: $text-grey-color;
    cursor: pointer;
    font-size: smaller;
    height: 100%;
    text-align: center;
    width: 40px; //emIt(40); //TODO[cm] emIt issue

    @include transition(color linear $fastAnim);

    > i {
      //TODO[cm] emIt doesn't work properly. Use it when it's fixed.
      line-height: 40px;

      &.disable {
        color: lighten($text-grey-color, 50%);
      }
    }

    &:hover {
      color: darken($text-grey-color, 10%);
    }
  }

  .arrow-left {
    float: left;
  }

  .arrow-right {
    float: right;
  }

  .swiper-container {
    margin: 0 auto;
  }

  .swiper-wrapper {
    float: left;
    height: 40px;  //emIt(40); //TODO[cm] emIt issue

    .swiper-slide {
      width: emIt(80) !important;

      &.active {
        border-bottom: 3px solid $border-blue-dark-color;
        color: $text-blue-dark-color;
        font-weight: bold;
      }

      @include transition(background-color linear $fastAnim);

      &:hover {
        background-color: darken($container-bg-color, 3%);
      }

    }

    a {
      //display: table-cell;
      color: $grey;
      float: left;
      //TODO[cm] emIt doesn't work properly. Use it when it's fixed.
      line-height: 38px;
      text-align: center;
      width: 100%;
    }

  }

}
