
/*

  MARKET - COLUMNAL
  - Correct Score

*/

.-columnal {

  @if $oldIE == false {
    @include flexbox();
  } @else {
    overflow: auto;
  }

  .button.-bet {
    &:before {
      content: attr(data-shorthand);
      text-align: left;
    }
  }

  .column {

    @if $oldIE == false {
      @include flex(1);
      @include order(1);
    } @else {
      float: left;
      width: 32%;
    }

    &:not(:first-of-type) {
      margin-left: $baseGutter;
    }

  }

}