/*

  MARKET - NWAY
  - Handicap Result

*/

.-nWay {

  // These stack in a column for mobile as well
  .button.-bet {
    &:before {
      // additional data for this view mode
      content: attr(data-extended);
    }
  }

  select { display: none; }

  // the 'table' layout with column headers
  @include respond-between($columnBreakOthers, $upperLimit) {

    // DEMO ONLY - JS WILL TAKE CARE OF THIS FOR DEPLOYMENT
    >div:not(:first-of-type) { display: none; }
    // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

    select {
      display: block;
      margin-bottom: (2*$baseGutter);
      width: 100%;
    }
    >div { 
      @if $oldIE == false {
        @include flexbox();
      } 
    }
    label { display: none; }
    .button.-bet {

      @if $oldIE == false {
        @include flex(1);
        @include order(2);
      }

      &:not(:first-of-type) {
        margin-left: $baseGutter;
      }
      &:before { content: attr(data-shorthand); }
      &:after { text-align: right; }
    }
  }

  // the x-by-x layout
  //TODO[dd] clean up this breakpoint calculation
  @include respond-to($upperLimit) {
    label { 
      display:block; 
      font-size: emIt(12);
      width: remIt(130);

      @if $oldIE {
        @include flex(1.5);
        @include order(2);
      }

    }
    div {
      @if $oldIE == false {
        @include flexbox();
      }
      .button.-bet {

        @if $oldIE == false {
          @include flex(1);
          @include order(2);
        }

        &:not(:first-of-type) {
          margin-left: $baseGutter;
        }
        &:before {
          content: attr(data-longhand);
          text-align: left;
        }
      }
    }
  }

}