/*

  MARKET - THREEMATRIX
  - Half time and Full time

*/

.-threeMatrix {
  
  // These stack in a column for mobile as well
  .button.-bet {
    &:before {
      content: attr(data-longhand);
    }
  }
  label { display:none; }

  // the 'table' layout with column headers
  @include respond-between($columnBreakOthers, $upperLimit) {
    >div { 
      @if $oldIE == false {
        @include flexbox();
      } 
    }
    label {
      display: block;

      @if $oldIE == false {
        @include flex(1);
        @include order(2);
      }

    }
    .button.-bet {

      @if $oldIE == false {
        @include flex(1);
        @include order(2);
      }

      &:not(:first-of-type) {
        margin-left: $baseGutter;
      }
      &:before { content: ''; }
      &:after { 
        right: 0;
        text-align: center;
        width: 100%;
      }
    }
  }

  // the x-by-x layout
  @include respond-to($upperLimit) {
    label { display:none; }
    div {

      @if $oldIE == false {
        @include flexbox();
      }

      .button.-bet {

        @if $oldIE == false {
          @include flex(1);
          @include order(2);
        }

        &:not(:first-of-type) {
          margin-left: $baseGutter;
        }
        &:before {text-align: left;}
      }
    }
  }

}