
// Breakpoints --------------------------------------------------
$breakpoint-1      : 0 px_to_em(570);
$breakpoint-2      : 0 px_to_em(870);
$breakpoint-3      : 0 px_to_em(1023);
$breakpoint-4      : 0 px_to_em(1190);
$breakpoint-5      : px_to_em(1080);
$breakpoint-6      : px_to_em(570);

$sidebarsHidden    : max-width px_to_em(870);

// Used in the highlights page
// If the current funtionality is desired, these will need
// to be cleaned up
$breakpoint-7      : px_to_em(770) px_to_em(870);
$breakpoint-8      : px_to_em(771) px_to_em(1080);
$breakpoint-9      : px_to_em(1080);
$breakpoint-10     : px-to_em(870) px_to_em(1014);
$breakpoint-11     : px_to_em(771) px_to_em(870);
$breakpoint-12     : px_to_em(1015) px_to_em(1080);
$breakpoint-13     : px_to_em(1080) px_to_em(1230);

$breakpoint-1-flip      : min-width px_to_em(570);
$breakpoint-2-flip      : min-width px_to_em(870);
$breakpoint-3-flip      : min-width px_to_em(1023);
$breakpoint-4-flip      : min-width px_to_em(1190);
$breakpoint-5-flip		: min-width px_to_em(1080);

// Markets
$breakpoint_market-1    : px_to_em(600) px_to_em(1023);
$breakpoint_market-2    : min-width px_to_em(600);
$breakpoint_market-3    : max-width px_to_em(600);
$breakpoint_market-4	: max-width px_to_em(477);


// Drawers
$breakpoint_drawers-1   : max-width px_to_em(1610);

$breakpoint-hi-rez: min-resolution 1.5dppx;