/*

  FUNCTIONS
  - These should not generate rules, instead they should generate
    values to be used *inside* of rules

*/

// Convert PX to EM
//TODO[dd]: This is a bit fooked, find a better way...
@function px_to_em($px, $font-base: $bodyFontSize) {
  @return ($px / $font-base) * 1em;
}
@function emIt($size-in-px, $context: $bodyFontSize) {
  @if not unitless($size-in-px) {
      $size-in-px: strip-units($size-in-px);
  }
  @if not unitless($context) {
      $context: strip-units($context);
  }
  @return ($size-in-px / $context) * 1em;
}

// Convert PX to REM
@function remIt($size, $basepx: 14) {
  @if not unitless($size) {
    $size: strip-units($size);
  }
  @if not unitless($basepx) {
    $basepx: strip-units($basepx);
  }
  $remSize: ($size / $basepx);
  @return #{$remSize}rem;
}

@function emCPnv($target, $context: $base-font-size) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
}