/*

  MIXINS
  - these should be checked often against compass mixins to make sure we are not doubling up on things

*/

// Multi-Vendor shorthands -------------------------------------------------
@mixin scale($ratio: 1) {
  -webkit-transform : scale($ratio);
  -moz-transform : scale($ratio);
  -ms-transform : scale($ratio);
  -o-transform : scale($ratio);
  transform : scale($ratio); 
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}
@mixin flex-flow($values) {
  -webkit-flex-flow: $values;
  -moz-flex-flow: $values;
  -ms-flex-flow: $values;
  flex-flow: $values;
}

// standard values: row, row-reverse, column, column-reverse
// alternative values: normal, reverse, normal, reverse
// 2nd alternative values: horizontal, horizontal, vertical, vertical
@mixin flex-direction($val: row, $val2: normal, $val3: horizontal) {
  -webkit-box-direction: $val2;
  -moz-box-direction: $val2;
  -webkit-box-orient: $val3;
  -moz-box-orient: $val3;
  -webkit-flex-direction: $val;
  -ms-flex-direction: $val;
  flex-direction: $val;
}

// standard values: flex-start, flex-end, center, space-between, space-around, stretch
// alternative values: start, end, center, justify, distribute, stretch
@mixin flex-align-content($val: flex-start, $val2: start) {
  -webkit-align-content: $val;
  -ms-flex-line-pack: $val2;
  align-content: $val;
}

// standard values: flex-start, flex-end, center, space-between, space-around
// alternative values: start, end, center, justify, distribute
@mixin flex-justify-content($val: flex-start, $val2: start) {
  -webkit-box-pack: $val2;
  -moz-box-pack: $val2;
  -webkit-justify-content: $val;
  -ms-flex-pack: $val2;
  justify-content: $val;
}

// standard values: flex-start, flex-end, center, stretch, baseline
// alternative values: start, end, center, stretch, baseline
@mixin flex-align-items($val: flex-start, $val2: start) {
  -webkit-box-align: $val2;
  -moz-box-align: $val2;
  -webkit-align-items: $val;
  -ms-flex-align: $val2;
  align-items: $val;
}

// standard values: flex-start, flex-end, center, stretch, baseline
// alternative values: start, end, center, stretch, baseline
@mixin flex-align-self($val: flex-start, $val2: start) {
  -webkit-align-self: $val;
  -ms-flex-item-align: $val2;
  align-self: $val;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}
@mixin flex-basis($val) {
  -webkit-flex-basis: $val;
  -moz-flex-basis: $val;
  -ms-flex-basis: $val;
  flex-basis: $val;
}
@mixin flex-wrap($val: wrap) {
  -webkit-flex-wrap: $val;
  -ms-flex-wrap: $val;
  flex-wrap: $val;
}

// Display changes ---------------------------------------------------------
@mixin square($x) {
  height: $x;
  width: $x;
}

@mixin vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transform-style($style) {
  -webkit-transform-style: $style;
  -moz-transform-style: $style;
  transform-style: $style;
}


// Responsive --------------------------------------------------------------
/*
  set styles for $breakpoint and UP
*/
@mixin respond-to($breakpoint) {
    @media only screen and (min-width: $breakpoint + px) { @content; }
}

/*
  set styles for range $lower to $upper
*/
@mixin respond-between($lower, $upper) {
  @media only screen and (min-width: $lower + px) and (max-width: $upper + px) { @content; }
}


// Objects --------------------------------------------------------------
@mixin button($border-radius: 0.2em) {
  border: 1px solid transparent;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2em;
  padding: $basePadding $basePadding*2;
  color: $white;
  font-weight: bold;
  margin: 0;

  @include border-radius($border-radius);
  @include transition(background-color linear $fastAnim);
}

@mixin tab($border-radius: 0.4em) {
  border: 1px solid transparent;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2em;
  padding: 0.5em 1em;
  color: $tabs-color;
  font-weight: bold;
  @include border-radius($border-radius $border-radius 0 0);
}

@mixin alert-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;

  hr {
    border-top-color: darken($border, 5%);
  }
  .alert-link {
    color: darken($text-color, 10%);
  }
}

// Icon font --------------------------------------------------------------
@mixin wh-font-icon {
  font-family: 'whIconFont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Style according to page we're on
 */
@mixin sport-page($page) {
  body[data-page=#{$page}] {
    @content;
  }
}

@mixin circle($diameter, $colour) {
  width: $diameter;
  height: $diameter;
  background: $colour;
  @include border-radius(50%);
}

@mixin truncate-text($property: '') {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: $property;
}

@mixin hyperlink() {
  text-decoration: none;
  cursor: pointer;
  color: $link-blue-dark-color;
  &:hover {
    color: mix($link-blue-dark-color, white, 50%);
  }
}

@mixin message($bg-colour, $border-color, $font-color) {
  height: 24px;
  font-size: 12px;
  text-align: center;
  @include border-radius(4px);
  background-color: $bg-colour;
  color: $font-color;
  border: 1px solid $border-color;
  width: 100%;
  padding: 0.4em;
  margin-bottom: 0.5em;
  @include truncate-text(ellipsis);
}

@mixin suspended-market($text: 'Suspended') {
  @extend %button--disabled;
  &:after {
    content: $text;
    display: block;
    font-size: 0.8em;
    font-weight: normal;
  }
}

// Fix compiling error (compass mixin) --------------------------------------
@mixin box-sizing($box-model: $default-box-sizing){
  @include prefixed-properties(css3-boxsizing, $box-sizing-support-threshold, (box-sizing: $box-model));
}

// Mixin to implement IE specific css
$old-ie: false !default;
@mixin old-ie {
  @if $old-ie {
    @content;
  }
}

@mixin table-cell-width($width) {
  width: $width;
  max-width: $width;
}

@mixin table-cell($align: middle, $width: null) {
  display: table-cell;
  vertical-align: $align;
  @if $width != null {
    @include table-cell-width($width);
  }
}
