/*

  PLACEHOLDERS
  - silent classes for useful styles

*/
// standard colours

// %lightGreenBg{
//   background-color: $whPaleGreen; // It's only used here
// }

// %paleBlueBg {
//   background-color: $whPaleBlue; // It's only used here
// }

// %darkBlueBg {
//   background-color: $whDarkBlue;
// }
// %darkBlue2Bg {
//   background-color: $whDarkBlue2;
// }

// %greyBg {
//   background-color: $whLightGrey;
// }
// %greyBgHover {
//   background-color: darken($whLightGrey, 10%);
// }
// %blueBg {
//   background-color: $whLightBlue;
// }
// %blueBgHover {
//   background-color: darken($whLightBlue, 10%);
// }
// %greenBg {
//   background-color: $whPaleGreen;
// }
// %greenBgHover {
//   background-color: darken($whPaleGreen, 10%);
// }
// %redBg {
//   background-color: $whRed;
// }
// %redBgHover {
//   background-color: darken($whRed, 10%);
// }
// %orangeBg {
//   background-color: $whOrange;
// }
// %orangeBgHover {
//   background-color: darken($whOrange, 10%);
// }

%textLabel {
  font-weight: bold;
}

// reusable styles
%fullWidthBlock {
  display: block;
  width: 100%;
}

%disableLink {
  color: $dove-gray; // #666
  cursor: default;
  &:hover {
    color: $dove-gray;
  }
}

/* Button */
%button{
  border: none;
  cursor: pointer;
  min-height: ($baseGutter * 4);

  @include border-radius(0.4em);
  @include transition(background-color linear $fastAnim);
}

// %button--join{
//   @extend %button;
//   @extend %lightGreenBg;
//   color: $whLightGrey;
//   padding: 5px 15px;
// }

%button--primary {
  background: $button-green-bg-color;
  color: $link-white-color;
  &:hover {
    background: $button-green-hover-bg-color;
    color: $link-white-color;
  }
}

%button--disabled {
  background: $button-grey-bg-color;
  color: $link-white-color;
}

/* Tab 

%tab{


}

%tab--product{
  @extend %tab;
  float: left;
}

%tab--selected{
  @extend %darkBlue2Bg;
}

%tab--actual{
  @extend %darkBlueBg;
}
*/