.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.bold{
  font-weight: bold;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

// clears whitespace
.cw {
  font-size: 0;
  display: inline-block;
}

.emp {
  font-style: italic;
}

.cap {
  text-transform: capitalize;
}

.displayNone {
  display: none !important;
}

.visually-hidden {  // for hiding text visually but keeping accessible to screen readers
  position: absolute !important;
  height: 1px;
  width: 1px; 
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.default-cursor {
  cursor: default;
}

/**
 * Toggles state of items in expanded or collapsed state
 */
.if-expanded {
  display: none;
}
.-expanded {
  > .if-collapsed {
    display: none;
  }
  > .if-expanded {
    display: inherit;
  }
}