//
// Alerts
// --------------------------------------------------


// Base styles
// -------------------------

.alert {
  padding: $alert-padding;
  border: 1px solid transparent;
  border-radius: $alert-border-radius;

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing $headings-color
    color: inherit;
  }
  // Provide class for links that match alerts
  .alert-link {
    font-weight: $alert-link-font-weight;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }
  > p + p {
    margin-top: 5px;
  }
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable, // The misspelled .alert-dismissable was deprecated in 3.2.0.
.alert-dismissible {
  padding-right: ($alert-padding + 20);

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
  @include alert-variant($message-success-bg-color, $message-success-border-color, $message-success-font-color);
}
.alert-warning {
  @include alert-variant($message-warning-bg-color, $message-warning-border-color, $message-warning-font-color);
}
.alert-danger {
  @include alert-variant($message-error-bg-color, $message-error-border-color, $message-error-font-color);
}

// TODO[cm] Check if can be removed
$state-info-text: #31708f !default;
$state-info-bg: #d9edf7 !default;
$state-info-border: darken(adjust-hue($state-info-bg, -10), 7%) !default;

$alert-info-bg: $state-info-bg !default;
$alert-info-text: $state-info-text !default;
$alert-info-border: $state-info-border !default;
.alert-info {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

$alert-status-bg: rgba(0,0,0,0.8) !default;
$alert-status-text: $white !default;
$alert-status-border: rgba(0,0,0,0.8) !default;
.alert-status {
  @include alert-variant($alert-status-bg, $alert-status-border, $alert-status-text);
}