.banner {
  position: relative;
  float: left;

  &.-small {
    height: px_to_em(90, 16);
    margin-top: ($baseGutter * 2);
    width: 100%;

    @include breakpoint($breakpoint-6){
      width: calc(50% - 8px);
      float: left;
      &:last-child{
        float: right;
      }
    }

    @include breakpoint($breakpoint-9){
      width: 100%;
    }

  }

  .button {
    bottom: px_to_em(12, 16);
    position: absolute;
    right: px_to_em(12, 16);
  }
}

article.banner {
  width: 100%;
  margin-bottom: 1em;
  background-repeat: no-repeat;
  background-position: top;
  color: $text-white-color;
  text-align: center;
  z-index: 1;

  // maintain proportional scaling of element with:
  // height = 0 and padding-bottom = desired percentage element height
  &:not(.template1) {
    height: 0;
    section:first-of-type {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      left: 0;
    }
  }

  &.with-markets {
    padding-bottom: $banner-with-markets-proportional-height;
    @include single-transition(padding, 0.5s);
  }

  &.template2,
  &.template3 {
    padding-bottom: $banner-proportional-height;
    @include breakpoint(px_to_em(768)) {
      padding-bottom: 28%;
    }
    @include breakpoint(px_to_em(810)) {
      padding-bottom: 26%;
    }
    @include breakpoint(px_to_em(870)) {
      padding-bottom: $banner-proportional-height;
    }
    @include breakpoint(px_to_em(960)) {
      padding-bottom: 28%;
    }
    @include breakpoint(px_to_em(1060)) { 
      padding-bottom: 26%;
    }
    @include breakpoint(px_to_em(1080)) { 
      padding-bottom: $banner-proportional-height;
    }
    @include breakpoint(px_to_em(1160)) { 
      padding-bottom: 28%;
    }
    @include breakpoint(px_to_em(1190)) { 
      padding-bottom: 26%;
    }
    @include breakpoint(px_to_em(1240)) { 
      padding-bottom: 24%;
    }
    section {
      padding: 4%;
    }
    p {
      font-size: 0.75em;
      line-height: 1.25;
      font-weight: bold;
      padding-bottom: px_to_em(4);
    }
  }

  p.subtitle { 
    font-size: 0.9em;
    line-height: 1.25;
    font-weight: bold;
    padding-bottom: px_to_em(4);
    z-index: 4;
    position: relative;
    a {
      color: $supernova;
    }
  }

  @include breakpoint($breakpoint-2-flip) { // min-width 870px
    margin-top: 1.5em;
  }
  
  h1,
  p {
    margin: auto 0;
    @include single-transition(font-size, 0.5s);
    &.right {
      text-align: right;
    }
    &.left {
      text-align: left;
    }
  }

  p {
    overflow: hidden;
  }

  h1 {
    font-size: 1.125em;
    font-weight: bold;
    padding-bottom: px_to_em(4);
    @include truncate-text();
  }

  h1 a,
  &.template2 a,
  &.template3 a { 
    color: $text-white-color;
  }

  section:first-of-type {
    h1,
    p {
      text-shadow: $text-black-color 1px 1px 1px;
    }
  }

  .banner-content-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .oddsbutton {
    position: relative;
    font-size: px_to_em(12);

    &.-add, 
    &.-remove {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .market .market__button.oddsbutton {
    margin-bottom: 0;
  }

  .selectiondetails:after {
    content: attr(data-odds);
    font-weight: bold;
    text-align: center;
  }

  .team-shirt-container {
    position: absolute;
    width: 35%;
    top: 0;
    z-index: 3;
    &.left {
      left: -5%;
    }
    &.right {
      right: -5%;
    }
  }

  .team-shirt {
    max-width: 100%;
  }

  header {
    position: relative;
    z-index: 2;
    overflow: hidden;
    @include single-transition(margin, 0.5s);
    h1 {
      font-size: 1em;
      z-index: 4;
      position: relative;
    }
  }

  header h1,
  p.subtitle,
  .event-name-container {
    padding-left: 8px;
    padding-right: 8px;
  }

  .event-name-container a,
  .market-description,
  .selection-description,
  .oddsbutton {
    color: $text-blue-dark-color;
  }

  .event-name-container {
    background: $container-white-bg-color;
    font-weight: bold;
    font-size: 0.9em;
    overflow: hidden;
    padding-top: px_to_em(2);
    padding-bottom: px_to_em(2);
    z-index: 4;
    position: relative;
    @include single-transition(font-size, 0.5s);
    &.single-event {
      margin-top: px_to_em(4)
    }
  }

  .event-name-first,
  .event-name-second,
  .event-name-single {
    display: block;
    text-align: center;
  }

  .event-name-first,
  .event-name-second,
  .event-name-single,
  .team-name-first,
  .team-name-second {
    a {
      display: block;
      margin: 0 auto;
      padding: px_to_em(2) 0 px_to_em(2) 0;
      @include truncate-text();
      &[href="#"],
      &[href=""] {
        cursor: default;
      }
    }
  }

  .event-name-first,
  .event-name-second,
  .team-name-first,
  .team-name-second {
    padding: px_to_em(2) 0;
  }

  .event-name-single {
    padding: px_to_em(4) 0;
  }

  .event-name-second {
    a {
      max-width: 80%;
      @include breakpoint(px_to_em(440)) {
        max-width: 100%;
      }
    }
  }

  .team-name-first,
  .team-name-second {
    a {
      max-width: 55%;
    }
  }

  .event-name-single {
    a {
      max-width: 100%;
    }
  }

  .markets-container {
    clear: both;
    display: none;
    position: relative;
    z-index: 3;
    padding: 0 8px;
  }

  .markets-header,
  .market-name {
    background: $header-blue-darkest-bg-color;
    padding: px_to_em(8);
    font-size: 1em;
    @include truncate-text();
  }

  .markets-header,
  .market,
  .selection {
    margin-bottom: 0.5%;
  }

  .market-name {
    margin-bottom: px_to_em(4);
  }

  .market-description,
  .selection-description {
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    padding: px_to_em(12) px_to_em(8) px_to_em(4) px_to_em(8);
    margin: 0 auto;
    max-width: 85%;
    @include truncate-text();
    &.left {
      text-align: left;
    }
  }

  .toggle-terms {
    width: $terms-icon-diameter;
    height: $terms-icon-diameter;
    text-shadow: none;
    font-weight: normal;
    color: $text-white-color;
    overflow: hidden;
    position: absolute;
    bottom: -$terms-icon-diameter/2;
    left: 0;
    z-index: 5;
  }

  .icon-x,
  .icon-info {
    @include circle($terms-icon-diameter, $link-blue-darker-color);
    position: absolute;
    cursor: pointer;
    right: 0;
    bottom: 0;
    font-size: 0.9em;
    line-height: 2.2;
    @include single-transition(bottom, 0.5s);
  }

  &.terms-hidden {
    .terms {
      top: 100%;
    }
    .icon-x {
      bottom: -$terms-icon-diameter;
    }
  }

  .terms {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: px_to_em(8);
    background: $container-white-bg-color;
    color: $text-blue-dark-color;
    z-index: 4;
    @include single-transition(top, 0.5s);
    footer {
      position: absolute;
      bottom: px_to_em(8);
      right: 0;
      left: 0;
      width: 100%;
      padding: 0 px_to_em(36);
      text-align: center;
    }
  }

  .terms-header {
    font-size: 1em;
    padding: 0 0 px_to_em(4);
  }

  .terms-text {
    font-size: 0.7em;
    line-height: 1.2;
    padding: px_to_em(4) 0 px_to_em(8);
    max-height: 6.2em;
    overflow: hidden;
    text-align: left;
  }

  .terms-link {
    font-size: 0.7em;
    @include truncate-text();
    display: block;
  }

  &.template1 img { max-width: 100%; }

  // use flex layout for template 2 only
  &.template2 {
    section {
      @include flexbox();
      @include flex-align-content(stretch, stretch);
      @include flex-direction(column, normal, vertical);
    }

    h1 {
      -webkit-flex-grow: 1;
      -ms-flex-grow: 1;
      flex-grow: 1;
      max-height: 1.3em;
    }

    p {
      -webkit-flex-grow: 2;
      -ms-flex-grow: 2;
      flex-grow: 2;
      max-height: 3.75em;
      @include breakpoint(px_to_em(400)) {
        max-height: 3.7em;
      }
    }
  }

  // for template 3
  .banner-content {
    display: table;
    margin: 0 auto;
    table-layout: fixed;
    width: 100%;
    p,
    .selection {
      display: table-cell;
      vertical-align: middle;
    }
    &.no-header {
      padding-top: px_to_em(32);
      @include breakpoint(px_to_em(470)) { // 29.375em
        padding-top: px_to_em(36);
      }
      @include breakpoint(px_to_em(600)) { // 37.5em
        padding-top: px_to_em(60);
      }
      @include breakpoint(px_to_em(700)) { // 43.75em
        padding-top: px_to_em(64);
      }
      @include breakpoint(px_to_em(1080)) { // 67.5em
        padding-top: px_to_em(40);
      }
      @include breakpoint(px_to_em(1190)) { // 74.375em
        padding-top: px_to_em(48);
      }
    }
  }

  &.template3 {
    p {
      padding-top: 2%;
      padding-bottom: 2%;
      a {
        display: block;
        max-height: 3.7em;
        overflow: hidden;
      }
    }
    .selection {
      width: px_to_em(80);
      @include single-transition(width, 0.5s);
    }

    .single-offer-left {
      p {
        padding-left: 4%;
      }
      .selection {
        text-align: left;
      }
    }

    .single-offer-right {
      p {
        padding-right: 4%;
      }
      .selection {
        text-align: right;
      }
    }

    .single-offer-left,
    .single-offer-right {
      .oddsbutton {
        max-width: px_to_em(80);
      }
    }

    .double-offer {

      @include breakpoint(px_to_em(640)) {
        padding-top: px_to_em(8);
      }
      
      p {
        padding-left: 4%;
        padding-right: 4%;
      }
      .selection {
        &:first-of-type {
          text-align: left;
        }
        &:last-of-type {
          text-align: right;
        }
        width: px_to_em(60);
        .oddsbutton {
          max-width: px_to_em(60);
        }
        @include breakpoint(px_to_em(470)) { // 29.375em
          width: px_to_em(80);
          .oddsbutton {
            max-width: px_to_em(80);
          }
        }
        @include breakpoint(px_to_em(600)) { // 37.5em
          width: px_to_em(96);
          .oddsbutton {
            max-width: px_to_em(72);
          }
        }
        @include breakpoint(px_to_em(700)) { // 43.75em
          width: px_to_em(112);
        }
        @include breakpoint(px_to_em(1080)) { // 67.5em
          width: px_to_em(80);
        }
        @include breakpoint(px_to_em(1190)) { // 74.375em
          width: px_to_em(96);
        }
      }
    }

    .oddsbutton {
      right: auto;
      bottom: auto;
      @include single-transition(font-size, 0.5s);
    }

    @include breakpoint(px_to_em(400)) { // 25em
      h1 {
        font-size: 1.5em;
      }
      p,
      .oddsbutton {
        font-size: 0.9em;
      }
      .selection {
        width: px_to_em(88);
      }
    }

    @include breakpoint(px_to_em(470)) { // 29.375em
      h1 { 
        font-size: 1.6em;
        margin-bottom: px_to_em(4);
      }
      p,
      .oddsbutton {
        font-size: 1em;
      }
      .selection {
        width: px_to_em(96);
      }
    }

    @include breakpoint(px_to_em(540)) { // 33.75em
      h1 { 
        font-size: 1.9em;
        margin-bottom: 0;
      }
      p,
      .oddsbutton { 
        font-size: 1.2em;
      }
      .selection {
        width: px_to_em(112);
      }
    }

    @include breakpoint(px_to_em(600)) { // 37.5em
      h1 { 
        font-size: 2.3em;
      }
      p,
      .oddsbutton { 
        font-size: 1.3em;
      }
      .selection {
        width: px_to_em(128);
      }
    }

    @include breakpoint(px_to_em(700)) { // 43.75em
      h1 { 
        font-size: 2.4em;
      }
      p,
      .oddsbutton { 
        font-size: 1.5em;
      }
      .selection {
        width: px_to_em(144);
      }
    }

    @include breakpoint(px_to_em(870)) { // 54.375em; min banner width = 600px
      h1 { 
        font-size: 2.3em;
      }
      p,
      .oddsbutton { 
        font-size: 1.3em;
      }
      .selection {
        width: px_to_em(128);
      }
    }

    @include breakpoint(px_to_em(980)) { // 61.25em; min banner width = 710px
      h1 { 
        font-size: 2.4em;
      }
      p,
      .oddsbutton { 
        font-size: 1.5em;
      }
      .selection {
        width: px_to_em(144);
      }
    }

    @include breakpoint(px_to_em(1080)) { // 67.5em; min banner width = 442px
      h1 {
        font-size: 1.6em;
      }
      p,
      .oddsbutton {
        font-size: 1em;
      }
      .selection {
        width: px_to_em(96);
      }
    }

    @include breakpoint(px_to_em(1190)) { // 74.375em; min banner width = 540px
      h1 { 
        font-size: 1.7em;
      }
      p,
      .oddsbutton { 
        font-size: 1.1em;
      }
      .selection {
        width: px_to_em(112);
      }
    }

  }

  &.template2 {
    @include breakpoint(px_to_em(400)) {
      h1 {
        font-size: 1.5em;
      }
      p {
        font-size: 0.9em;
      }
    }

    @include breakpoint(px_to_em(540)) { 
      h1 { 
        font-size: 1.8em;
      }
      p { 
        font-size: 1.2em;
      }
    }

    @include breakpoint(px_to_em(710)) { 
      h1 { 
        font-size: 2.4em;
      }
      p { 
        font-size: 1.4em;
      }
    }

    @include breakpoint(px_to_em(870)) { // min banner width = 600px
      h1 { 
        font-size: 2.1em;
      }
      p { 
        font-size: 1.35em;
      }
    }

    @include breakpoint(px_to_em(980)) { // min banner width = 710px
      h1 { 
        font-size: 2.4em;
      }
      p { 
        font-size: 1.5em;
      }
    }

    @include breakpoint(px_to_em(1080)) { // min banner width = 442px
      h1 {
        font-size: 1.6em;
      }
      p {
        font-size: 1em;
      }
    }

    @include breakpoint(px_to_em(1190)) { // min banner width = 540px
      h1 { 
        font-size: 1.7em;
      }
      p { 
        font-size: 1.1em;
      }
    }

  }

  &.with-markets {
    section:not(.terms) {
      padding: 4% 0;
      & {
        z-index: 1;
      }
    }

    .market,
    .selection {
      padding: px_to_em(4);
      background: $container-white-bg-color;
      border-bottom: 1px solid $silver;
      overflow: hidden;
      white-space: nowrap;
    
      .selectiondetails {
        &:before {
          content: none;
        }
        &:after {
          padding-left: 0;
        }
      }

      &.left {
        text-align: left;
      }

      &.right {
        text-align: right;
      }
    }

    .oddsbutton {
      font-size: 1em;
      width: px_to_em(80);
      padding-top: px_to_em(8);
      padding-bottom: px_to_em(8);
      right: auto;
      bottom: auto;
    }

    p.subtitle {
      @include truncate-text();
      a {
        display: inline-block;
        width: 100%;
        overflow: hidden;
      }
    }

    @include breakpoint(px_to_em(400)) { // min-width: 25em
      header h1 {
        font-size: 1.1em;
      }
      p.subtitle {
        font-size: 1em;
      }
      .event-name-container {
        font-size: 1.125em;
      }
    }

    @include breakpoint(px_to_em(540)) { // min-width: 33.75em; display markets
      &.one-market,
      &.two-markets {
        section:not(.terms) {
          padding-top: px_to_em(8);
        }
        header {
          margin-bottom: px_to_em(8);
          h1 {
            padding-bottom: px_to_em(8);
          }
        }
        p.subtitle {
          padding-bottom: px_to_em(8);
        }
      }

      &.one-market {
        padding-bottom: 31.5%;
      }

      &.two-markets {
        padding-bottom: 44%;
      }

      section:not(.terms) {
        padding-top: px_to_em(4);
      }
      header {
        margin-bottom: 0.5%;
      }
      p.subtitle {
        font-size: 0.8em;
      }
      .event-name-container {
        font-size: 0.75em;
        padding-top: px_to_em(8);
        padding-bottom: px_to_em(8);
      }
      
      .markets-container {
        display: block;
      }

      .markets-header,
      .market-description,
      .oddsbutton,
      .market-name,
      .selection-description {
        font-size: 0.7em;
      }
      .markets-header,
      .market,
      .selection {
        margin-bottom: 0.25%;
      }
      .market,
      .selection {
        padding: 0.125em;
      }
    }

    @include breakpoint(px_to_em(640)) {
      &.one-market,
      &.two-markets {
        section:not(.terms) {
          padding-top: px_to_em(16);
        }
        p.subtitle {
          padding-bottom: px_to_em(12);
        }
      }

      section:not(.terms) {
        padding-top: px_to_em(8);
      }
      header {
        margin-bottom: px_to_em(8);
      }
      header h1,
      p.subtitle {
        font-size: 1em;
      }
      p.subtitle {
        line-height: 1;
      }
      .event-name-container,
      .markets-header,
      .market-description,
      .oddsbutton,
      p.subtitle,
      .market-name,
      .selection-description {
        font-size: 0.9em;
      }
    }

    @include breakpoint(px_to_em(710)) { // min-width: 44.375em
      &.one-market,
      &.two-markets {
        header {
          margin-bottom: px_to_em(16);
        }
      }

      section:not(.terms) {
        padding: px_to_em(16) 0;
      }
      header {
        margin-bottom: 1%;
      }
      .event-name-container {
        font-size: 1em;
      }
      .markets-header,
      .market-description,
      .oddsbutton,
      .market-name,
      .selection-description {
        font-size: 1em;
      }
      
      header h1,
      p.subtitle {
        padding-left: 16px;
        padding-right: 16px;
      }
      
      .market,
      .selection {
        padding: 0.175em;
      }
      
    }

    @include breakpoint(px_to_em(790)) {
      header {
        margin-bottom: px_to_em(16);
      }
    }

    @include breakpoint(px_to_em(870)) { // min banner width = 600px
      &.one-market,
      &.two-markets {
        section:not(.terms) {
          padding-top: px_to_em(8);
        }
      }

      header {
        margin-bottom: 1%;
        h1 {
          font-size: 1.1em;
        }
      }
      .event-name-container,
      .markets-header,
      .market-description,
      .oddsbutton,
      p.subtitle,
      .market-name,
      .selection-description {
        font-size: 0.8em;
      }
      .markets-header,
      .market,
      .selection {
        margin-bottom: 0.25%;
      }
    }

    @include breakpoint(px_to_em(980)) { // min banner width = 710px
      &.one-market,
      &.two-markets {
        section:not(.terms) {
          padding-top: px_to_em(16);
        }
        p.subtitle {
          padding-bottom: px_to_em(16);
        }
      }

      &.two-markets {
        padding-bottom: 38%;
      }

      header {
        margin-bottom: px_to_em(16);
      }
      header h1,
      p.subtitle {
        padding-bottom: px_to_em(8);
      }
    }

    @include breakpoint(px_to_em(1015)) { // min banner width = 740px
      &.two-markets {
        padding-bottom: 42%;
      }

      section:not(.terms) {
        padding-top: 0.5em;
      }
      header h1,
      .event-name-container,
      .markets-header,
      .market-description,
      .oddsbutton,
      p.subtitle,
      .market-name,
      .selection-description {
        font-size: 1em;
      }
    }

    @include breakpoint(px_to_em(1080)) { // min banner width = 442px
      &.one-market,
      &.two-markets {
        section:not(.terms) {
          padding-top: px_to_em(8);
        }
        header {
          margin-bottom: px_to_em(8);
          h1 {
            padding-bottom: px_to_em(4);
          }
        }
        p.subtitle {
          padding-bottom: px_to_em(8);
        }
      }

      &.one-market {
        padding-bottom: 34%;
      }

      &.two-markets {
        padding-bottom: 230px; //51.5%;
      }

      padding-bottom: 48%;
      header {
        margin-bottom: 1%;
        h1 {
          font-size: 1.1em;
          padding-bottom: 0.25em;
        }
      }
      p.subtitle {
        font-size: 0.8em;
        padding-bottom: 0.25em;
      }

      .event-name-container {
        font-size: 0.7em;
      }

      header h1,
      p.subtitle {
        padding-left: 8px;
        padding-right: 8px;
      }

      .markets-header,
      .market-description,
      .oddsbutton,
      .market-name,
      .selection-description {
        font-size: 0.75em;
      }
      .market,
      .selection {
        padding: 0.125em;
      }
      .toggle-terms {
        right: 8px;
        bottom: 8px;
      }

    }

    @include breakpoint(px_to_em(1140)) {
      header {
        margin-bottom: px_to_em(8);
      }
      .event-name-container {
        font-size: 0.75em;
      }
    }

    @include breakpoint(px_to_em(1190)) { // min banner width = 540px
      header h1 {
        font-size: 1.2em;
      }
      p.subtitle {
        font-size: 0.9em;
        padding-bottom: 0.5em;
      }
      .event-name-container,
      .markets-header,
      .market-description,
      .oddsbutton,
      .market-name,
      .selection-description {
        font-size: 0.8em;
      }
    }

    @include breakpoint(px_to_em(1235)) {
      &.one-market,
      &.two-markets {

        section:not(.terms) {
          padding-top: px_to_em(16);
        }
        header {
          margin-bottom: px_to_em(16);
        }
        p.subtitle {
          padding-bottom: px_to_em(12);
        }
      }

      &.two-markets {
        padding-bottom: 268px;
      }

      header {
        margin-bottom: px_to_em(16);
      }
      header h1,
      p.subtitle {
        padding-left: 16px;
        padding-right: 16px;
      }
      .event-name-container,
      .markets-header,
      .market-description,
      .oddsbutton,
      .market-name,
      .selection-description {
        font-size: 0.9em;
      }
      .toggle-terms {
        right: 16px;
        bottom: 16px;
      }
    }
    
  }

  &.template4 {
    
    .oddsbutton {
      float: right;
    }

    .markets-container {
      width: 80%;
    }

    @include breakpoint(px_to_em(540)) { // min-width: 33.75em; display markets
      .event-name-first {
        float: left;
        max-width: 50%;
      }
      .event-name-second {
        float: right;
        max-width: 50%;
      }
      .markets-container {
        width: 90%;
      }
      .toggle-terms {
        right: 8px;
        bottom: 8px;
        left: auto;
      }
    }

    @include breakpoint(px_to_em(640)) {
      .markets-container {
        width: 80%;
      }
      .market-description {
        max-width: 82%;
      }
    }

    @include breakpoint(px_to_em(710)) { // min-width: 44.375em
      .market-description {
        max-width: 84%;
      }
      .event-name-container {
        padding-left: 16px;
        padding-right: 16px;
      }
      .markets-container {
        padding-left: 16px;
      }
      .toggle-terms {
        bottom: 16px;
        right: 16px;
        left: auto;
      }
    }

    @include breakpoint(px_to_em(980)) { // min banner width = 710px
      .market-description {
        max-width: 86%;
      }
    }

    @include breakpoint(px_to_em(1015)) { // min banner width = 740px
      .market-description {
        max-width: 84%;
      }
    }

    @include breakpoint(px_to_em(1080)) { // min banner width = 442px
      .event-name-container {
        padding-left: 8px;
        padding-right: 8px;
      }
      .markets-container {
        padding-left: 8px;
      }
      .markets-container {
        width: 90%;
      }
      .market-description {
        max-width: 82%;
      }
      .event-name-first {
        padding-right: 0.125em;
      }
      .event-name-second {
        padding-left: 0.125em;
      }

    }

    @include breakpoint(px_to_em(1140)) {
      .market-description {
        max-width: 84%;
      }
    }

    @include breakpoint(px_to_em(1235)) {
      .event-name-container {
        padding-left: 16px;
        padding-right: 16px;
      }
      .markets-container {
        padding-left: 16px;
      }
    }
    
  }

  &.template5,
  &.template6,
  &.template7 {

    header { 
      overflow: visible;
    }

    .team-shirt-container {
      width: 34%;
      top: -8%;
      &.left {
        left: -10%;
      }
      &.right {
        right: -10%;
      }
    }

    .event-name-container {
      z-index: 2;
      padding-left: 0;
      padding-right: 0;
    }

    i {
      color: $text-blue-color;
      display: block;
    }

    .markets-container {
      width: 95%;
      margin: 0 auto;
      overflow: hidden;
    }

    .oddsbutton {
      width: px_to_em(72);
    }

    @include breakpoint(px_to_em(540)) { // min-width: 33.75em; display markets
      .team-shirt-container {
        top: 8%;
      }
      .event-name {
        max-width: 53%;
        margin: 0 auto;
        white-space: nowrap;
      }
      .team-name-first,
      .team-name-second,
      i {
        display: inline-block;
        float: left;
        vertical-align: middle;
      }
      .team-name-first,
      .team-name-second {
        min-width: 46%;
        max-width: 46%;
        a { 
          max-width: 100%; }
      }

      i {
        min-width: 8%;
        max-width: 8%;
        padding: px_to_em(4) px_to_em(8);
      }
      .team-name-first {
        text-align: right;
      }
      .team-name-second {
        text-align: left;
      }
    }

    @include breakpoint(px_to_em(780)) {
      .markets-container {
        width: 85%;
      }
      .toggle-terms {
        //right: 8px;
        bottom: 8px;
        //left: auto;
      }
    }

    @include breakpoint(px_to_em(870)) { // min banner width = 600px
      .markets-container {
        width: 95%;
      }
    }

    @include breakpoint(px_to_em(1080)) { // min banner width = 442px
      .markets-container {
        width: 98%;
        padding-left: 0;
        padding-right: 0;
      }

      .oddsbutton {
        width: px_to_em(70);
      }

      .toggle-terms {
        right: auto;
        bottom: -16px;
        left: 0;
      }
      
    }

    @include breakpoint(px_to_em(1140)) {
      .markets-container {
        width: 93%;
      }
    }

    @include breakpoint(px_to_em(1235)) {
      .markets-container {
        width: 85%;
      }

      .oddsbutton {
        width: px_to_em(72);
      }

      .toggle-terms {
        right: 8px;
        bottom: 8px;
        left: auto;
      }
      
    }
    
  }

  &.template5 {

    .markets-left,
    .markets-right {
      width: 49.5%;
    }

    .market-description {
      max-width: 72%;
      padding-right: 0;
      padding-left: 0;
    }

    .markets-left {
      float: left;
      .markets-header {
        text-align: right;
        padding-right: px_to_em(80);
      }
      .market {
        text-align: right;
      }
      .oddsbutton {
        float: right;
        margin-left: px_to_em(8);
      }
    }

    .markets-right {
      float: right;
      .markets-header {
        text-align: left;
        padding-left: px_to_em(80);
      }
      .market {
        text-align: left;
      }
      .oddsbutton {
        float: left;
        margin-right: px_to_em(8);
      }
    }

    @include breakpoint(px_to_em(780)) {
      .toggle-terms {
        right: 8px;
        left: auto;
      }
    }

    @include breakpoint(px_to_em(1080)) { // min banner width = 442px

      .market-description {
        max-width: 75%;
      }

      .markets-header,
      .market-description,
      .oddsbutton {
        font-size: 0.7em;
      }

      .markets-left {
        .markets-header {
          padding-right: px_to_em(78);
        }
        .oddsbutton {
          margin-left: px_to_em(4);
        }
      }

      .markets-right {
        .markets-header {
          padding-left: px_to_em(78);
        }
        .oddsbutton {
          margin-right: px_to_em(4);
        }
      }
      
    }

    @include breakpoint(px_to_em(1140)) {

      .market-description {
        max-width: 74%;
      }

      .markets-header,
      .market-description,
      .oddsbutton {
        font-size: 0.75em;
      }
      
    }

    @include breakpoint(px_to_em(1235)) {

      .markets-header,
      .market-description,
      .oddsbutton {
        font-size: 0.8em;
      }

      .markets-left {
        .markets-header {
          padding-right: px_to_em(80);
        }
      }

      .markets-right {
        .markets-header {
          padding-left: px_to_em(80);
        }
      }
      
    }
    
  }

  &.template6,
  &.template7 {

    .market-name {
      &.left {
        text-align: left;
      }
      &.right {
        text-align: right;
      }
    }

    .selections-left,
    .selections-right {
      width: 49.5%;
      .selection {
        text-align: right;
      }
      .oddsbutton {
        float: right;
        margin-left: px_to_em(8);
      }
    }

    .selection-description {
      max-width: 72%;
      padding-right: 0;
      padding-left: 0;
    }

    .selections-left {
      float: left;
    }

    .selections-right {
      float: right;
    }

    @include breakpoint(px_to_em(780)) {
      .toggle-terms {
        right: auto;
        left: 8px;
      }
    }

    @include breakpoint(px_to_em(1080)) { // min banner width = 442px
      .selection-description {
        max-width: 75%;
      }
      .market-name,
      .selection-description,
      .oddsbutton {
        font-size: 0.7em;
      }
      .oddsbutton {
        margin-left: px_to_em(4);
      }
    }

    @include breakpoint(px_to_em(1140)) {
      .markets-container {
        width: 93%;
      }
      .selection-description {
        max-width: 74%;
      }
      .market-name,
      .selection-description,
      .oddsbutton {
        font-size: 0.75em;
      }
    }

    @include breakpoint(px_to_em(1235)) {
      .market-name,
      .selection-description,
      .oddsbutton {
        font-size: 0.8em;
      }
      .oddsbutton {
        width: px_to_em(72);
      }
    }

  }

  &.template7 {

    .selections-single-column {
      .oddsbutton {
        float: right;
        margin-left: 0;
        width: px_to_em(104);
      }
    }

    .selection-description {
      max-width: 84%;
      @include breakpoint(px_to_em(640)) {
        max-width: 82%;
      }

      @include breakpoint(px_to_em(870)) {
        max-width: 84%;
      }

      @include breakpoint(px_to_em(1080)) { 
        max-width: 81%;
      }

      @include breakpoint(px_to_em(1235)) {
        max-width: 83%;
      }
      
    }

  }

  // terms text for templates 4, 5, 6, 7 & 8
  @include breakpoint(px_to_em(400)) { // min-width: 25em
    .terms {
      padding: px_to_em(16);
    }
    .terms-header {
      margin-bottom: px_to_em(8);
    }
  }

  @include breakpoint(px_to_em(540)) { // min-width: 33.75em
    .terms-text,
    .terms-link {
      font-size: 0.8em;
    }
    .terms footer {
      bottom: px_to_em(40);
    }
  }

  @include breakpoint(px_to_em(870)) { // min banner width = 600px
    .terms footer {
      bottom: px_to_em(48);
    }
  }

  @include breakpoint(px_to_em(980)) { // min banner width = 710px
    .terms-text {
      font-size: 0.9em;
    }
  }

  @include breakpoint(px_to_em(1080)) { // min banner width = 442px
    .terms-text {
      font-size: 0.8em;
    }
    .terms footer {
      bottom: px_to_em(40);
    }
  }

}

/**
 * Squiz Scoreboards styling
 */
.scoreboard {
  background: black;
  color: $text-white-color;
  clear: both;
  padding: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size:10px;
  font-size:0.625rem;

  @include breakpoint (min-width 700px) {
    font-size:12px;
    font-size:0.750rem;
  }

  @include breakpoint (min-width 850px) {
    font-size:16px;
    font-size:1rem;
  }

}
.scoreboard .left-block {
  width: 100%;
  float: left;
  padding-right: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.scoreboard .left-block.no-full-width {
  width: 60%;
}
.scoreboard .right-block {
  display: none;
  width: 40%;
  float: right;
  padding-left: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.scoreboard header,
.scoreboard footer,
.scoreboard .score-boxes,
.scoreboard .live-commentary {
  display: block;
  clear: both;
}
.scoreboard h2 {
  color: $text-white-color;
  font-style: italic;
  font-weight: normal;
  font-size: 1.4em;
  margin-top: 0;
  float: left;
}
.scoreboard h2 strong {
  color: $supernova;
  font-weight: bold;
}
.scoreboard a {
  color: $text-white-color;
}
.scoreboard a:hover {
  color: $text-white-color;
}
.scoreboard i {
  font-size: 1.4em;
  margin: 0 0.25em;
}
.scoreboard .radio {
  float: right;
  text-decoration: underline;
}
.scoreboard .score-box {
  float: left;
  padding: 1em 2em;
  text-align: center;
}
.scoreboard .score-box strong {
  display: block;
  margin-bottom: .5em;
}
.scoreboard .score {
  background: $container-yellow-bg-color;
  background-color: $container-yellow-bg-color;
  background-image: -moz-linear-gradient(top,#fff7d0,$container-yellow-bg-color);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff7d0),to($container-yellow-bg-color));
  background-image: -webkit-linear-gradient(top,#fff7d0,$container-yellow-bg-color);
  background-image: -o-linear-gradient(top,#fff7d0,$container-yellow-bg-color);
  background-image: linear-gradient(to bottom,#fff7d0,$container-yellow-bg-color);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffef7d0', endColorstr='#ffffd504', GradientType=0);
  color: $text-black-color;
  font-size: 3.1em;
  font-weight: bold;
  padding: .15em .25em;
}
.scoreboard .live-commentary {
  float: left;
  margin-top: 1.6em;
  padding: .5em 0 0 0;
  font-size: 1.1em;
  background: $mine-shaft;
  border-top: 1px solid $transparency-white-dark-color;
  border-bottom: 1px solid $transparency-white-dark-color;
  clear: both;
  max-width: none;
  width: 100%;
}
.scoreboard .live-commentary i,
.scoreboard .live-commentary p {
  display: inline-block;
}
.scoreboard .live-commentary i {
  position: relative;
  top: 2px;
}
.scoreboard .live-commentary p {
  line-height: 0.5em !important;
  margin: 5px 0;
}
.scoreboard .streaming {
  height: 100%;
  text-align: center;
}
.scoreboard .streaming .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.scoreboard .streaming .box {
  width: 100%;
  height: 100%;
  background: $dove-gray;
  border: 1px solid $transparency-black-light-color;
  transition: border-color 1s;
}
.scoreboard .streaming #video-stream {
  position: absolute;
}
.scoreboard .streaming .logged-out-text {
  display: none;
  position: relative;
  font-size: 0.875em;
  padding: 2em;
}
.scoreboard .streaming .center-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/**
 * End of squiz scoreboards styling.
 */