/*

  SITE FOOTER
  - this is the primary footer, to be shown on every page

*/

$site-footer-blue-color: $curious-blue;
$site-footer-blue-hover-color: $eastern-blue;

.localnavigation-dropdown {display:none;}

body > footer {
  background-color: $container-blue-darker-bg-color;
  border-top: 2px solid $border-blue-dark-color;
  position: relative;
  width: 100%;

  &:before {
    //background-color: $whDarkBlue2;
    //border-top: 1px dashed darken($whMidGrey,10%);
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .footer__wrapper {
    color: $text-white-color;
    font-size: emIt(12);
    margin: 1em auto 0;
    max-width: 1280px;
    overflow: auto;
    padding: 24px 8px 32px;

    > section {
      float: left;
      &.leftPanel { width: 100%; }
    }
  }

  a {
    color: $site-footer-blue-color;
    font-weight: bold;

    &:hover {
      color: $site-footer-blue-hover-color;
    }

    @include single-transition(color, linear, 0.25s)
  }

  .respGambling {margin-bottom: 1.35em;}

  .copyright { margin-bottom: 10px; }

  .links {
    margin: 0 auto emIt(32);
    // width: (320px - (2*$baseGutter));
    min-width: (320px - (2*$baseGutter));

    li {
      border-bottom: 1px dotted $text-white-color;
      display: inline-block;
      height: 40px;
      /*  */width: (((320px - (2*$baseGutter)) - 8px ) / 2);
      width: 48%;

      &:nth-of-type(odd) { margin-right: 8px; }

      a {
        color: $link-white-color;
        display: inline-block;
        height: 40px;
        line-height: 56px;
        width: 100%;

        &:hover {
          color: darken($link-white-color,10%);
        }
      }
    }
  }

  p.cookies{
    margin-bottom: 1em; 
  }
  .legal {
    background: transparent inline-image("img/CrestLogo_Small.png") 0.5em 0.5em no-repeat;
    padding-left: emIt(72);

    p { margin-bottom: 1em; }
  }

  .inlineList {

    font-size: 16px;

    li {
      display: inline-block;
      margin-bottom: emIt(32);
      margin-right: emIt(16);
    }

    a {
      color: $link-white-color;
      font-size: 1.5em;

      &:hover {
        color: darken($link-white-color,10%);
      }
    }
  }

  @include respond-between(440, 800) {
    .links {
      margin-left: 0;
      margin-right: 0;
      width: auto;
      li {
        width: 49%;
      }
    }
  }

  @include respond-to(800) {

    .footer__wrapper {
      padding: 24px 24px 32px;
    }

    .links {
      margin-left: 0;
      margin-right: 0;
    }

    .footer__wrapper {

      > section {
        display: inline-block;

        @include order(1);

        &.rightPanel {
          margin-left: px_to_em(40, 12);
          width: 60%;
          @include flex(1);
        }
        &.leftPanel {
          max-width: 320px;
          @include flex(1);
        }

      }

    }
  }

}