/*

  SITE HEADER
  - this is the primary header, and will be shown on every page

*/

$site-header-blue-color: $curious-blue;
$site-header-blue-hover-color: $eastern-blue;

body > header {
  background-color: $container-blue-darker-bg-color;
  // padding-top: px_to_em(8, 12);
  // height: px_to_em(56, 12);
  padding-top: 8px;
  min-height: 56px;

  @include transition(all linear 0.25s);
}


.header__inner {
  @extend .container;
  padding: 0 8px;
  position: relative;
  background-color: $container-blue-darker-bg-color;
  z-index: 7;
}

.whlogo {
  background-image: inline-image("wh-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 center;

  margin: 0 px_to_em(16, 12) 0 0;
  height: px_to_em(48, 16);
  padding: px_to_em(8, 16) 0;
  display: inline-block;
  font-size: $bodyFontString;
  vertical-align: middle;
  width: 122px;
  
  // img {
  //   max-height: 100%;
  //   max-width: 100%;
  // }

  @include transition(all linear 0.25s);
}

// TODO: Find a better way to manage the style between media queries
//---------------------------------------------------
.header__link{
  font-size: 13px;
  color: $site-header-blue-color;
  font-weight: bold;
  vertical-align: middle;
  line-height: px_to_em(29, 12);
  &:hover {
    color: $site-header-blue-hover-color;
  }
}

.header__balance {
  &.nonmobile-only {
    @extend .button-form;
    
    height: px_to_em(24, 12);
    margin: 0 px_to_em(8, 13) 0 px_to_em(16, 13);
    padding: px_to_em(4, 12) px_to_em(16, 12);

    @include border-radius(px_to_em(3));

    //&:hover { background-color: lighten($whLightBlue, 5%); }
  }

  &.mobile-only {
    @extend .header__link;
    font-size: 11px;
    margin: 0 px_to_em(8, 11);
  }
}

.header__balance-refresh {
  display: inline-block;
  font-size: 14px;
  padding: 0;
  vertical-align: middle;

  > span {
    color: $text-white-color;
    vertical-align: middle;
    @include transition(all 0.2s);

    &:hover {
      color: darken($text-white-color, 15%);
    }

  }

}

.header__messages{
  font-size: 13px;
  color: $link-blue-color;
  font-weight: bold;
  vertical-align: middle;
  &:hover {
    color: $link-blue-hover-color;
  }

  &:before{
    content: attr(data-unread);
    background-color: $container-yellow-bg-color;
    color: $text-black-color;
    font-size: 10px;
    display: inline-block;
    border-radius: 2px;
    width: auto;
    height: 12px;
    font-size: px_to_em(11);
    text-align: center;
    padding: 2px;
    position: relative;
    top: -9px;
    left: 4px;

  }
}

@media (max-width: 830px) {
  .header__balance {
    padding: 0;
    background: none;
    border-radius: 0;
    font-size: 13px;
    //color: $whLightBlue;
    font-weight: bold;
    //vertical-align: middle;
    font-size: 11px;
    //&:hover {
    //  color: lighten($whLightBlue, 10%);
    //}
  }
}
//---------------------------------------------------

// Expanding panel that overlays the page
.panelwrapper {
  @extend .container;
  height: 0;
  position: absolute;
  left: 0;

  @include breakpoint(520px){
    position: relative;
    left: auto;
  }
}
.panel {
  @include box-shadow(0 0 0 8px $transparency-black-light-color);
  @extend .clearfix;
  min-width: $whMinWidth;
  position: absolute;
  display: none;
  background-color: $container-blue-darkest-bg-color;
  font-size: $headerFontSmall+px;
  color: $text-white-color;
  //left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  padding: px_to_em(16, 12) px_to_em(4, 12);

  &.affix{
    position: fixed;
    top: 48px;
    left: 0;
    right: 0;
    z-index: 10001;
  }  
}

/**
 * Language Selection
 */
// TODO[cm] Double check and remove this. I think this is not used anymore (old market templates).
.language-button {
  overflow: hidden;

  @include transition(all linear 0.25s);

  span {
    display: inline-block;
    position: relative;
    width: px_to_em(28, 11);

    @include translate3d(0%, 0, 0);
    @include transition(linear all 0.5s);
  }
  i { 
    display: inline-block;
    position: relative;
    top: px_to_em(-13,11);
    width: px_to_em(28, 11);

    @include translate3d(100%, 0, 0);
    @include transition(linear all 0.5s);
  }

  &.-expanded {
    background-color: $container-blue-darkest-bg-color;

    span {
      @include translate3d(-100%, 0, 0);
      @include transition(linear all 0.25s);
    }
    i { 
      @include translate3d(0%, 0, 0);
      @include transition(linear all 0.25s);
    }
  }
}

.no-csstransitions {
  .languageSelection,
  .account {
    display: none;
    &.-expanded {
      display: block;
    }
  }
}

/**
 * Account
 */
$widthMobile                : $whMinWidthNum + ($panelBorderThickness * 2);
$widthDesktop               : $whMinWidthNum + ($panelBorderThickness * 4);
$accountBoxBorderWidth      : 8px;
$accountBoxWidth            : px_to_em((328px + ($accountBoxBorderWidth * 2)) ,12px);
// Media query
$accountBoxBorderWidth      : 8px;
$btAccoutWidth              : px_to_em(48, 12); // from _tabs.sccss l.216
$breakpoint-ipdad-signin    : px_to_em(1023);
$breakpoint-phone-signin    : px_to_em(0) px_to_em(550);

.account {
  @extend .panel;
  text-align: left;
  display: block;
  padding-left: px_to_em(4, 12);
  padding-right: px_to_em(4, 12);
  top: 100%;
  z-index: 11;
  left: 0;
  width: 100%;
  @include box-shadow(0 0 8px 0 $transparency-black-light-color);
  display: none;
  @include transition(linear all 0.25s);
  @include transform-origin(100%, 0%);
  //margin-left: px_to_em(8, 12);

  form{
    max-width: 320px;
    margin: 0 auto;

    fieldset{
      margin-left: px_to_em(4, 12);
      &:first-child{
        margin-left: 0;
      }
    }

    footer{
      margin-left: px_to_em(4, 12);
    }
  }

  .input {
    width: px_to_em(110, 12);
    margin-left: px_to_em(4, 12);
    margin-right: px_to_em(4, 12);
    height: px_to_em(32, 12);
    line-height: 2em;
  }

  .button{
    margin-left: px_to_em(4, 12);
    height: px_to_em(32, 12);
  }

  .-login {
    width: px_to_em(64, 12);
  }

  &.-expanded {
    display: block;
  }

  // minor style changes to accommodate the new icon fonts
  &-tab {
    // set correct icon sizes
    .icon-account-nli,
    .icon-accountLI { font-size: 1.5em; }
    .icon-expanded { 
      position: relative;
      top: -4px;
    }
    .icon-x {
      position: relative;
      top: -4px;
      font-size: px_to_em(9, 12);
    }
  }

  @include breakpoint(400px) {
    width: $accountBoxWidth;
    padding-left: px_to_em(8, 12);
    padding-right: px_to_em(8, 12);
    @include box-shadow(none);
    border:$accountBoxBorderWidth solid $transparency-black-light-color;
    border-top:none;
    background-clip: padding-box;
    margin-left:-$accountBoxBorderWidth; // + ($accountBoxWidth/2) - this will centre the login panel on the icon
    left: ($btAccoutWidth - $accountBoxWidth)/2;
    margin-left: 0;
  }

}
@media (min-width: 400px) {
  .account-tab{
    position:relative;
  }
}

//=========================================
// $accountBoxBorderWidth      : 8px;
// $btAccoutWidth              : px_to_em(48, 12); // from _tabs.sccss l.216
// $breakpoint-ipdad-signin    : px_to_em(1023);
// $breakpoint-phone-signin    : px_to_em(0) px_to_em(550);

// @media (min-width: 520px) {
//   .account-tab{
//     position:relative;
//   }
//   .account {
//     @include box-shadow(none);
//     border:$accountBoxBorderWidth solid rgba(0,0,0,0.3);
//     border-top:none;
//     background-clip: padding-box;
//     margin-left:-$accountBoxBorderWidth; // + ($accountBoxWidth/2) - this will centre the login panel on the icon

//     @include breakpoint($breakpoint-phone-signin){
//       left: 0;
//       margin-left: px_to_em(8, 12);
//     }

//     @include breakpoint($breakpoint-ipdad-signin){
//       left: ($btAccoutWidth - $accountBoxWidth)/2;
//       margin-left: 0;
//     }
//   }
// }
//=========================================
.accountnavigation {
  font-size: 0; // clear whitespace
  text-align: left;
}

.accountnavigation__button {
  background-color: $transparency-white-lightest-color;
  color: $text-white-color;
  &:hover {
    background-color: $transparency-white-lighter-color;
  }

  color: $text-white-color;
  font-weight: normal;
  height: px_to_em(32, 12);
  margin: 0 px_to_em(4, 12) px_to_em(8, 12);
  padding: px_to_em(8, 12);
  text-align: left;
  width: px_to_em(148, 12);
  i {
    margin-right: px_to_em(8);
  }
}

.account__footer {
  @extend .clearfix;
  @include box-shadow(0px 1px 0px 0px $elephant inset, 0 -1px 0 0 $chathams-blue);
  padding: px_to_em(8, 12) 0 0;
  margin: px_to_em(8, 12) px_to_em(8, 12) 0;
  margin: px_to_em(8, 12) .6em 0 0;
}

.account__details {
  @extend .fl;
  text-align: left;

  .account__name, .account__id {
    line-height: px_to_em(16, 16);
  }
  .account__name {
    font-weight: bold;
  }
  .account__logout {
    background-color: $container-blue-bg-color;
    &:hover {
      background-color: $curious-blue;
    }
    margin-left: px_to_em(8, 12);
    margin-top: 1px;
  }
  .account__id {
    font-size: 11px;
  }
}
.account__logout {
  background-color: $container-blue-bg-color;
  &:hover {
    background-color: $curious-blue;
  }

  @extend .fl;
  margin-left: px_to_em(8, 12);
}

// Account Validation
.form__validation {
  display: none;
  padding: px_to_em(4, 12);

  .form__validation__message {
    display: block;
    padding: 4px;
      
    @include border-radius(3px);
    
    i { margin-right: 4px; }

    &.-error {
      background-color: $red;
      color: $text-white-color;
    }
  }
}


/**
 * Utility Navigation
 */
.utilnavigation {
  @extend .fr;

  a {
    height: px_to_em(32, 11);
    width: px_to_em(32, 11);
    padding: px_to_em(8, 11) 0;
    font-size: 11px;
  }

  @include respond-to($gamesBreakPoint3Cols) {
    display: none;
  }
}
.utilnavigation-header {
  @extend .utilnavigation;
  padding-top: 0.5em;

  @include respond-to($gamesBreakPoint3Cols) {
    display: block;
  }
}

// TODO: SORT UT BREAK POINTS AND METHODS USED TO TOGGLE STYLES
.mobile-only {
  @include respond-to(1020) {
    display: none !important;
  }
}

@media (max-width: 1020px) {
  // Product Menu
  .product-tab {
    display: inline-block;
  }
  .nonmobile-only {
    display: none !important;
  }
  .mobile-only {
    display: inherit;
  } 

  .button-join {
    margin-left: px_to_em(8, 12);
  }

  .whlogo {
    // width: px_to_em(63, 12);
    width: 64px;
    margin:  0 px_to_em(8, 16) 0 0;
    padding: px_to_em(16, 16) 0;
  }

}


@media (max-width: 624px) {
  .localnavigation__wrapper, .header__inner {
    //padding: 0 px_to_em(8, 16);
    padding: 0 8px !important;
  }
}

@media (max-width: 422px) {
  .utilnavigation-header {
    display: none;
  }
}

@media (min-width: 830px) {
  body > header {
    // height: px_to_em(46, 12);
    min-height: 66px;
    padding-top: 18px;
  }

  .whlogo { background-position: 0 7px; }

  .productnavigation__button,
  .account-tab {
    font-size: 13px !important;
  }
  .account-tab {
    height: px_to_em(48, 13);
    width: px_to_em(48, 13);
  }
  .productnavigation-mobile, .localnavigation-dropdown {
    &.-expanded {
      display: none;
    }
  }
  .button.-join { margin-left: px_to_em(16,12); }
}

// FOR DEV ONLY ------------------------------
