//=============================================================================
/*
  TABS COMPONENT:
  - For tabbed navigation

    STRUCTURE:

    div.cpt-tabs
      nav.cpt-tabs__nav
        a.cpt-tabs__nav-item + cpt-tabs__nav-item--active
      div.tabs__panels
        section.cpt-tabs__panels-panel + cpt-tabs__panels-panel--active

*/
//=============================================================================

//  VARIABLE
$racing-desktop-breakpoint:           980;
$breakpoint-full-width-menu-tabs:     600;

// Colors
$tabs-color:                          $chathams-blue;
$tabs-border-color:                   $silver-sand;
$tabs-bg-color:                       $porcelain;
$tabs-active-color:                   $white;
$tabs-active-bg-color:                $eastern-blue-2;

.tabs {
  width: 100%;

  //===================
  .breakpoint_ui{
    content: "on";
  }

  .is-hidden-on-small-screen{
    display: none;
  }
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    .breakpoint_ui{
      content: "off";
    }
    .is-hidden-on-small-screen{
      display: block;
    }
  }

  // ==== NAVIGATION TABS
  &__nav{
    width: 100%;
    @include flexbox();
    background: $tabs-bg-color;

    // tab nav element
    &-item{
      color: $tabs-color;
      font-weight: bold;
      padding: px_to_em(14);
      text-align: center;
      position: relative;
      font-size: 12px;

      &--justified{
        @include flex(1);
      }

      &:after{
        content: '';
        display: block;
        position: absolute;
        right: -1px;
        top: 20%;
        z-index: 0;
        width: 1px;
        height: 60%;
        background: $border-light-gray-color;
      }

      &:last-child:after{
        background: none;
      }

      &:hover, &--active{
        background-color: $tabs-active-bg-color;
        color: $tabs-active-color;
        &:after{
          background: none;
        }
      }

    }

    &--full-width {
      @include flex-justify-content(space-between);
      @include flex(1 100%);

      @include breakpoint(px_to_em($breakpoint-full-width-menu-tabs)) {
        @include flex-justify-content(flex-start);
      }

      .tabs__nav-item {
        @include flex(1 100%);


        @include breakpoint(px_to_em($breakpoint-full-width-menu-tabs)) {
          @include flex(initial);
        }

      }

    }

  }

  // ==== PANELS TABS
  &__panels{
    position: relative;
    overflow: hidden;
    width: 100%;

    // tab panel element
    &-panel{
      display: none;
      @include clearfix();

      &--enabled {
        display: none;

        @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
          display: block;
        }
      }

      // active tab navelement
      &--active{
        display: block;
        padding: px_to_em(16) px_to_em(8);
        background: white;

        &.racing-next-events, &.flexdisplay{
          @include flexbox();
        }

        @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
          padding: 0;
          background: none;
        }
      }

      @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
        display: block;
        &.racing-next-events, &.flexdisplay{
          @include flexbox();
        }
      }

    }

  }

  &--enabled{
    // ==== NAVIGATION TABS
    .tabs__nav{
      @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
        display: none;
      }
    }

    // ==== PANELS TABS
    .tabs__panels{
      // tab panel element
      &-panel{
        &--active{
          @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
            padding: 0;
            background: none;
          }
        }
        @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
          &.racing-next-events, &.flexdisplay{
            @include flexbox();
          }
        }
      }
    }
  }


}


//=============================================================================
/*

  TABS
  - For tabbed navigation...

*/


.tab {
  @include tab($halfPadding);
  background: $transparency-white-lightest-color;
  color: $text-white-color;
  padding: px_to_em(14, 13) px_to_em(8, 13);
  font-size: 13px;
  display: inline-block;
  position: relative;
  height: px_to_em(48, 13);
  @include transition(linear all 0.25s);

  a {
    color: $link-white-color;
  }
  &.-active {

  }
  &:hover{
    background-color: $transparency-white-lighter-color;
  }
}

.product-tab { //mobile only
  @extend .tab;
  @extend .-active;
  display: none;
  width: 112px;
  text-align: left;
  background: $container-blue-darkest-bg-color;
  color:$text-white-color;
  text-transform: capitalize;

  &.-expanded {
    background-color: $container-blue-darkest-bg-color;
  }

  i {
    float: right;

    &.icon-select {
      position: relative;
      top: px_to_em(2, 12);
    }
    &.icon-x {
      font-size: px_to_em(9, 12);
      position: relative;
      top: px_to_em(4, 12);
    }
  }

}

.account-tab {
  display: inline-block;
  height: px_to_em(48, 13);
  width: px_to_em(48, 13);
  vertical-align:middle;
  font-size: 13px;
  position:static;

  .account-tab__button{
    @extend .tab;
    height: px_to_em(48, 13);
    width: px_to_em(48, 13);
    padding: px_to_em(12, 13) 0;

    &.-expanded {
      background-color: $container-blue-darkest-bg-color;
    }
  }
}

