/*

  WINDOW
  - this contains rules to determine if a page uses header / footer layout, or popup styles

*/

html.standard-layout {
    header, footer {
        display: inherit;
    }
}

html.popup-layout {
    header, footer {
        display: none;
    }
}

html.clean-layout {
    header, footer {
        display: none;
    }
}

