$race-nav-width: px_to_em(272);

// CONTAINS ALL SECONDARY NAVS
.aside-navigation {
  left: -$race-nav-width;
  width: $race-nav-width;
  z-index: 9;
  position: relative;
  @include transition(all 0s ease);
}

.race-event-wrapper,
.racing-highlights-wrapper {
	width: 100%;
	margin-right: -$race-nav-width;
	margin-left: -$race-nav-width;
  position: relative;
}

.race-event-wrapper,
.racing-highlights-wrapper,
.aside-navigation {
	margin-bottom: $box-margin-md;
	float: left;
}

.race-menu {
  margin-bottom: 0.75em;
}

@include breakpoint(px_to_em($racing-show-nav-breakpoint)) {

  .aside-navigation {
		left: 0;
	}

	.race-event-wrapper,
	.racing-highlights-wrapper {
		padding-left: $race-nav-width + $gutter-width;
	}

	.race-event__toggle-meetings-link ,
	.racing-highlights__toggle-meetings-link {
		display: none;
	}
}


main[data-market-menu='open'] {

  .aside-navigation {
		left: 0;
		@include transition(all 0.2s ease);
	}

	.race-event-wrapper,
	.racing-highlights-wrapper {
		margin-left: 0;
		padding-left: 0.75em;
	}

  .race-event__toggle-meetings-menu,
  .racing-highlights__toggle-meetings-menu {
    left: 12px;
  }

  @include breakpoint(px_to_em($racing-show-nav-breakpoint)) {

    .race-event-wrapper,
    .racing-highlights-wrapper {
      padding-left: $race-nav-width + $gutter-width;
      margin-left: -$race-nav-width;
    }

  }

}
