// racing wrapper - full width
.-racing, .-inplay  {
  @include twocol(0);
  .column__primary {
    padding-right: 0;
  }
}

// variables

$toolbar-item-width: px_to_em(40, 12);

$button-width: 5.3em;
$button-width--narrow: 4.666em;
$button-match-bet: $button-width--narrow;

$button-left-margin: 0.75em;

$previous-prices-column-width: 7em;
//$previous-prices-column-width--multiple-markets: 3.33em;
$previous-prices-column-width--greyhound: 8.5em;

$two-markets-container-width: 2 * ($button-width + $button-left-margin);
$three-markets-container-width: 3 * ($button-width--narrow + $button-left-margin);
$four-markets-container-width: 4 * ($button-width--narrow + $button-left-margin);
$five-markets-container-width: 5 * ($button-width--narrow + $button-left-margin);

$non-runner-text-width: (2 * ($button-width + $button-left-margin)) + $previous-prices-column-width;
$non-runner-text-width--single-market: $button-width + $button-left-margin + $previous-prices-column-width;

$non-runner-text-width--two-markets: $two-markets-container-width;
$non-runner-text-width--three-markets: $three-markets-container-width;
$non-runner-text-width--four-markets: $four-markets-container-width;
$non-runner-text-width--five-markets: $five-markets-container-width;
$non-runner-text-width--greyhound: (2 * ($button-width + $button-left-margin)) + $previous-prices-column-width--greyhound;

$runner-row-height: 4.66em;

// racing breakpoints
$racing-show-nav-breakpoint: 1260;
$racing-desktop-breakpoint: 980;

// temporary breakpoints for Next Off until slider is implemented
$next-off-show-row: 650;
$next-off-increase-item-width: 768;
$next-off-reduce-item-width: 870;
$next-off-desktop: 994;

$next-show-days-since-last-ran: 740;
$next-show-days-since-last-ran-2: 974;
$next-show-days-since-last-ran-3: 1280;

// mixins
@mixin racing-post-rating(
  $diameter,
  $border-colour,
  $font-colour: null,
  $bg-colour: null) {
  border-radius: $diameter/2;
  width: $diameter;
  height: $diameter;
  border: 2px solid $border-colour;
  text-align: center;
  display: inline-block;
  background: $bg-colour;
  color: $font-colour;
}

@mixin each-way-odds-container($width) {
  @include flexbox();
  @include flex-justify-content(space-around, distribute);
  @include flex(0 0 $width);
}

@mixin each-way-odds-container-ie($width) {
  display: table;
  width: 100%;
  table-layout: fixed;
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    @include table-cell(middle, $width);
  }
}

@mixin number-column-component() {
  width: 100%;
  height: $runner-row-height / 3;
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    width: 50%;
    height: $runner-row-height / 2;
    float: left;
  }
}
