// Flex layout
// --------------------------------------------------------
// columns

// column number
.racecard-runner__column-pos {
  @include flexbox();
  @include flex-direction(column, normal, vertical);
  @include flex-align-items(center, center);
  padding-bottom: px_to_em(4);
  //---------- IE9 case
  @include old-ie {
    @include table-cell(top);
    .racecard-runner__main-details--multiple-markets & {
      display: inline-block;
      float: left;
      @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
        @include table-cell(top);
        float: none;
      }
    }
  }
}


// horse racing column-number
.racecard-runner__column-pos--horse,
.racecard-runner__column-pos--greyhound  {
  @include flex(0 0 px_to_em(48, 12));
  @include flex-justify-content(flex-start, start);
  cursor: pointer;
  //---------- IE9 case
  @include old-ie {
    @include table-cell-width(px_to_em(48, 12));
  }

  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    @include flex-direction(row, normal, horizontal);
    @include flex-wrap();
    @include flex-justify-content(space-between, justify);
    @include flex-align-content(space-between, justify);
    @include flex-align-items(flex-start, start);
    @include flex(0 0 px_to_em(48, 12));
    cursor: default;
    //---------- IE9 case
    @include old-ie {
      @include table-cell-width(px_to_em(48,12));
    }
  }
}



// column number
.racecard-runner__column-number {
  @include flexbox();
  @include flex-direction(column, normal, vertical);
  @include flex-align-items(center, center);
  padding-bottom: px_to_em(4);
  //---------- IE9 case
  @include old-ie {
    @include table-cell(top);
    .racecard-runner__main-details--multiple-markets & {
      display: inline-block;
      float: left;
      @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
        @include table-cell(top);
        float: none;
      }
    }
  }
}
// horse racing column-number
.racecard-runner__column-number--horse {
  @include flex(0 0 px_to_em(32,12));
  @include flex-justify-content(flex-start, start);
  cursor: pointer;
  //---------- IE9 case
  @include old-ie {
    @include table-cell-width(px_to_em(32,12));
  }

  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    @include flex-direction(row, normal, horizontal);
    @include flex-wrap();
    @include flex-justify-content(space-between, justify);
    @include flex-align-content(space-between, justify);
    @include flex-align-items(flex-start, start);
    @include flex(0 0 px_to_em(48, 12));
    cursor: default;
    //---------- IE9 case
    @include old-ie {
      @include table-cell-width(px_to_em(48,12));
    }
  }
}

.racecard-runner__column-number--match-bet {
  @include flex(0 0 1.8em);
  cursor: default;
  @include transition(all 0.5s);
  .racecard-runner--second & {
    @include order(3);
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      @include order(4);
    }
  }
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    @include order(1);
    @include flex(0 0 4.5em);
    padding-bottom: 1.75em;
  }
}

//---------- IE9 case
@include old-ie {
  .racecard-runner__column-number--match-bet,
  .racecard-runner__column-draw--match-bet {
    display: inline-block;
    float: left;
    .racecard-runner--second & {
      float: right;
    }
  }
}

// greyhound column-number
.racecard-runner__column-number--greyhound {
  @include flex(0 0 5em);
  @include flex-justify-content(center, center);
  //---------- IE9 case
  @include old-ie {
    @include table-cell-width(5em);
    text-align: center;
  }

  .result &{
    @include flex-justify-content(flex-start, start);
  }
}
// column draw
.racecard-runner__column-draw {
  @include flexbox();
  @include flex-direction(column, normal, vertical);
  @include flex-justify-content(space-between, justify);
  @include flex-align-items(center, center);
  @include flex(0 0 px_to_em(40,12));
  cursor: pointer;
  .racecard-runner__non-runner & {
    cursor: default;
  }
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    cursor: default;
  }
  //---------- IE9 case
  @include old-ie {
    @include table-cell(middle, px_to_em(40,12));
    .racecard-runner__main-details--multiple-markets & {
      display: inline-block;
      float: left;
      @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
        @include table-cell(middle, px_to_em(40,12));
        float: none;
      }
    }
  }
}

.racecard-runner__column-draw--match-bet {
  cursor: default;
  @include transition(all 0.5s);
  .racecard-runner--second & {
    @include order(2);
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      @include order(3);
    }
  }
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    @include order(2);
    @include flex(0 0 4.5em);
    padding-bottom: 1.5em;
    //---------- IE9 case
    @include old-ie {
      margin: 0 8px;
    }
  }
}

// column selection
.racecard-runner__column-selection {
  @include flexbox();
  @include flex(1 0);
  @include flex-wrap();
  @include flex-justify-content(space-between, justify);
  @include flex-align-content(space-between, justify);
  @include flex-align-items(center, center);
  //---------- IE9 case
  @include old-ie {
    @include table-cell(middle);
    .racecard-runner__main-details--multiple-markets & {
      display: inline-block;
      float: left;
      @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
        @include table-cell(middle);
        float: none;
      }
    }
  }
}
// horse racing column selection
.racecard-runner__column-selection--racing {
  padding-left: px_to_em(8,12);
}

.racecard-runner__column-selection--match-bet {
  @include flex(1 1 100%);
  @include transition(all 0.5s);
  .racecard-runner--second & {
    @include order(4);
    text-align: right;
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      @include order(2);
      padding-right: 0.5em;
    }
  }
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    @include order(3);
    @include flex(0 0 auto);
    padding-left: 0.5em;
  }
  //---------- IE9 case
  @include old-ie {
    display: block;
    clear: both;
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      display: inline-block;
      clear: none;
      float: left;
      width: 49%;
      max-width: 49%;
      .racecard-runner--second & {
        float: right;
      }
    }
  }
}

// greyhound column selection
.racecard-runner__column-selection--greyhound {
  padding-left: px_to_em(4,12);
  .racecard-runner__main-details--simple & {
    display: inline-block;
    .racecard-runner__name-container--greyhound {
      position: relative;
      top: auto;
    }
  }
}
// end columns
// --------------------------------------------------------

// racecard runner
.racecard-runner {
  padding: 0.5em 0;
  font-size: px_to_em(12);
  color: $mine-shaft; // #222
  border-bottom: 1px solid $border-light-gray-color;
  overflow: hidden;
  position: relative;
  .result &{
    &:last-child{
      border: none;
    }
  }
}

.racecard-runner--match-bet {
  @include flexbox();
  @include flex-wrap();
  @include flex(1 1 50%);
  padding-right: 0.5em;
  &.racecard-runner--second {
    padding-right: 0;
    padding-left: 0.5em;
  }
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    @include flex-wrap(nowrap);
  }
  //---------- IE9 case
  @include old-ie {
    @include table-cell(top, 50%);
  }
}

.racecard-runner--second {
  border-left: 1px dotted $border-light-gray-color;
}

.racecard-runner--unnamed-favourite {
  border-color: $border-light-gray-color;
}

.racecard-runner--unnamed-favourite-highlights {
  border: none;
}

// racecard match bet
.racecard-match-bet {
  @include flexbox();
  @include flex-justify-content(space-between, justify);
  @include flex-align-items(stretch, stretch);
  //---------- IE9 case
  @include old-ie {
    display: table;
    width: 100%;
  }
}

// main details
.racecard-runner__main-details {
  @include flexbox();
  @include flex-justify-content(flex-start, start);
  @include flex-align-items(stretch, stretch);
  height: $runner-row-height;
  overflow: hidden;
  position: relative;

  &--results{
    @include flex-flow( wrap);
    min-height: $runner-row-height;
    height: auto;
  }

  //---------- IE9 case
  @include old-ie {
    display: table;
    width: 100%;
  }
}

.racecard-runner__non-runner {
  opacity: 0.5;
}

.racecard-runner__main-details--multiple-markets {
  @include flex-wrap();
  //min-height: px_to_em(100, 12);
  min-height: 5em;  // temporary for goal 3, reset to above value when more items are added
  height: auto;
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    min-height: px_to_em(56, 12);
    height: px_to_em(56, 12);
  }
}

.racecard-runner__main-details--unnamed-favourite,
.racecard-runner__main-details--simple {
  @include flexbox();
  @include flex-justify-content(space-between, justify);
  @include flex-align-items(center, center);
  //---------- IE9 case
  @include old-ie {
    display: table;
    width: 100%;
  }
}

.racecard-runner__main-details--simple {
  &.racecard-runner__non-runner {
    height: px_to_em(32, 12);
    position: relative;
  }
}

.racecard-runner__main-details--highlights {
  padding-top: 0.25em;
  height: 5em;
  overflow: hidden;
  @include flexbox();
  @include flex-direction(column, normal, vertical);
  @include flex-justify-content(space-between, justify);
  //---------- IE9 case
  @include old-ie {
    padding-top: 0;
    display: table;
    width: 100%;
  }
}

.racecard-runner__main-details--highlights-simple {
  height: 5em;
  overflow: hidden;
  @include flexbox();
  @include flex-align-items(center, center);
  @include flex-justify-content(flex-start, start);
  //---------- IE9 case
  @include old-ie {
    display: table;
    width: 100%;
  }
  &.racecard-runner__main-details--highlights-greyhound {
    height: 4em;
    //---------- IE9 case
    @include old-ie {
      height: 32px;
      padding: 4px 0;
      .racecard-runner__name--highlights {
        padding-left: 4px;
      }
    }
  }
  &.racecard-runner__main-details--highlights-virtual {
    height: 3em;
    //---------- IE9 case
    @include old-ie {
      height: 32px;
      padding: 4px 0;
      .racecard-runner__name--highlights {
        padding-left: 4px;
      }
    }
  }
}

// ---------------------------------------------
// runner Pos

.racecard-runner__pos,
.racecard-runner__dist {
  display: block;
  width: 100%;
  text-align: left;
  padding-left: 1em;
}
.racecard-runner__pos{
  font-weight: bold;
  font-size:px_to_em(18, 12);
  padding-left: .5em;
  position: relative;

  // &:after{
  //   content: 'st';
  //   display: inline-block;
  //   position: absolute;
  //   top: 0;
  //   font-size:.7em;
  // }

  sup{
    position: absolute;
    top: 0;
    font-size: .7em;
  }

}


// ---------------------------------------------
// runner number

.racecard-runner__number {
  font-weight: bold;
  text-align: center;
  display: inline-block;
  //---------- IE9 case
  @include old-ie {
    @include number-column-component();
  }
  &--simple {
    @include flex(0 0 3em);
    text-align: left;
    padding-left: 0.5em;
    //---------- IE9 case
    @include old-ie {
      float: none;
      @include table-cell(middle, 3em);
    }
  }
}
// horse racing number
.racecard-runner__number--horse {
  line-height: 1.5;
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    @include flex(0 0 50%);
  }
}
// next off number
.racecard-runner__number--highlights,
.racecard-runner__draw-number--highlights {
  @include flex(0 0 22px);
  display: inline-block;
  //---------- IE9 case
  @include old-ie {
    @include table-cell(middle, 22px);
  }
}

.racecard-runner__number--highlights {
  .racecard-runner__main-details--highlights-simple & {
    @include flex(0 0 16px);
  }
}

.racecard-runner__draw-number--highlights {
  color: $dove-gray;
}

// greyhound number
.racecard-runner__number--greyhound {
  height: 32px;
  width: 32px;
  border: 1px solid black;
  display: inline-block;
  font-weight: bold;
  font-size: 1.375em;
  position: relative;

  //---------- IE9 case
  @include old-ie {
    float: none;
    margin-bottom: 8px;
  }

  span {
    line-height: 29px;
    display: inline-block;
    border: 1px solid white;
    width: 100%;
    height: 100%;
  }

  &.racecard-runner__number--highlights {
    @include flex(0 0 40px);
    text-align: center;
    margin-right: 0.35em;
    height: 40px;
    width: 40px;
    font-size: 1.9em;
    span {
      line-height: 1.6;
    }
    //---------- IE9 case
    @include old-ie {
      @include table-cell(middle, 32px);
      min-width: 32px;
      height: 32px;
      font-size: 1.375em;
    }
  }

  .racecard-runner__main-details--simple & {
    width: 40px;
    height: 40px;
    font-size: 1.9em;
    span {
      line-height: 1.5;
    }
  }
}

.racecard-runner__number--virtual-greyhound {
  @extend .racecard-runner__number--greyhound;
  @include flex(0 0 32px);
  text-align: center;
  margin-right: px_to_em(8);
  //---------- IE9 case
  display: table-cell;
}

// SBK-1990 - trap colour changes
// trap-number--xx colors ( class-name, background-color, color)
$trap-red: #e11422;
$trap-number-colors-list: (
    (racecard-runner__number--greyhound-1,  $trap-red, $white),
    (racecard-runner__number--greyhound-2,  #1c3c93,   $white),
    (racecard-runner__number--greyhound-3,  #white,    $text-black-color),
    (racecard-runner__number--greyhound-4,  #242424,   $white),
    (racecard-runner__number--greyhound-5,  #ee691f,   $text-black-color),
    (racecard-runner__number--greyhound-6,  $white,    $trap-red),
);
@each $item in $trap-number-colors-list {
  .#{nth($item, 1)} {
    background: nth($item, 2);
    color: nth($item, 3);
  }
}

// SBK-1990
.racecard-runner__number--greyhound-6 {
  span {
    background: #000;
    border: none;
    position: absolute;
    width: 100%;
    height: 6px;
    line-height: 0.5;
    top: 12px;
    left: 0;
    z-index: 4;
    text-shadow: -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white, 1px 1px 0 $white;
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      width: 100%;
      height: inherit;
      z-index: -1;
      background: inherit;
    }
    &:before {
      top: -9px;
    }
    &:after {
      top: 9px;
    }
  }
  &.racecard-runner__number--highlights,
  .racecard-runner__main-details--simple & {
    span {
      top: 16px;
      height: 7px;
      line-height: 0.5;
      &:before {
        top: -12px;
      }
      &:after {
        top: 12px;
      }
    }
  }
}
// end greyhound number

// end runner
// ---------------------------------------------

// trap form
.racecard-runner__trap-form {
  color: $text-black-color;
  font-style: italic;
  font-weight: bold;
  margin-top: auto;
  display: inline-block;
}

// draw number
.racecard-runner__draw-number {
  color: $text-black-color;
  font-style: italic;
  text-align: center;
  display: inline-block;
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    @include flex(0 0 50%);
    line-height: 1.5;
  }
  //---------- IE9 case
  @include old-ie {
    @include number-column-component();
  }
}

.racecard-runner__tv {
  display: none;
  text-align: center;
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    display: block;
    @include flex(0 0 50%);
    //---------- IE9 case
    @include old-ie {
      display: inline-block;
      width: 50%;
    }
  }

  .racecard-runner__non-runner & {
    @extend %disableLink;
  }

}

// previous wins container
// pin this item to bottom of container
.racecard-runner__previous-wins-container {
  margin-top: auto;
  text-align: center;
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    @include flex(0 0 50%);
    // ensure this is pinned to the right of the container when no TV icon is present
    margin-left: auto;
  }
  //---------- IE9 case
  @include old-ie {
    @include number-column-component();
  }
}

.racecard-runner__previous-wins-container--match-bet {
  @extend .racecard-runner__previous-wins-container;
  display: none;
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    display: inline-block;
  }
}

// previous wins
.racecard-runner__previous-wins {
  background: $button-blue-dark-bg-color;
  color: $white;
  font-size: px_to_em(12);
  letter-spacing: px_to_em(1);
  line-height: 1.4;
  padding: px_to_em(2) px_to_em(4) 0 px_to_em(4);
  @include border-radius(2px);
}

// silk
.racecard-runner__silk {
  width: px_to_em(40, 12);
  margin: 0 auto;
}
// silk on next off racecard
.racecard-runner__silk-container {
  @include flex(0 0 44px);
  //---------- IE9 case
  @include old-ie {
    @include table-cell(middle, 44px);
  }
}
// silk on virtual next off racecard
.racecard-runner__silk-container--virtual {
  @include flex(0 0 32px);
  margin-right: px_to_em(8);
  //---------- IE9 case
  @include old-ie {
    @include table-cell(middle, 40px);
    padding-right: px_to_em(8);
  }
}
.racecard-runner__silk--highlights {
  width: 100%;
}

// form
.racecard-runner__form {
  font-weight: bold;
  line-height: 1.5;
}

// -------------------
// selection
.racecard-runner__name-container {
  @include flex(0 0 100%);

  position: absolute;
  top: 0;
  @include breakpoint(400) {
    position: inherit;
  }
}

// name
.racecard-runner__name {
  :not(racecard-runner--match-bet) {
    @include hyperlink();
  }
  font-weight: bold;
  font-size: px_to_em(14,12);
  line-height: 1.15;
  &.racecard-runner__name--simple {
    @include flex(1 auto);
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      padding-left: 0.5em;
    }
    //---------- IE9 case
    @include old-ie {
      @include table-cell();
    }
  }
  .racecard-runner__non-runner & {
    @extend %disableLink;
  }
  .result &{
    color: $link-blue-dark-color;
  }
}

.racecard-runner__name--match-bet {
  margin: 0.25em 0;
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}

.racecard-runner__name--highlights {
  font-weight: bold;
  padding-left: px_to_em(8,12);
  @include flex(1 1 auto);
  .racecard-runner__main-details--highlights-simple & {
    padding-right: px_to_em(8,12);
    padding-left: 0;
    //---------- IE9 case
    @include old-ie {
      @include table-cell();
      height: 100%;
    }
  }
  //---------- IE9 case
  @include old-ie {
    display: table-cell;
  }
}

.racecard-runner__name--unnamed-favourite-highlights {
  font-weight: bold;
  //---------- IE9 case
  @include old-ie {
    @include table-cell();
  }
}

// days since last run
.racecard-runner__days-since-last-run {
  font-style: italic;
  color: $text-grey-color; // #666
}
.racecard-runner__days-since-last-run--highlights {
  color: $text-grey-color;
  font-weight: normal;
  @include breakpoint(px_to_em($next-off-show-row)) {
    display: none;
  }
  @include breakpoint(px_to_em($next-show-days-since-last-ran)) {
    display: inline;
  }
  @include breakpoint(px_to_em($next-off-reduce-item-width)) {
    display: none;
  }
  @include breakpoint(px_to_em($next-show-days-since-last-ran-2)) {
    display: inline;
  }
  @include breakpoint(px_to_em($racing-show-nav-breakpoint)) {
    display: none;
  }
  @include breakpoint(px_to_em($next-show-days-since-last-ran-3)) {
    display: inline;
  }
}

.racecard-runner__jockey--highlights {
  @include flex(1 0);
  padding: 0 px_to_em(8,12);
  //---------- IE9 case
  @include old-ie {
    @include table-cell();
  }
}

// selection data
.racecard-runner__selection-data {
  cursor: pointer;
  line-height: 1.5;
  padding-top: 1.65em;
  overflow: hidden;

  //---------- IE9 case
  @include old-ie {
    width: px_to_em(136,12);
    max-width: px_to_em(136,12);
  }

  .result &{
    color: $link-blue-dark-color;
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      padding-top: 0;
    }
  }

  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    cursor: default;
  }
}
.racecard-runner__selection-data--horse {
  @include flex(1 0 px_to_em(136,12));
  .result &{
    padding-top: 1.65em;
  }
}
.racecard-runner__selection-data--greyhound {
  @include flex(1 0 px_to_em(92,12));
}

.racecard-runner__selection-data--match-bet {
  line-height: 1.5;
  overflow: hidden;
  .racecard-runner--second & {
    text-align: right;
  }
}

.racecard-runner__selection-data-label {
  @extend %textLabel;
  clear: both;
  padding-right: px_to_em(4);
  @include hyperlink();
  .racecard-runner__non-runner & {
    @extend %disableLink;
  }

  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    color: inherit;
    cursor: default;
    &:hover {
      color: inherit;
    }
  }

  &.racecard-runner__selection-data-label--match-bet {
    color: inherit;
    .racecard-runner--second & {
      clear: none;
    }
  }
}

.racecard-runner__selection-data-name {
  max-width: 88%;
  @include truncate-text(ellipsis);
  @include hyperlink();
  .racecard-runner__non-runner & {
    @extend %disableLink;
  }

  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    color: inherit;
    cursor: default;
    &:hover {
      color: inherit;
    }
  }

  &.racecard-runner__selection-data-name--match-bet {
    color: inherit;
    cursor: default;
    .racecard-runner--second & {
      clear: both;
    }
  }

  // Ugly and dirty solution for fixing Firefox issue with long names
  @-moz-document url-prefix() {
    max-width: 10em;
    @include breakpoint(px_to_em(380)) {
      max-width: 12em;
    }
    @include breakpoint(px_to_em(420)) {
      max-width: 16em;
    }
    @include breakpoint(px_to_em(480)) {
      max-width: 21em;
    }
    @include breakpoint(px_to_em(520)) {
      max-width: 88%;
    }
  }

}

// end selection
// -------------------

// age and weight
.racecard-runner__age-and-weight {
  display: none;
  text-align: center;
  @include flex(0 0 5em);
  @include flex-align-self(center, center);
  &.racecard-runner__age-and-weight--multiple-buttons {
    @include flex(0 0 4em);
    //---------- IE9 case
    @include old-ie {
      @include table-cell-width(4em);
    }
  }

  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    display: block;
    //---------- IE9 case
    @include old-ie {
      @include table-cell(middle, 5em);
    }
  }
}

.racecard-runner__age-and-weight--match-bet {
  display: none;
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    display: inline-block;
    line-height: 1.5;
    clear: both;
    .racecard-runner--second & {
      clear: both;
      float: right;
    }
  }
}

// tip-advisor
.racecard-runner__tip-advisor {
  @include flex(0 0 5em);
  text-align: center;
  @include flex-align-self(center, center);
  @include hyperlink();
  .racecard-runner__non-runner & {
    @extend %disableLink;
  }

  display: none;
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    display: block;
    @include flex-align-self(center, center);
    //---------- IE9 case
    @include old-ie {
      @include table-cell(middle, 5em);
    }
  }

  .result &{
    display: block;
    text-align: right;
    @include flex(0 15%);
    @include flex-align-self(flex-end, end);
    @include flex-direction(column, normal, vertical);
    padding-bottom: .2em;
    color: $link-blue-dark-color;
    i{
      color: #e0a402;
    }
    & + .racecard-runner__sp{
      @include flex(0 100%);
    }
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      @include flex-align-self(center, center);
      text-align: center;
      @include flex(0 0 5em);
      padding: 0;
      & + .racecard-runner__sp{
        @include flex(0 0 5em);
      }
      //---------- IE9 case
      @include old-ie {
        @include table-cell(middle, 5em);
      }
    }
  }
}

// Distance
.racecard-runner__distance{
  text-align: right;
  @include flex(0 100%);
  @include flex-align-self(flex-end, end);
  @include flex-direction(column, normal, vertical);
  padding-bottom: .2em;
  &:before{
    content: 'Dist: ';
    font-weight: bold;
  }

  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    @include flex-align-self(center, center);
    text-align: center;
    @include flex(0 0 5em);
    padding: 0;
    &:before{
      content: '';
    }
    &:last-child{
      @include flex(0 0 5.3em);
    }
    //---------- IE9 case
    @include old-ie {
      @include table-cell(middle, 5em);
    }
  }
}

// SP
.racecard-runner__sp{
  text-align: right;
  @include flex(0 40%);
  @include flex-align-self(flex-end, end);
  padding-bottom: .2em;
  &:before{
    content: 'SP: ';
    font-weight: bold;
  }

  &--greyhound{
    @include flex(0 100%);
  }

  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    @include flex-align-self(center, center);
    text-align: center;
    @include flex(0 0 5em);
    padding: 0;
    &:before{
      content: '';
    }
    &:last-child{
      @include flex(0 0 5.3em);
    }
    //---------- IE9 case
    @include old-ie {
      @include table-cell(middle, 5em);
    }
  }
}

// racing Tote win
.racecard-runner__tote-win {
  @include flex(0 50%);
  @include flex-align-self(center, center);
  @include flex-direction(column, normal, vertical);
  text-align: left;
  &:before{
    content: 'Tote Win: ';
    font-weight: bold;
  }

  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    &:before{
      content: '';
    }
    @include flex(0 0 5em);
    text-align: center;
    //---------- IE9 case
    @include old-ie {
      @include table-cell(middle, 5em);
    }
  }
}

// Total place
.racecard-runner__tote-place{
  //display: none;
  text-align: right;
  box-sizing: content-box;
  @include flex(0 50%);
  @include flex-align-self(center, center);
  &:before{
    content: 'Tote place: ';
    font-weight: bold;
  }


  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    &:before{
      content: '';
    }
    text-align: center;
    @include flex(0 0 7em);
    padding-left: $button-left-margin;
    //---------- IE9 case
    @include old-ie {
      @include table-cell(middle, 7em);
    }
  }
}

.racecard-runner__age-and-weight--match-bet {
  display: none;
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    display: inline-block;
    line-height: 1.5;
    clear: both;
    .racecard-runner--second & {
      clear: both;
      float: right;
    }
  }
}

// racing post RP
.racecard-runner__racing-post-container {
  @include flex(0 0 5em);
  @include flex-align-self(center, center);
  @include flex-direction(column, normal, vertical);
  text-align: center;
  &.racecard-runner__racing-post-container--multiple-markets {
    @include flex(0 0 4em);
    display: inline-block;
    text-align: right;
    margin-top: px_to_em(8);

    //---------- IE9 case
    @include old-ie {
      float: right;
      width: 4em;
      max-width: 4em;
      margin-top: px_to_em(24);
      @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
        @include table-cell(middle, 4em);
        float: none;
      }
    }

    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      text-align: center;
    }
  }

  display: none;
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    display: block;
    //---------- IE9 case
    @include old-ie {
      @include table-cell(middle, 5em);
    }
  }
}
.racecard-runner__racing-post-rating {
  @include racing-post-rating(30px, $border-gray-color);
}
.racecard-runner__racing-post-rating--highest {
  @include racing-post-rating(30px, $border-gray-color, $white, $border-gray-color);
}
.racecard-runner__racing-post-rating,
.racecard-runner__racing-post-rating--highest {
  font-size: 12px;
  padding-top: 8px;
}
.racecard-runner__spotlight {
  line-height: 1.8;
  .racecard-runner__non-runner & {
    @extend %disableLink;
  }
}
.racecard-runner__spotlight--multiple-markets {
  display: none;
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    display: inline-block;
  }
}

// previous prices
.racecard-runner__previous-prices {
  @include flex(0 0 $previous-prices-column-width);
  @include flex-align-self(center, center);
  @include flex-justify-content(flex-end, end);
  text-align: right;
  white-space: nowrap;
  overflow: hidden;

  &.racecard-runner__previous-prices--greyhound {
    @include flex(0 0 $previous-prices-column-width--greyhound);
    //---------- IE9 case
    @include old-ie {
      @include table-cell-width($previous-prices-column-width--greyhound);
    }
  }

  display: none;
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    display: block;
    //---------- IE9 case
    @include old-ie {
      @include table-cell(middle, $previous-prices-column-width);
    }
  }

}

.racecard-runner__previous-price {
  display: inline-block;
  &:before {
    content: ", ";
  }
  &:first-child:before {
    content: none;
  }
}
.racecard-runner__previous-prices-container {
  @include flex(1 0 50%);
  text-align: right;
  //---------- IE9 case
  @include old-ie {
    width: 50%;
    float: right;
    line-height: 2;
  }
}
.racecard-runner__previous-prices--extra-details {
  display: inline-block;
  &:before {
    content: "Prev: ";
    float: left;
    padding-right: px_to_em(4,12);
    @extend %textLabel;
  }
}

// buttons container for pro racecard, betting without, and place markets
.racecard-runner__column-buttons {
  @include flex(0 0 100%);
  @include flexbox();
  @include flex-justify-content(space-between, justify);
  @include flex-align-items(stretch, stretch);
  padding-top: 0.75em;
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    padding-top: 0;
    @include flex-align-items(center, center);
    &.racecard-runner__column-buttons--2-markets {
      @include flex(0 0 $two-markets-container-width);
    }
    &.racecard-runner__column-buttons--3-markets {
      @include flex(0 0 $three-markets-container-width);
    }
    &.racecard-runner__column-buttons--4-markets {
      @include flex(0 0 $four-markets-container-width);
    }
    &.racecard-runner__column-buttons--5-markets {
      @include flex(0 0 $five-markets-container-width);
    }
  }

  //---------- IE9 case
  @include old-ie {
    display: table;
    table-layout: fixed;
    width: 100%;
    clear: both;
    padding-top: 0.25em;
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      @include table-cell(middle);
      &.racecard-runner__column-buttons--2-markets {
        @include table-cell-width($two-markets-container-width);
      }
      &.racecard-runner__column-buttons--3-markets {
        @include table-cell-width($three-markets-container-width);
      }
      &.racecard-runner__column-buttons--4-markets {
        @include table-cell-width($four-markets-container-width);
      }
      &.racecard-runner__column-buttons--5-markets {
        @include table-cell-width($five-markets-container-width);
      }
    }
  }

}

.racecard-runner__non-runner-text {
  @include flex-align-self(center, center);

  //---------- IE9 case
  @include old-ie {
    @include table-cell(middle, $button-width);
  }
  
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    @include flex(0 0 $non-runner-text-width);
    text-align: center;
    //---------- IE9 case
    @include old-ie {
      @include table-cell-width($non-runner-text-width);
    }
    &.racecard-runner__non-runner-text--single-market {
      @include flex(0 0 $non-runner-text-width--single-market);
      //---------- IE9 case
      @include old-ie {
        @include table-cell-width($non-runner-text-width--single-market);
      }
    }
    &.racecard-runner__non-runner-text--greyhound {
      @include flex(0 0 $non-runner-text-width--greyhound);
      //---------- IE9 case
      @include old-ie {
        @include table-cell-width($non-runner-text-width--greyhound);
      }
    }
  }

  &.racecard-runner__non-runner-text--multiple-markets {
    @include flex(0 0 100%);
    @include flexbox();
    @include flex-align-items(center, center);
    @include flex-justify-content(center, center);
    height: px_to_em(32,12);
    margin-top: 0.75em;
    //---------- IE9 case
    @include old-ie {
      display: block;
      width: 100%;
      max-width: 100%;
      text-align: center;
      line-height: 2;
      clear: both;
      @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
        @include table-cell(middle);
      }
    }
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      padding-top: 0;
      &.racecard-runner__non-runner-text--2-markets {
        @include flex(0 0 $non-runner-text-width--two-markets);
        //---------- IE9 case
        @include old-ie {
          @include table-cell-width($non-runner-text-width--two-markets);
        }
      }
      &.racecard-runner__non-runner-text--3-markets {
        @include flex(0 0 $non-runner-text-width--three-markets);
        //---------- IE9 case
        @include old-ie {
          @include table-cell-width($non-runner-text-width--three-markets);
        }
      }
      &.racecard-runner__non-runner-text--4-markets {
        @include flex(0 0 $non-runner-text-width--four-markets);
        //---------- IE9 case
        @include old-ie {
          @include table-cell-width($non-runner-text-width--four-markets);
        }
      }
      &.racecard-runner__non-runner-text--5-markets {
        @include flex(0 0 $non-runner-text-width--five-markets);
        //---------- IE9 case
        @include old-ie {
          @include table-cell-width($non-runner-text-width--five-markets);
        }
      }
    }
  }
  
}

.racecard-runner__non-runner-text--simple {
  text-align: center;
  @include flex(0 0 $button-width);
  &--2-columns {
    @extend .racecard-runner__non-runner-text--simple;
    @include flex(0 0 $two-markets-container-width);
    //---------- IE9 case
    @include old-ie {
      width: $two-markets-container-width;
      max-width: $two-markets-container-width;
    }
  }
  //---------- IE9 case
  @include old-ie {
    @include table-cell(middle, $button-width);
  }
}

.racecard-runner__non-runner-text--highlights {
  margin-left: auto;
  text-align: center;
  @include flex(0 0 5em);
  //---------- IE9 case
  @include old-ie {
    @include table-cell(middle, 5em);
  }
}

.racecard-runner__extra-details {
  @include flexbox();
  @include flex-wrap();
  @include flex-justify-content(flex-start, start);
  @include flex-align-content(space-between, justify);
  @include flex-align-items(center, center);

  max-height: 0;
  overflow: hidden;
  @include transition(max-height ease-out .7s);

  &.-expanded {
    display: flex;
    padding-top: px_to_em(8,12);
    max-height: 200px;
    //---------- IE9 case
    @include old-ie {
      display: block;
    }
  }
}

.racecard-runner__selection-table {
  margin-top: .5em;
  width: 100%;

  td {
    border: 1px solid $border-gray-color;
    text-align: center;
    padding: .25em .5em;

    &.-nonmobile {
      display: none;
    }

    &.racecard-runner__selection--even {
      background-color: #eef1f3;
    }
    &.racecard-runner__selection--featured {
      font-weight: bold;
    }

    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      &.-nonmobile {
        display: table-cell;
      }
    }

  }
  thead {
    td {
      background-color: $mercury;
      font-weight: bold;
    }
  }
}

.racecard-runner__notes {
  @include flex(0 0 100%);
  line-height: 1.4;
  padding-top: px_to_em(8,12);
  //---------- IE9 case
  @include old-ie {
    display: block;
    clear: both;
  }
}

// Age and weight in extra details section
.racecard-runner__age-weight {
  @include flex(0 0 px_to_em(108,12));
  //---------- IE9 case
  @include old-ie {
    display: inline-block;
    width: px_to_em(108,12);
    float: left;
    line-height: 2;
  }
}
.racecard-runner__age-weight-label {
  @extend %textLabel;
}
.racecard-runner__racing-post-rating--extra-details {
  @include racing-post-rating(1.83em, $border-gray-color);
}
.racecard-runner__racing-post-rating--highest--extra-details {
  @include racing-post-rating(1.83em, $border-gray-color, $white, $border-gray-color);;
}
.racecard-runner__racing-post-rating--highest--extra-details,
.racecard-runner__racing-post-rating--extra-details {
  @include flex(0 0 auto);
  padding-top: 3px;
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    display: none;
  }

  //---------- IE9 case
  @include old-ie {
    float: left;
  }
}

// Rows for Next Off racecard runners
.racecard-runner__row {
  @include flexbox();
  @include flex-justify-content(flex-start, start);
  @include flex-align-items(center, center);
  &.racecard-runner__row--first {
    @include flex-align-items(flex-start, start);
    //---------- IE9 case
    @include old-ie {
      margin-bottom: 12px;
    }
  }
  //---------- IE9 case
  @include old-ie {
    display: table;
    width: 100%;
  }
}

// ------------------------------------------------
// Racecard Buttons

.racecard__button {
  height: px_to_em(32,12);

  &.racecard__button--single {
    @include flex(0 0 $button-width);
    @include flex-align-self(flex-end, end);
    margin-left: $button-left-margin;
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      @include flex-align-self(center, center);
    }
    //---------- IE9 case
    @include old-ie {
      @include table-cell(middle, $button-width+$button-left-margin);
      padding-left: $button-left-margin;
    }
  }

  &.racecard__button--multi {
    @include flex(1 0);
    min-height: px_to_em(32,12);
    height: 100%;
    margin-left: $button-left-margin;

    @include flexbox();
    @include flex-align-items(stretch, stretch);
    @include flex-direction(column, normal, vertical);

    //---------- IE9 case
    @include old-ie {
      @include table-cell(middle);
      padding-left: $button-left-margin;
      height: 32px;
      @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
        display: inline-block;
        float: left;
        width: $button-width--narrow;
        padding-left: 0;
        .racecard-runner__column-buttons--2-markets & {
          width: $button-width;
        }
      }
    }

    .oddsbutton {
      @include flex(1 0);
      &.disabled {
        .racecard-button__description {
          &:before {
            color: $button-text-color;
          }
          &:after {
            font-size: 0.8em;
            @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
              font-size: 1em;
            }
          }
        }

      }

      //---------- IE9 case
      @include old-ie {
        max-width: auto;
      }

    }

    &:first-child {
      margin-left: 0;
      //---------- IE9 case
      @include old-ie {
        padding-left: 0;
      }
    }
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      @include flex-basis($button-width--narrow);
      height: px_to_em(32,12);
      margin-left: $button-left-margin;
      &:first-child {
        margin-left: $button-left-margin;
      }
    }

    .racecard-runner__column-buttons--4-markets &,
    .racecard-runner__column-buttons--5-markets & {
      .oddsbutton.disabled {
        &:after {
          content: "Susp.";
        }
        &[data-odds="W/O"] {
          &:after {
            content: "";
          }
        }
      }
    }
  }

  &.racecard__button--highlights {
    @include flex(0 0 $button-width--narrow);
    .racecard-runner__main-details--highlights-simple & {
      margin-left: auto; // to pin item to right of container
    }

    //---------- IE9 case
    @include old-ie {
      @include table-cell(middle, $button-width--narrow);
      text-align: center;
      padding: 0;
      .racecard-runner__main-details--unnamed-favourite & {
        padding: 0;
      }
    }

    // COMMENTED AS IT WAS OVERWRITTING ANIM.
    // COULD SEE WHY IT IS DEFINED SO PLEASE KEEP IT FOR NOW
    // span.racecard-button__price{
    //   display: inline-block;
    //   @include border-radius(3px);
    //   width: 50px;
    // }
    // .racecard-button__price{
    //   &:after{
    //     content: attr(data-odds);
    //     line-height: 32px;
    //     display: inline-block;
    //     text-align: center;
    //   }
    // }
  }

  .oddsbutton {
    &.disabled {
      @include suspended-market();
      &[data-odds="W/O"] {
        &:after {
          content: "";
        }
      }
    }
  }

  .disabled-market &,
  &.disabled-market,
  .disabled-event & {
    .oddsbutton {
      @include suspended-market();
      &[data-odds="W/O"] {
        &:after {
          content: "";
        }
      }
      .racecard-button__description:before {
        color: $button-text-color;
      }
    }

    .racecard-runner__column-buttons--4-markets &,
    .racecard-runner__column-buttons--5-markets & {
      .oddsbutton {
        &:after {
          content: "Susp.";
        }
        &[data-odds="W/O"] {
          &:after {
            content: "";
          }
        }
      }
    }
  }
  
}

.racecard__button--match-bet {
  @include flex(0 0 $button-match-bet);
  height: px_to_em(32,12);
  margin-left: auto; // to pin item to right of container
  @include transition(all 0.5s);
  .racecard-runner--second & {
    @include order(1);
    margin-left: 0;
    margin-right: auto; // to pin item to left of container
  }
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    @include order(4);
  }

  //---------- IE9 case
  @include old-ie {
    width: $button-match-bet;
    float: right;
    .racecard-runner--second & {
      float: left;
    }
  }

  .oddsbutton {
    &.disabled {
      @include suspended-market();
    }
  }
}

.racecard-button__price {
  &:after {
    content: attr(data-odds);
  }
}

.racecard-button__description {
  &:before {
    display: block;
    content: attr(data-description);
    font-size: 0.8em;
    color: $text-grey-color;
    .-shortest-price &,
    .active.oddsbutton & {
      color: $white;
    }
    @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
      display: none;
    }
  }
  &:after {
    display: block;
  }
  &[data-odds="W/O"]:before {
    color: $white;
  }
}

.racecard__button--sp {
  display: none;
  //---------- IE9 case
  @include old-ie {
    &.racecard__button--single {
      display: none;
      @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
        display: table-cell;
      }
    }
  }

  &.racecard__button--unnamed-favourite {
    display: block;
  }
  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    display: block;
  }
}

.racecard__button--unnamed-favourite {
  @include flex(0 0 $button-width);
}

.racecard__button--footer {
  @extend .button-secondary;
  line-height: 1;
}

// end Racecard Buttons
// ------------------------------------------------
