.racecard-header {
  text-align: center;
  height: px_to_em(40,12);
  width: 100%;
  background: $container-gray-light-bg-color;
  color: $text-blue-dark-color;
  font-size: px_to_em(12);
  font-weight: bold;
  min-height: px_to_em(40,12);
  padding: 0.25em 0;
  display: none;

  @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
    display: table;
    position: relative;

    &:before, &:after{
      content: '';
      display: block;
      width: 30px;
      height: 100%;
      background: $container-gray-light-bg-color;
      position: absolute;
      top: 0;
      z-index: 0;
    }

    &:before{
      left: -30px;
    }

     &:after{
      right: -30px;
    }
  }

  div, 
  span,
  h1 {
    @include table-cell();
  }

	&--antepost,
	&--specials {
		min-height: px_to_em(20,12);
    height: px_to_em(20,12);
	}

  &__market-name {
    font-size: px_to_em(14,12);
    padding-left: 0.5em;
  }
  &__pos {
    @include table-cell-width(4em);
    text-align: left;
    padding-left: 0.5em;
  }
  &__number {
    @include table-cell-width(4em);
    text-align: left;
    padding-left: 0.5em;

    &--simple {
      @include table-cell-width(3em);
    }

    &--greyhound {
      @include table-cell-width(5em);
    }
    &--match-bets {
      @extend .racecard-header__number;
      @include table-cell-width(4.5em);
    }
    &--match-bets-horse-2 {
      text-align: right;
      padding-right: 0.5em;
      padding-left: 0;
    }

  }
  &__draw {
    @include table-cell-width(px_to_em(40,12));
    text-align: left;
    &--match-bets {
      @include table-cell-width(4.5em);
      text-align: center;
    }
  }
  &__selection {
    padding-left: px_to_em(8,12);
    text-align: left;

    &--greyhound {
      padding-left: px_to_em(4,12);
      text-align: left;
    }

    &--match-bets {
      padding-left: 0.5em;
    }

  }
  &__sp,
  &__distance,
  &__tip-advisor,
  &__tote-win,
  &__age-weight,
  &__tip-advisor,
  &__racing-post {
    @include table-cell-width(5em);
  }

  &__racing-post {
    &--multiple-markets {
      @include table-cell-width(4em);
    }
  }
  &__previous-prices {
    @include table-cell-width($previous-prices-column-width);
    text-align: right;
    &--greyhound {
      @include table-cell-width($previous-prices-column-width--greyhound);
      text-align: right;
    }
  }

  &__price,
  &__sp:last-child{
    @include table-cell-width($button-width);
    padding-left: $button-left-margin;
    box-sizing: content-box;
  }

  .result &{
    .racecard-header__sp:last-child{
      padding-left: 0;
    }
  }

  &__tote-place {
    @include table-cell-width(7em);
    padding-left: $button-left-margin;
    box-sizing: content-box;
  }

  &__markets {
    &--2-markets {
      @include table-cell-width($two-markets-container-width);
    }
    &--3-markets {
      @include table-cell-width($three-markets-container-width);
    }
    &--4-markets {
      @include table-cell-width($four-markets-container-width);
    }
    &--5-markets {
      @include table-cell-width($five-markets-container-width);
    }
  }

}
