$breakpoint_publishing_banner: 600;

.cpt-streaming{
	font-size: 12px;
	margin-bottom: px_to_em(8, 12);
  	@include flexbox();
    @include flex-justify-content(space-between);
    @include flex-direction(column);

	@include breakpoint(px_to_em($breakpoint_publishing_banner)) {
	  @include flex-direction(row);
	}
	
	//----- Default case, no video
	&__information{
		p{
			margin-bottom: px_to_em(8, 12);
		}
		h2{
			margin-bottom: px_to_em(4, 12);
			font-weight: bold;
			span{
				font-weight: normal;
			}
		}
		h3 {
			margin-bottom: px_to_em(12, 12);
		}
		h2, h3, p {
			line-height: 1.3;
		}
		@include breakpoint(px_to_em($breakpoint_publishing_banner)) {
			padding-right: px_to_em(8, 12);
			width: 100%;
			.cpt-streaming--video &{
				width: 40%;
			}
		}
	}

	//----- Video case (with)
	&__video{

	  flex: 1 100%;

	  .cpt-streaming--video &{
		  display: block;
		  .jwplayer{
			  @include box-sizing(border-box);
			  border: solid 1px black;
		  }
		  @include breakpoint(px_to_em($breakpoint_publishing_banner)) {
			  width: 60%;
		  }
	  }

	  .streaming-player-error {

		background-color: $container-blue-bg-color;
		color: $text-white-color;
		font-size: 1.25em;
		padding: 3em;
		text-align: center;

		@include breakpoint(px_to_em($breakpoint_publishing_banner)) {
		  padding: 3em;
		}

		i {
		  font-size: 1.5em;
		}

		span {
		  width: 100%;
		  display: block;
		  margin-top: 1em;
		  font-size: 1.25em;
		}

	  }

	}

	&--video{
		@include breakpoint(px_to_em($breakpoint_publishing_banner)) {
			@include flexbox();
		}
	}


}
