.grouping-header {
	//@extend .race-nav__group-header;
	background-color: $header-blue-dark-bg-color;
  border-bottom: 1px solid $white;
  color: $white;
  font-size: 12px;
  height: px_to_em(40, 12);
  display: table;
  width: 100%;
	&__name {
		padding: 0 px_to_em(8, 12);
		display: table-cell;
		vertical-align: middle;
		//@extend .race-nav__group-header-name;
	}

	&__toolbar {
		@extend .race-nav__group-header-toolbar;
	}
	
}