//LOOK FOR ->  'ATTENTION COMMENT ' eg: positioning 

/* ===================
  PUPLISHING BANNER:
  component to display video / images / content
==================== */
$button-width: 5.3em;
$button-priced-banner: 7.5em;
$breakpoint_publishing_banner: 600;
$racing-show-nav-breakpoint: 1260;

//============================
// MAIN CONTAINER
.publishing-banner-container{}


//============================
// GROUP CONTAINING 2 BANNERS
.group-publishing-banner{
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 100%;
  border-collapse: collapse;

  @include breakpoint(px_to_em($racing-show-nav-breakpoint)) {
    &:first-child{
      margin-top: 0;
    }
  }
}


//============================
// ARTICLE BLOCK
.publishing-banner{
  font-size: 12px;
  position: relative;
  margin-bottom: px_to_em(24, 12);

  // priced component has to stay sticked to its tween: no margin bottom or negative one(depending on its order in the flow)
  &.priced-component{
    &:first-child{
      margin-bottom: 0;
    }
    &:last-child:not(.priced-component--alone){
      margin-top: px_to_em(-24, 12);
    }
  }

  @include breakpoint(px_to_em($breakpoint_publishing_banner)) {
    display: table-cell;
    vertical-align: top;


    &.topbets{
      width: 50%;
    }

    // Shifter allows to add some margin (against table-cell display)
    .shifter{
      background: $white;
      margin: 0 px_to_em(4, 12) px_to_em(8, 12) 0;
      height: calc(100% - 8px);
      // Allows FF to calculate the height correctly
      &--to-extend{
        display: table;
        width: calc(100% - 4px);
      }
    }

    // Shifter--twin: for groups without gutter
    .shifter--twin{
      height: calc(100% - 8px);
      background: $white;
      margin: 0 px_to_em(-4, 12) px_to_em(8, 12) 0;
      position: relative;

      &.shifter--to-extend{
        margin: 0 0 px_to_em(8, 12) 0;
        .publishing-banner__footer{
          right: 0;
        }
      }

    }

    // For the last child the margin is on the left (not on the right)
    &:last-child{
      .shifter{
        margin: 0 0 px_to_em(8, 12) px_to_em(4, 12);
        .publishing-banner__footer{
          right: 0;
          left: px_to_em(4, 12);
          bottom: px_to_em(8, 12);
        }
      }

      .shifter--twin:not(.shifter--to-extend){
        margin: 0 0 px_to_em(8, 12) px_to_em(-4, 12);
      }

      .shifter--twin.shifter--to-extend{
        margin: 0 0 px_to_em(8, 12) px_to_em(4, 12);
        .publishing-banner__footer{
          right: 0;
        }
      }

    }
  }
  //======= container video: JWPLAYER
  &__video-container{
    width: 100%;
  }

  &__video{
    background: $mine-shaft;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
  }

  //======= container audio: JWPLAYER
  &__audio-container{
    //margin: px_to_em(16, 12) 0;
    @include flexbox();
    @include flex-align-self(flex-end, end);
    padding: px_to_em(8, 12);

  }

  //======= container playlist: title + swiper
  &__video-playlist{
    background: $white;
    padding: px_to_em(8, 12);
    position: relative;

    //title inside swiper-slide
    .related_video__title{
      padding: px_to_em(8, 12) 0;
    }
  }

  &__video-playlist-title{
    padding: px_to_em(8, 12) 0;
    font-weight: bold;
  }

  //======= container content: title + copy
  &__content{
    padding: px_to_em(8, 12);
    background: $white;

    p{
      font-size: 1em;
      line-height: 1.5;
    }

    &+&__list li:nth-child(even) {
        background: $promenade;
    }
  }

  &__content-title{
    line-height: px_to_em(40, 12);
    font-size: 1em;
    font-weight: bold;
  }

  &__content-subtitle{
    font-weight: bold;
    margin-bottom: px_to_em(8, 12);
  }

  &__content-cta{
    margin-top: px_to_em(8, 12);

    &.right{
      text-align: right;
    }

    .button{
      height: auto;
    }
  }

  //======= 
  &__image--priced-banner{
    display: none;
    @include breakpoint(px_to_em($breakpoint_publishing_banner)) {
      display: block;
    }
  }

  //======= Content above the backgournd image in priced-banner (no-gutter element)
  &__priced-banner-content{
    @include breakpoint(px_to_em($breakpoint_publishing_banner)) {
      // ATTENTION COMMENT 
      // position: absolute;
      // bottom: 0;
      // left: 0;
      // right: 0;
    }
  }

  //======= Content above the backgournd image in priced-banner (no-gutter element)
  &__priced-banner-title{
    @include flexbox();
    @include flex-justify-content(space-between, justify);
    @include flex-align-items(center, center);
    background-color: $white;
    border-bottom: 1px solid $white;
    color: $text-blue-dark-color;
    font-size: 18px;
    height: px_to_em(40, 18);
    padding: px_to_em(8, 18);
    font-weight: bold;
    position: relative;
  }

  //======= Copy with CTA in priced banner
  &__priced-banner-copy{
    background: rgba(0, 0, 0, .6);
    padding: px_to_em(8, 14);
    @include flexbox();
    @include flex-justify-content(space-between, justify);
    @include flex-align-items(center, center);
  }

  //======= Copy with CTA in priced banner
  &__priced-banner-copy-title{
    font-weight: bold;
    font-size: 18px;
    color: $white;
    span{
      color: $supernova;
    }
  }

  //======= Copy with CTA in priced banner
  &__priced-banner-cta{
    @include flex(0 0 103px);
    margin: 0 -1em 0 1em;
    a{
      font-size: 18px;
      padding: px_to_em(4, 18) px_to_em(8, 18);
    }
  }

  //======= Header for banner with List
  &__header{
    @include flexbox();
    @include flex-justify-content(space-between, justify);
    @include flex-align-items(center, center);
    background-color: $header-blue-dark-bg-color;
    border-bottom: 1px solid $white;
    color: $white;
    font-size: 14px;
    height: px_to_em(40, 14);
    padding: px_to_em(8, 14);
    font-weight: bold;
    position: relative;
  }

  //======= title with bg color above the list with bets'buttons
  &__title-list{
    @include flexbox();
    @include flex-justify-content(space-between, justify);
    @include flex-align-items(center, center);
    background-color: $header-blue-dark-bg-color;
    border-bottom: 1px solid $white;
    color: $white;
    font-size: 12px;
    height: px_to_em(30, 14);
    padding: px_to_em(8, 14);
    font-weight: bold;
    position: relative;
  }

  //=======
  &__list{
    background-color: $white;
    color: $text-blue-dark-color;
    font-size: 12px;
    position: relative;

    li{
      min-height: px_to_em(64, 14);
      padding: 0 px_to_em(8, 12);
      font-weight: bold;
      clear: both;

      &:nth-child(odd) {
        background: $promenade;
      }

    }

    .oddsbutton {
      float: right;
      width: px_to_em(64, 12);
      margin-top: px_to_em(8, 12);
      & > span:after{
        content: attr(data-odds);
      }
    }

    @include breakpoint(px_to_em($breakpoint_publishing_banner)) {
      // force a margin to be sure sure there is no overlapping
      margin-bottom: px_to_em(45, 14);
    }
  }

  //======= Title in the list item
  &__list-title{
    float: left;
    padding: px_to_em(8, 12) 0;
    width: calc(100% - 64px);
  }

  //======= Footer of the banner
  &__footer{
    @include flexbox();
    @include flex-justify-content(center, center);
    @include flex-align-items(center, center);
    @include flex-align-self(flex-end, end);
    background-color: $white;
    border-bottom: 1px solid $white;
    color: $text-blue-dark-color;
    font-size: 14px;
    height: px_to_em(40, 14);
    padding: 0 px_to_em(8, 14);
    font-weight: bold;

    @include breakpoint(px_to_em($breakpoint_publishing_banner)) {
      position: absolute;
      right: px_to_em(4, 12);
      left: px_to_em(4, 12);
      bottom: px_to_em(8, 12);
    }
  }

}

.racecard__button--publishing-banner {
  display: table-cell;
  padding-right: px_to_em(8, 12);
  vertical-align: middle;
}
