$breakpoint-big      : px_to_em(1190);
$breakpoint-medium   : px_to_em(570) px_to_em(1079);

@mixin event-info-non-mobile-layout {
  .event__main {
    width: 45%;
    float: left;
    margin-right: 0;
    margin-bottom: 0;
  }

  .event__side {
    width: 47%;
    clear: none;
    right: 40px;
    top: 12px;
    position: absolute;
  }

  .market__bettingblock {
    padding-right: 0;
  }

  .subheader > .x3.subheader__inner {
    width: 47%;
    margin-right: 40px;
    padding-left: 0;
    h3 {
      margin-left: 0.7em;
      margin-right: 0;

      //---------- IE9 case
      @include old-ie {
        margin-left: 0;
        padding: 0;
        float: left;
      }
    }
  }
}


div.highlightsmarket.marketW
 {

  &.win-draw-win{
    .markettable__event {
      position: relative;
    }

    .event__main {
      width: auto;
      margin-right: px_to_em(40, 12);
      margin-bottom: px_to_em(4, 12);
      float: none;
    }


    .event__option {
      &.eventopenoptions {
        display: inline-block;
        position: relative;
        top: auto;
        right: auto;
      }
      &:hover {
        color: lighten($eastern-blue, 5%);
      }
    }

    .event__side{
      padding-top: $box-margin-sm;
      width: 100%;
    }

    .subheader > .x3.subheader__inner {
      width: 100%;
    }

    @include breakpoint($breakpoint-medium) {
      @include event-info-non-mobile-layout;
    }

    @include breakpoint($breakpoint-big) {
     @include event-info-non-mobile-layout;
    }

  }
}