/*

  SIDE MARKETS
  - This is for the 'most popular' and 'coupons' sections - usually on the highlights pages
  - Coupons styles use the '-coupon' modifier
  - I was very tempted to use flexbox for the 'columns', but want to make sure there is enough
    compatibility for them first...

*/

.sidemarket {
  background-color: $container-white-bg-color;
  margin-bottom: px_to_em(12,16);
  width: 100%;

  // widescreen
  @include breakpoint($breakpoint-9) { width: px_to_em(349, 12); }

  .sidemarket__wrapper {
    padding: 1px 1px 0;
  }

  .sidemarket__event {
    border-bottom: 1px solid $border-blue-color;
    min-height: px_to_em(57, 12);
    overflow: auto;
    padding: $baseGutter 0;
    position: relative;

    @include transform-style(preserve-3d);

    &.-coupons {
      padding: ($baseGutter*2) 0;
    }
  }

  .sidemarket__footer {
    background-color: $container-white-bg-color;
    border-bottom: 1px solid $border-white-color;
    padding: ($baseGutter*2) 0;
    text-align: center;
  }

  /*
    These are the 'columns' that will contain the icons, 
    match details and colum actions (page link or bet button)
  */
  [class^="column"] {
    float: left;
  }

  .column__identifier {
    text-align: center;
    width: px_to_em(60,12);

    &.-coupons {
      width: px_to_em(48, 12);
      @include vertical-align;
    }

    .identifier__number {
      color: $text-grey-color;
      padding-bottom: ($baseGutter * 1.5);
    }
    i {
      color: $text-grey-color;
      font-size: 1.5em;
    }
  }

  .column__match {
    width: auto;
    min-width: px_to_em(210, 12);

    &.-coupons {
      left: px_to_em(48,12);
      position: relative;
    }

    .match__header {
      font-weight: bold;
      padding-bottom: $baseGutter;

      &.-coupons {
        color: $link-blue-color;
        display: inline-block;
      }
    }
    .match__link,
    .match__time { display: block; }
    .match__link { padding-bottom: $baseGutter; }
    .match__time,
    .match__details { color: $text-grey-color; }
  }

  .column__action {
    min-width: px_to_em(57, 12);
    margin: 0; //px_to_em(15, 12);
    right: px_to_em(15, 12);

    @include vertical-align;

    .match__link {
      &.-coupons {
        font-size: 2em;
        position: absolute;
        right: 0;
        top: -($baseGutter*1.5);
        @include rotate(-90deg);
      }
    }
  }
}

// Override Top Bets Widget CSS
div.topbets {

  color:#333;
  width: 100%;

  .topbets-header {
    border-bottom-color: $border-blue-dark-color;
    padding-bottom: 9px;
    margin-bottom:0;

    @include breakpoint($breakpoint-3) {
      padding-bottom: 0;
    }
  }
  .topbets-contentbox {
    border:0;
    border-bottom:1px solid white;
    background-color: $container-white-bg-color;

    .topbets-menu {
      background:#F5F5F5;
      border:0;
      border-bottom:1px solid silver;

      li {
        margin: 0;
        width: 16.666%;
        > a {
          width: 100%;
        }
        &.current {
          background-position-x: 11px;
        }

      }
    }
    .topbets-list-home{
      border:0;
    }
    .topbets-menu-title{
      border:0;
      display:none;
    }

    .topbets-list {
      li {
        border:0;
        border-bottom:1px solid silver;

        .topbets-list-element {
          position: relative;

          $topbets-number-width: 50px;

          .topbets-number {
              position:absolute;
              width:$topbets-number-width;
              background-position: -7px -9px;
          }
          div.topbets-content {
            padding-left:$topbets-number-width;
            padding-right:15px;
            width: 100%;

            .topbets-event-data {
              a {
                color: $link-blue-color;
              }
            }
            .topbets-prop {
              float: right;
              margin-top: 2px;
              min-width: 90px;
              background-image:none;
              height:auto;
              border:none;
              @extend .button-standard;
              @include breakpoint($breakpoint-5) {
                aside & {
                  .-competitions &,
                  .-matches & {
                    float: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    .topbets-buttons {
      padding: 15px;
      border:0;

      .topbets-viewall,
      .topbets-loadmore{
        font-weight:bold;
        text-transform: none;
        border-radius:0.25em;
        width: 100%;
        background: whitesmoke;
        color: $link-blue-color;
        :hover{
          background: darken($button-green-bg-color, 5%);
        }
      }

    }

    .competitions, .matches {
      @include breakpoint($breakpoint-3-flip) {
        .topbets-prop {
          float: left;
          margin-top: 5px;
          position: relative;
          right: 0;
        }
      }
    }
  }
}

#topbets-home{
  margin-bottom:1em;
  div.topbets-content{
    width: 100% !important; // JC over-riding !important flag in squiz css
  }
  div.topbets-buttons{
    border:0;
  }
  div.no-topbets{
    border:0;
  }
  .topbets-list{
    .topbets-list-home {
      li {
        &.odd {
          width: 50%;
          margin-right: 0;
          border-right: 1px solid silver;
        }
        &.even {
          margin-left: 0;
          width: 50%;
        }
      }
    }
  }
}