.mask {

  &.-home {
    @include twocol(264);

    .column__secondary-wrapper {
      @include flexbox();
      @include flex-direction(column);

      .freeBets {
        @include order(2);

        @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
          @include order(1);
        }
      }

      .tabs__panels--topbets {
        @include order(1);

        @include breakpoint(px_to_em($racing-desktop-breakpoint)) {
          @include order(2);
        }
      }
    }

  }

}
